[2021-11-01 17:14] jmkiley commented on #797
Hello @doriansgithub  -

Thank you for reaching out. I am not able to replicate this issue. Could you confirm whether your [credentials are configured](https://docs.mapbox.com/ios/maps/guides/install/) for downloading via CocoaPods? For the direct download, are you appending your access token to the download URL (i.e. https://api.mapbox.com/downloads/v2/mobile-maps/releases/ios/packages/6.4.0/mapb

[2021-11-01 17:21] doriansgithub commented on #797
Thanks for getting back. I’ll check the direct link. But for the pods I have the plist configured correctly.

I’ll double check everything and let you know.

Thanks!

Sent from my iPhone

[2021-11-02 07:23] georgbachmann commented on #784
Awesome! Thank you! Can you give an ETA on when that will be released?
Cheers,
Georg

[2021-11-02 14:33] endanke commented on #788
@Ogerets originally you mentioned that the issue was first noticed in `v10.0.1`. Do you also have a sample to reproduce it there? We can backport the fix if needed, but primarily we would need to verify the issue in the newer version.

[2021-11-02 15:26] Ogerets commented on #788
@endanke Yes, sure. [Here](https://github.com/Ogerets/mapbox-convert-issue/tree/v10) it is. Sorry, I put the link to main branch in the issue description instead of `v10` branch.

[2021-11-02 19:58] DntPullALockett opened #804 "[MGL_MMEEventsManager isEnabled] Crash on iOS 15"
## Environment

- Xcode version: 13.0
- iOS version: 15.0 +
- Devices affected: All
- Maps SDK Version: 6.4.0

## Observed behavior and steps to reproduce
Found a crash on my Crashlytics dashboard,

## Expected behavior

## Notes / preliminary analysis
No additional logs showing

## Additional links and references
<img width="1282" alt="Screen Shot 2021-11-02 at 4 00 05 PM" src="https://user-image

[2021-11-02 19:59] DntPullALockett commented on #804
@ZiZasaurus

This is still happening with 6.4.0

[2021-11-02 20:03] DntPullALockett commented on #804
@carlbales-rccl

[2021-11-03 10:52] AndreasVerhoeven opened #806 "PointAnnotation.image ignores dynamically generated UIImages"
I'm trying to figure out how to add a marker to the map with a title below it. This turns out to be an exercise in frustration: the v10 SDK seems to lack major features from the previous SDK unfortunately and requires us to rewrite large parts of our code for no gain at all (in fact, the user and developer experience is getting worse).

Right now, our plan is to use a PointAnnotation with a pre-re

[2021-11-03 11:19] AndreasVerhoeven commented on #806
It seems that images must be smaller than 42 points in width, otherwise they don't show up. How do we add labels to markers?

[2021-11-03 12:11] endanke commented on #788
@Ogerets we've investigated this a bit further, thank you for the examples! Your illustration is on point, it seems like this is pretty much the reason for the issue. Unfortunately it's not a new bug, but a design limitation and it wasn't properly communicated in the documentation of this API.

Currently it's not clear how much effort would it take to rework the implementation of this function. Co

[2021-11-03 12:36] MaciejPachciarekSMT commented on #610
Hi @ZiZasaurus
Can you tell me now what is the equivalent of `mapView.camera.options.bounds!.southwest` in mapBox v10.0.1.
As I see there is no `options` property in camera object. I see there is method `mapView.mapboxMap.cameraBounds.bounds.southwest` however it always return wring value

[code]

[2021-11-03 14:56] Ogerets commented on #788
@endanke Got it. Thank you for the response!
My use-case: I'm showing a few nearby objects outside the mapView as icons at the edge of mapView.
Originally my flow was
1. I convert object coordinates into the view point. It gives me a line segment between center of mapView & this point
2. Then I calculate the intersection of this line segment and screen boundaries to put icon at

Now I am thinking

[2021-11-03 15:44] vesh93 commented on #804
There is an issue in iOS 15.0, but I'll look into ways to mitigate it in [MME iOS](https://github.com/mapbox/mapbox-events-ios).

[2021-11-03 16:04] ZiZasaurus commented on #806
@AndreasVerhoeven, I'm unable to reproduce this behavior by replacing [these lines](https://github.com/mapbox/mapbox-maps-ios/blob/main/Apps/Examples/Examples/All%20Examples/MultiplePointAnnotationsExample.swift#L30-L32) with your dynamically generated image on the latest version of our SDK. Could you please provide a minimal test case?

[2021-11-03 16:23] macdrevx commented on #806
I think the root cause of this issue is the same as in #416 and #600 which were fixed in v10.1.0-rc.1. @AndreasVerhoeven when you verify with the latest version, be sure to try that version or later.

[2021-11-03 16:29] AndreasVerhoeven commented on #806
@macdrevx there doesn't seem to be a newer release than `v10.0.1` available .The current release we got thru Cocoapods still has this issue. How do we get this version?

SDK v10 seems far from production ready for us, but the old SDK is already deprecated and unsupported? We're pretty disappointed with mapbox at the moment.

[2021-11-03 19:56] jmkiley commented on #605
Tested out getting the coordinate bounds with two methods, both of which seem to return the wrong value when the map is tilted or rotated.

`MapboxMap.coordinateBounds(for: CGRect)` does seem related to https://github.com/mapbox/mapbox-maps-ios/issues/788, since it uses `MapboxMap.coordinate(for: CGPoint)` to call `[MBMCameraManager coordinateForPixel:]`.

`MapboxMaps.coordinateBounds(for: CameraO

[2021-11-03 20:46] ohjonah commented on #653
@1ec5 - just to confirm, if an unsupported language is passed in, since an exception is returned, on exception, they should be setting a supported language? Or when this function is called, is there a default locale behavior?

[2021-11-03 20:55] 1ec5 commented on #653
As of mapbox/mapbox-maps-ios#752, if the system is set to an unsupported locale like Bengali and you pass `Locale.current` into `Style.localizeLabels(into:forLayerIds:)`, the method will throw an error. You could try to pass in each of the remaining locales in `Locale.preferredLanguages` until one of them doesn’t throw. But if all of the locales are unsupported, for example because the Bengali spe

[2021-11-03 22:49] jcfrk101 opened #809 "Incremental Compilation does not work in xCode 13 with new version of maps 10.0 and Navigation 2.0"
## Environment

- Xcode version:
- iOS version:
- Devices affected:
- Maps SDK Version:

## Observed behavior and steps to reproduce

## Expected behavior

## Notes / preliminary analysis

## Additional links and references

[2021-11-03 22:54] jcfrk101 opened #810 "Incremental Compilation does not work in xCode 13 with new version of maps 10.0 and Navigation 2.0"
## Environment

- Xcode version: 13+
- iOS version: 15
- Devices affected: iPhones
- Maps SDK Version: 10.0 and Navigation 2.0

## Observed behavior and steps to reproduce
Compilation takes much longer than is should

I see the following output in the build logs for the mapbox and navigation SDK's

Set ENABLE_PREVIEWS=NO because SWIFT_OPTIMIZATION_LEVEL=-Owholemodule, expected -Onone

remark: Incr

[2021-11-04 08:56] endanke commented on #788
Unfortunately I don't know about any APIs that would specifically help with this, but one way you could try to do it:
1. Retrieve the coordinates of the corners of the map view using `mapView.mapboxMap.coordinate(for: CGPoint)`
2. Create a rectangle using these points (these will use the perspective projected coordinates)
3. Create a line segment using your object's coordinates and the center of t

[2021-11-04 09:40] endanke commented on #605
@jmkiley unfortunately I think the linked issue is not the same as this one. For that problem the precondition was to have a pitch value which is larger than zero. As I understand this issue happens also for zero pitch, just based on the rotation value, correct? In any case we will need further investigation on the gl-native side.

[2021-11-04 12:31] endanke commented on #605
I've investigate this further and I think we're talking about two separate issues here:
- Issue one: If the pitch is zero, but rotation is not zero: It is an issue with `CoordinateBounds` as Tobrun mentioned. The `coordinate(for: CGPoint)` works correctly for the zero pitch case, you can observe on the image that the top right and bottom left coordinates are correctly positioned. We would need to

[2021-11-04 13:11] endanke commented on #605
Also just for demonstration, if I modify this example to use the four corner points instead of the CoordinateBounds, it places the rectangle correctly: https://github.com/mapbox/mapbox-maps-ios/issues/605#issuecomment-911927577
[code]

![simulator_screenshot_ACAC6F46-FD2E-48DE-A530-AE708C9C987C](https://user-images.githubusercontent.com/2576246/140319168-47c69fc7-42f4-4e14-8d6b-5f578ce96419.png)

[2021-11-04 14:10] ZiZasaurus commented on #806
@AndreasVerhoeven, apologies for any confusion and thank you for your feedback. Using the following snippet, you can add the [newest release](https://github.com/mapbox/mapbox-maps-ios/releases) to your project:

[code]

While v6 is not yet deprecated, only critical bug fixes and feature requests will be implemented at this time. Aside from this behavior, are there any other issues that you're expe

[2021-11-04 14:28] tsuz opened #811 "Snapshotter should hide invisible features when feature state is used to hide it"
## Environment

- Xcode version: 12.4
- iOS version: 14
- Devices affected: All devices that use snapshotter + feature state (not known)
- Maps SDK Version: 10.0.1

## Observed behavior and steps to reproduce

**Observed Behavior**

The POI image of "Gnarly Burger" is shown in the bottom section

**Steps to reproduce**

1. Pull down the branch `taku/snapshot-feature-state`
2. Run the example app (

[2021-11-04 18:34] ZiZasaurus commented on #811
@tsuz thank you for bringing this to our attention. I'm able to reproduce this and am investigating.

[2021-11-04 19:24] SkylerSeamans commented on #687
This also affects func camera(for:padding:bearing:pitch:).

Attached is a video as well as an exampled based on the MultiplePointAnnotation sample code. In my testing, the outcome of func camera(for:padding:bearing:pitch:) seems dependent on the zoom level of the camera at the time of the function call. Zoom levels greater than 9 seems to make the behavior apparent.

In my video, tapping the bar b

[2021-11-04 21:08] galinelle commented on #605
I think CoordinateBounds is an axis aligned bound, and as such can't  represent something rotated (containing inside only 2 coordinates: northeast and southwest).

If you want the geometry I'm afraid you need to extract it from map corners as we do not currently offer a `geometryForCamera` method (although this approach, extracting from corners,  is used internally in at least one place)

[2021-11-05 07:03] endanke commented on #605
@galinelle would it make sense to add a new constructor to `CoordinateBounds` to allow the creation from the 4 corner coordinates?
The bounds would be still axis aligned but when we query those corners using `coordinate(for: CGPoint)` they would be created based on the camera's state, so it would produce the correct results.

[2021-11-05 07:43] endanke commented on #605
Another alternative would be to just define a new bounds class which can be constructed using 4 points, but the current methods couldn't be ported easily.

@akirmse could you tell us a bit more about your use-case?

[2021-11-05 08:08] endanke commented on #687
This appears to be fixed in the upcoming GL-Native release. I'll retest it when it's available!

[2021-11-05 09:35] endanke commented on #687
We've verified that the issue is related to the screen coordinate conversion, when the y coordinate gets clamped to horizon. Interestingly it clamps it even if the pitch is zero and the horizon shouldn't be visible. I'll check the implementation of that function and fix it in the upcoming release.

[2021-11-05 12:51] MaciejPachciarekSMT opened #820 "Obtain current camera bounds"
@MaciejPachciarekSMT I was able to restrict the bounds to the two coordinates (including bounds) using the method below. Can you test this code out and let me know if it works for your use case?

[code]

_Originally posted by @ZiZasaurus in https://github.com/mapbox/mapbox-maps-ios/issues/610#issuecomment-925253251_

Regarding this answer, I would like to what is the equivalent of `mapView.camera.

[2021-11-05 12:59] mfazekas commented on #464
FWIW: #776

[2021-11-05 14:17] Ogerets commented on #788
I'll try this out. Thank you for the advice 🙏

[2021-11-05 15:26] doriansgithub commented on #797
Hi, what I’m I doing wrong?

Thanks.

[2021-11-05 16:21] ZiZasaurus commented on #820
@MaciejPachciarekSMT you can use `mapView.mapboxMap.coordinate(for point:)` to get the coordinate for each corner of the mapview, then create a Turf.BoundingBox from those coordinates and use the southwest and northeast coordinates of the bounding box to create a CoordinateBounds. Everything else from the code snippet above should be the same.

[2021-11-05 17:01] ZiZasaurus commented on #811
@tsuz, it looks as though featureState isn't supported by the snapshotter. Instead, they can use the experimental Snapshot API, which will create a UIImage of the current mapview. To do so, they would need to

You can test this out by replacing the MapboxMaps import with `@_spi(Experimental) import MapboxMaps` and lines 119-144 with the following:
[code]

[2021-11-05 19:30] tornadojuice opened #823 "Option to disable fade-in animation when adding new point annotations to the map"
## Option to disable fade-in animation when adding new point annotations to the map

Please provide an option to disable the fade-in animation that is applied to point annotation markers when they are added to the map.

## Why
The decision to animate anything in the UI should always be left to the developer of the UI.

[2021-11-06 00:51] akirmse commented on #605
In my use case, I have thousands of markers and polylines, too many to load them all into memory at the same time (especially the polylines).  So what I do is when the camera becomes idle, I get the viewport, load any markers/polylines that are newly visible, and unload any that are now outside the viewport.  However, since the viewport from this function is incorrect, what users actually see is t

[2021-11-06 09:06] dandyweng commented on #755
Hi @ZiZasaurus, I would love to see this gets implemented. I don’t think the current version of v10 SDK even has a rotation threshold, as the bearing changes freely with a pinch gesture, which is super annoying when a user just wants to zoom in or out.

I even considered downgrading the SDK to previous versions because of this issue until I found out this (undocumented?) way to disable rotation he

[2021-11-06 09:12] dandyweng commented on #775
Any updates? I’m trying to implement a feature based on cameraState changes and I would love to see this bug fixed as soon as possible.

[2021-11-06 13:14] doriansgithub commented on #797
The package collection at https://api.mapbox.com/downloads/v2/mobile-maps/releases/ios/packages/6.4.0/mapbox-ios-sdk-dynamic.zip?access_token=pk.eyJ1IjoiZG9yaWFuc21hcGJveCIsImEiOiJja3V0eml4eXY1dTR6MndxNjNmOHpkb28zIn0.lEGRMwrIneOSd_1x1mf4Aw is unavailable. Please make sure the URL is correct or try again later.

[2021-11-06 13:15] doriansgithub commented on #797
The instructions for "direct download", do not mention appending the URL with the token. Also, is it the public token or the secret token?

[2021-11-06 13:17] doriansgithub commented on #797
Same message appears with the secret token.

[2021-11-08 07:23] tsuz commented on #811
@ZiZasaurus

Thanks for the tip!

Initially, it didn't work on my iPhone X, and I kept getting "Metal API Enabled" warning. After disabling this validation in the Scheme (image below), I got this to work! [original SO answer][1].

![Screen Shot 2021-11-08 at 16 17 06](https://user-images.githubusercontent.com/6927131/140699533-5564a436-5431-42f8-b1be-3828b969ad10.png)

I would like to keep this op

[2021-11-08 07:31] fatih18 opened #824 "Globe Map Projection"
## Environment

- Xcode version: 12.5
- iOS version: 12
- Devices affected: iphone 12
- Maps SDK Version: v10.1.0

## Observed behavior and steps to reproduce

How to initialize globe view projection on ios? are there any working examples ? or globe view is just an experimental feature ?

[2021-11-08 07:38] endanke commented on #605
@akirmse thanks for the details!

From our side modifying the behaviour of `CoordinateBounds` wouldn't be ideal, but we could add another helper class that is created from the four corner points, and it could have a `contains` function for at least points and lines. This could be even created outside of the SDK, but we would need to add a version of `coordinate(for: CGPoint)` which returns the wra

[2021-11-08 12:59] MaciejPachciarekSMT opened #825 "Get center of geometry"
## New Feature

Hi, I can't find the solution to get the center of geometry. I know in Android's old Mapbox there was a solution where we can init TurfMeasurement by Geometry and then easily get center, bbox, etc.

## Why
Calculating center by own depends on the type.

[2021-11-08 13:04] endanke commented on #824
@fatih18 You can find an usage example here: https://github.com/mapbox/mapbox-maps-ios/blob/main/Apps/Examples/Examples/All%20Examples/GlobeViewExample.swift

When you run the Examples app, you can find it at the bottom of the list in the Experimental section.

[2021-11-08 13:05] MaciejPachciarekSMT opened #826 "Unify SourceQueryOptions and querySourceFeatures"
## New Feature

SourceQueryOptions has 2 property sources and filter. It will be good if we can have expression as a filter like in RenderedQueryOptions. Right now SourceQueryOptions accepts only raw filters like `filter: ["==", "id", "someId"]`.
Another thing is that SourceQueryOptions is used for method querySourceFeatures. In this scenario we duplicated sourceId

querySourceFeatures accept one

[2021-11-08 14:27] ZiZasaurus commented on #809
Closing in favor of https://github.com/mapbox/mapbox-maps-ios/issues/810

[2021-11-08 14:27] #809 closed

[2021-11-08 16:13] Gelembjuk opened #827 "Offline maps from existent .sqlite tiles database"
I have the Android app, it uses osmdroid library for maps. There is offline maps support and maps are stored in .sqlite files.
That are sqlite databases with OSM tiles stored.
Now i want to make my app for iOS too.
But i think about to reuse my current offline maps sources.
Is it possible to adopt somehow that source to use with mapbox on iOS (and in future maybe on android).
If no direct support

[2021-11-08 16:41] doriansgithub commented on #797
Received invalid response at https://api.mapbox.com/downloads/v2/mobile-maps/releases/ios/packages/6.4.0/mapbox-ios-sdk-dynamic.zip?access_token=sk.eyJ1IjoiZG9yaWFuc21hcGJveCIsImEiOiJja3ZnbmxuNG0xaDFsMnVudWZwMnJhMWNjIn0.hilGwgSdtj-PxSo1U2HaJA. Please make sure it is a package collection URL.

My file contains this:
machine api.mapbox.com
login doriansmapbox
password <sk.eyJ1IjoiZG9yaWFuc21hcGJveCI

[2021-11-08 17:16] doriansgithub commented on #797
I was able to download by searching for the package first. But now it’s giving me this message.

[2021-11-08 17:18] doriansgithub commented on #797
It says “Bad response error code 401”.

[2021-11-08 17:27] doriansgithub commented on #797
I’ve tried these:

machine api.mapbox.com
login doriansmapbox
password <sk.eyJ1IjoiZG9yaWFuc21hcGJveCIsImEiOiJja3ZnbmxuNG0xaDFsMnVudWZwMnJhMWNjIn0.hilGwgSdtj-PxSo1U2HaJA>

machine api.mapbox.com
login doriansmapbox
password sk.eyJ1IjoiZG9yaWFuc21hcGJveCIsImEiOiJja3ZnbmxuNG0xaDFsMnVudWZwMnJhMWNjIn0.hilGwgSdtj-PxSo1U2HaJA

machine api.mapbox.com
login mapbox
password <sk.eyJ1IjoiZG9yaWFuc21hcGJveCIs

[2021-11-08 17:29] ZiZasaurus commented on #797
@doriansgithub I deleted your previous comment as it contained sensitive information. Please do not post your secret token in this repository. Yes, your netrc file should be located in your user folder on your computer and should be formatted like below, where mapbox is the name of the login and the password is your secret token without the brackets:

[code]

[2021-11-08 17:30] doriansgithub commented on #797
Well, I’ve tried that and get the same error.

Sent from my iPhone

[2021-11-08 17:41] ZiZasaurus commented on #797
Can you please provide a screenshot of where your .netrc file is within your finder?

[2021-11-08 17:42] ZiZasaurus commented on #811
@tsuz if this works for them, they can use it in production. There's just the possibility that they'll have to update their code when we update the SDK.

[2021-11-08 21:25] ZiZasaurus commented on #777
@AlexaderDNT you can use the following code to control your icon overlap in v10:

[code]
For more information in expressions, please take a look at our documentation [here](https://docs.mapbox.com/ios/maps/guides/styles/use-expressions/). In this particular case, a `case` expression may be simpler.

[2021-11-08 22:33] doriansgithub commented on #797
Just noticed that it’s unable to read the Read Me.  Not sure if it’s talking about the .netrc file.

I also created a new one, pasted the info and replaced the one on the directory, but to no avail.

[2021-11-08 22:37] doriansgithub commented on #797
I used the terminal to create a new .netrc file, and still doesn’t work.

[2021-11-08 23:38] MarkMolina opened #828 "Getting 2 error when trying to run the Examples app"
## Environment

- Xcode version: 13.0
- iOS version:
- Devices affected:
- Maps SDK Version:

## Observed behavior and steps to reproduce

failed extracting 'https://api.mapbox.com/downloads/v2/mapbox-events-ios/releases/ios/packages/1.0.6/MapboxMobileEvents.zip?access_token=sk.XXXXX' which is required by binary target 'MapboxMobileEvents': /Users/XXXXX/Library/Developer/Xcode/DerivedData/Apps-cmb

[2021-11-09 02:21] tsuz commented on #811
@ZiZasaurus

makes sense - [this function][1] is still within a GA release but it's subjective to change.

Thanks for confirming!

[1]: https://github.com/mapbox/mapbox-maps-ios/blob/v10.1.0/Sources/MapboxMaps/Foundation/MapView+Snapshot.swift#L20

[2021-11-09 02:21] #811 closed

[2021-11-09 10:43] MarkMolina commented on #828
My slow internet must have caused a network error. After multiple restarts of Xcode (and rebuilding) it suddenly worked.

[2021-11-09 10:43] #828 closed

[2021-11-09 11:06] AlexaderDNT commented on #777
And i was wondering if it is possible to set a priority number for a source when you zoom out? So let say i have multiple points on the map, and when i zoom out i wont a single point always to be visible and overlap with the other points.

[2021-11-09 11:54] fatih18 commented on #824
Thank you for your answer, link in the official docs is broken btw. ( examples section)

[2021-11-09 12:00] endanke commented on #824
@fatih18 thanks for reporting it! Could you please share the site where you've seen the broken link?

[2021-11-09 12:03] MaciejPachciarekSMT commented on #820
Hi @ZiZasaurus

Thanks for the answer. It works, but honestly, it looks like a little workaround.

[2021-11-09 12:03] #820 closed

[2021-11-09 17:34] ZiZasaurus commented on #810
Could you provide the following additional information:

- How long does compilation take?
- How are you integrating the SDKs (SPM? CocoaPods?)
- Do you see this issue with the Maps SDK alone?

Additionally, if you could provide more context from your build logs that would be helpful as well.

[2021-11-09 18:28] samcrawford opened #829 "Draggable annotations missing in v10 SDK"
Pre-v10, Mapbox provided support for draggable annotations, and documented a nice example at https://web.archive.org/web/20210124190424/https://docs.mapbox.com/ios/maps/examples/draggable-views/ (using an archive.org link because the mapbox.com link no longer exists).

In the v10 iOS SDK, the migration guide says:

Can Mapbox provide an example, or at least some more detailed hints as to how we ca

[2021-11-10 22:23] akirmse commented on #605
Ideally there would be a way to quickly determine which of a set of points are in the view frustum, even when pitched, given a far plane distance.  Clearly many implementations are possible.  I've done this in the past for video games.

[2021-11-11 14:44] patrickkempff commented on #775
I can confirm we have the same issue when trying to implement a feature based on the zoom level of the camera. @ZiZasaurus

[2021-11-11 14:58] macdrevx commented on #775
We're working on some changes that should address this.

[2021-11-11 16:04] #691 closed

[2021-11-11 19:26] dmiluski opened #833 "Pinch Gesture Crash"
## Environment

- Xcode version:Version 13.1 (13A1030d)
- iOS version: Appears on various devices running iOS 15.x or iPadOS 15.x
- Devices affected:
- Maps SDK Version:
[code]

## Observed behavior and steps to reproduce

Reviewing our Firebase crash logs noticed a PinchGestureHandler out of index crash. This is not something we have noticed locally, only seeing in user crash logs.

https://conso

[2021-11-11 19:35] ZiZasaurus commented on #777
@AlexaderDNT, pointAnnotationManagers only take a Bool, whereas SymbolLayers allow you to use expressions for the `iconAllowsOverlap` property.

Regarding your second question, you can use the [symbolSortKey](https://docs.mapbox.com/ios/maps/api/10.1.0/Structs/PointAnnotation.html#/s:10MapboxMaps15PointAnnotationV13symbolSortKeySdSgvp) to sort features in ascending order based on this value.

[2021-11-11 21:07] samcrawford commented on #825
MapboxMap has a camera(for geometry) method, and the resulting CameraOptions object has the center populated. Hope this helps!

https://docs.mapbox.com/ios/maps/api/10.1.0/Classes/MapboxMap.html#/s:10MapboxMaps0A3MapC6camera3for7padding7bearing5pitchAA13CameraOptionsV4Turf8GeometryO_So12UIEdgeInsetsV12CoreGraphics7CGFloatVSgAStF

[2021-11-12 14:23] ZiZasaurus commented on #804
@DntPullALockett the attached call stack is not possible after v0.10.0-alpha, because the `isEnabled` method was removed in v0.10.1. Could it be that crashlogs are coming from some old version of your app?

[2021-11-12 14:31] AlexaderDNT commented on #777
Thank you @ZiZasaurus. When i zoom out and the map loads, the points dissapears and  use long time to show again. See the video

[2021-11-12 14:33] AlexaderDNT commented on #777
https://user-images.githubusercontent.com/64775721/141483486-6b73dd9c-7e09-4661-a360-7cf043ed8d84.MOV

[2021-11-12 15:46] DntPullALockett commented on #804
@ZiZasaurus  No this isn't possible. We released 1.30.0 with the 6.4.0 version and that is the version that is throwing these. Whatever version of MMEE that came with 6.4.0 is the version that we bundled with it.

[2021-11-13 11:50] samcrawford commented on #829
I've found a solution. I can now drag point annotations, and I haven't needed to modify the core MapboxMaps project to do so. For the benefit of others, I've pasted an excerpt of my code below. This was achieved using Mapbox Maps for iOS 10.0.0.

My code is inspired by https://github.com/mapbox/mapbox-maps-ios/issues/501#issuecomment-884744996

Note to Mapbox people: Feel free to use this example

[2021-11-13 11:51] samcrawford commented on #501
FYI, I have posted an alternative solution in https://github.com/mapbox/mapbox-maps-ios/issues/829#issuecomment-968055970, which doesn't require modifying the core MapboxMaps project. It's based on @landyrev's excellent example.

[2021-11-14 18:22] samcrawford opened #834 "When moving a long distance, camera does not move to expected location"
## Environment

- Maps SDK Version: 10.0.0

## Observed behavior and steps to reproduce

If the camera is centered somewhere in Italy, and zoomed in to level 13, and then I try to move to camera to some coordinate bounds in London, then the camera ends up somewhere in France.

Here's some code to reproduce this:
[code]

This prints:
[code]

Which is clearly not in the center of the coordinate boun

[2021-11-15 11:39] Amir-OffsureIt opened #835 "MGLOfflinePack has no member 'setContext'"
## Environment

- Xcode version: 13.0
- iOS version: iOS 15.0
- Devices affected: All iOS devices
- Maps SDK Version:
- Mapbox-iOS-SDK (5.5.1)
  - MapboxCommon (20.1.0)
  - MapboxCoreMaps (10.1.0):
    - MapboxCommon (~> 20.1)
  - MapboxGeocoder.swift (0.14.0)
  - MapboxMaps (10.1.0):
    - MapboxCommon (= 20.1.0)
    - MapboxCoreMaps (= 10.1.0)
    - MapboxMobileEvents (= 1.0.6)
    - Turf (~> 2.

[2021-11-15 15:53] tobrun commented on #606
Closing as a duplicate

[2021-11-15 17:18] macdrevx commented on #606
Reopening — this is distinct from #673.

[2021-11-15 17:21] macdrevx commented on #834
cc: @endanke seems possibly related to some other issues you've been investigating.

[2021-11-16 09:54] samcrawford commented on #833
+1. Seeing the same crash here since switching to Maps SDK 10

[2021-11-16 12:56] MaciejPachciarekSMT commented on #825
Thanks a lot!

[2021-11-16 12:56] #825 closed

[2021-11-16 14:33] ZiZasaurus commented on #806
Closing this ticket for now, however, If this does not answer your question please feel free to reopen.

[2021-11-16 14:33] #806 closed

[2021-11-16 14:43] ZiZasaurus commented on #824
Closing this ticket for now, however, if this does not answer your question please feel free to reopen.

[2021-11-16 14:43] #824 closed

[2021-11-16 14:52] ZiZasaurus commented on #810
@jcfrk101 Thank you for this information. For #3, yes, are you using the Maps SDK along with the Navigation SDK or by itself?

[2021-11-16 14:53] jcfrk101 commented on #810
I am using them together.

Sent from my iPhone

[2021-11-16 15:24] ZiZasaurus commented on #835
@Amir-OffsureIt, thanks for reaching out. Can you share a screenshot of your podfile? Additionally, please note that since the two versions have different codebases, there will be code errors if you use v10 in a project that previously used a version prior to v10.

[2021-11-16 15:41] ZiZasaurus commented on #797
@doriansgithub can you please share a screenshot of both your .netrc file contents (please replace your full token with place holder `sk`) and the location of your .netrc file in your Finder?

[2021-11-16 16:00] doriansgithub commented on #797
I’m in the middle of switching computers, and I am currently working from a different computer. From this desktop, I’m getting this.

Sincerely,

Dorian Mattar
Realtor
15 Years Experience
Sales, Construction & Permits

Sell or find your home here!
Find out the value of your home here!

123 S Figueroa Street STE 108
Los Angeles CA 90012

C:	213.254.7355
D:    323.325.8076

I’m here to see you prosp

[2021-11-16 16:05] ZiZasaurus commented on #827
@gelembjuk what file format is OSMdroid using? Please note that reusing your current offline map sources (or sideloading databases) is not supported in v10. The only way to get offline regions would be via the OfflineManager API, which downloads them from our server.

[2021-11-16 16:52] ZiZasaurus commented on #810
If you are seeing this issue with just the Maps SDK, could you share how long the compilation takes and more information about your macOS version? If you are only seeing this issue when using the Maps SDK with the Navigation SDK, could you open a ticket in (link to nav repo). It looks like SWIFT_OPTIMIZATION_LEVEL=-Owholemodule is set there.

[2021-11-16 16:57] ZiZasaurus commented on #797
@doriansgithub, I've included a screenshot below that shows my .netrc file saved in my user folder on my computer.  It must be saved as `.netrc` (with the period in front) and not `netrc`.

<img width="320" alt="Screen Shot 2021-11-16 at 11 43 40 AM" src="https://user-images.githubusercontent.com/44972592/142029625-6d853898-8e61-4c1b-b402-ad4d58e1d274.png">

Additionally, please make sure your .ne

[2021-11-16 17:32] #833 closed

[2021-11-16 17:39] doriansgithub commented on #797
That’s how I have it.

It’s on my root directory /Users/dorian

machine api.mapbox.com
login mapbox
password token with no quotes.

"Downloads:Read scope and no brackets:”?

What is that? How do I know the: Downloads:Read scope?

Sincerely,

Dorian Mattar
Realtor
15 Years Experience
Sales, Construction & Permits

Sell or find your home here!
Find out the value of your home here!

123 S Figueroa St

[2021-11-16 17:42] ZiZasaurus commented on #797
When you create your secret token [here](https://account.mapbox.com/access-tokens/create), you need to make sure that the `Downloads:Read` scope is checked like below:

<img width="1116" alt="Screen Shot 2021-11-16 at 12 42 12 PM" src="https://user-images.githubusercontent.com/44972592/142037519-31b507ad-5de9-4b1a-b186-c63dfa45e559.png">

[2021-11-16 17:45] doriansgithub commented on #797
I’ve done that.

All tokens, regardless of the scopes included, are able to view styles, tilesets, and geocode locations for the token's owner. Learn more. <https://docs.mapbox.com/help/how-mapbox-works/access-tokens/#access-token-scopes>
Public scopes
STYLES:TILES
Read style as png tiles and static images.
STYLES:READ
Read styles.
FONTS:READ
Read fonts.
DATASETS:READ
Read datasets.
VISION:READ
Re

[2021-11-16 17:59] ZiZasaurus commented on #797
The downloads scope is for your .netrc file, which allows you to download the SDK.

For more in-depth assistance with your .netrc configuration, please reach out to our support team at help@mapbox.com and they'll be able to get you up and running.

[2021-11-16 18:01] doriansgithub commented on #797
Doesn’t the token have all that?

This is so confusing!

Sincerely,

Dorian Mattar
Realtor
15 Years Experience
Sales, Construction & Permits

Sell or find your home here!
Find out the value of your home here!

123 S Figueroa Street STE 108
Los Angeles CA 90012

C:	213.254.7355
D:    323.325.8076

I’m here to see you prosper!
CalBRE Lic. # 01291557

[2021-11-16 18:30] macdrevx commented on #833
In our next release, we'll be shipping a patch that will hopefully fix this and minimally give us the ability to debug which code path is resulting in this issue.

[2021-11-17 04:10] Amir-OffsureIt commented on #835
![Screenshot 2021-11-17 at 9 36 09 AM](https://user-images.githubusercontent.com/39256342/142133102-20038559-c275-4c79-9e41-e5535fc510f0.png
![Screenshot 2021-11-17 at 9 37 07 AM](https://user-images.githubusercontent.com/39256342/142133140-6497f3eb-8e79-4b36-b0b0-a12ad1bb8ba8.png)
)
@ZiZasaurus here are the screenshots of podfile and podlock file

[2021-11-17 07:18] Gelembjuk commented on #827
OSMdroid uses  sqlite databases as a sources. In settings of OSMdroid library it is needed to set a path to a folder where sqlite files are and it will pick all files from there to look for tiles.
Format of a DB is on the picture
<img width="669" alt="Screenshot 2021-11-17 at 09 16 37" src="https://user-images.githubusercontent.com/1552191/142153491-fd04c24f-61dc-4fee-a9cd-df4a7fc465d7.png">

If M

[2021-11-17 11:26] rligocki commented on #829
Is there any way how to transfer this solution into SwiftUI version? Did anyone already try that?

[2021-11-17 11:53] bjartebore opened #841 "Unable to use a third-party vector source"
## Environment

- Xcode version: 13.1
- iOS version: 15.0
- Devices affected: all
- Maps SDK Version: 10.1.0

## Observed behavior and steps to reproduce

Added a remote vector source with tile url as implemented in this example for mapbox-gl-js [Third party vector tile source](https://docs.mapbox.com/mapbox-gl-js/example/third-party/) with a corresponding line layer but nothing appears.

I have m

[2021-11-17 14:31] MaxAdamyan opened #842 "Add UIView as Layer"
## New Feature

I would like to use `UIView` as `Layer` in my MapView. For example in GoogleMaps SDK I can use `iconView` property of `GMSMarker` and get what I want.

## Why

It provides great flexibility and you can achieve beautiful UI with very little overhead. You can have annotations or layers with custom UIView animation. For example we have an App running on Google Maps SDK which renders U

[2021-11-17 15:07] macdrevx commented on #523
Let's hope so! Please let us know if you find that it's fixed. We'll be testing it internally too.

[2021-11-17 18:02] jumbopilot commented on #608
Any updates on this?
I think MapBox V10 should be ready for SwiftUI soon to keep state-of-the-art.

[2021-11-17 19:37] endanke commented on #842
@MaxAdamyan great news: we're soon adding support to allow the usage of UIView classes as annotations on the map! You can follow the PR below: https://github.com/mapbox/mapbox-maps-ios/pull/776
If everything goes well it will be merged in the upcoming days.
Also feel free to review it in the meantime! ;)

[2021-11-18 06:31] MaxAdamyan commented on #842
@endanke thanks for the response. Nice to hear that. Looking forward to building great stuff with MapBox

[2021-11-18 10:57] #842 closed

[2021-11-18 14:38] ZiZasaurus commented on #777
@AlexaderDNT, I was unable to reproduce the behavior above with the points disappearing. I've attached a video below where I set `symbolSortKey` and `iconAllowsOverlap` for both point annotations and symbol layers.

The first video is for symbolLayer (using our [DataDrivenSymbolsExample.swift](https://github.com/mapbox/mapbox-maps-ios/blob/main/Apps/Examples/Examples/All%20Examples/DataDrivenSymbo

[2021-11-18 19:57] emtjoshhart commented on #63
Same, we heavily utilize MGLAnnotationViews and see nothing that replaces it.

StackOverflow post:  https://stackoverflow.com/questions/70025744/what-replaces-mglannotationview-in-version-10-of-mapbox

[2021-11-18 20:06] ZiZasaurus opened #845 "SymbolSortKey functions differently for point annotation and symbolLayer"
## Environment

- Xcode version: 13
- iOS version: all
- Devices affected: simulator
- Maps SDK Version: 10.1.0

## Observed behavior and steps to reproduce

It appears that `symbolSortKey` doesn't work the same for point annotations and symbol layers. Despite `symbolSortKey` having the same description in our docs, when you set it for point annotations, the annotation with the lower sort key is d

[2021-11-19 01:25] jcfrk101 commented on #810
I'm not sure which project is doing this, but here is a picture of the MapBox Maps 10.0 package installed via SPM. As you can see the project file has whole module enabled.[](ur
![Screen Shot 2021-11-18 at 7 23 35 PM](https://user-images.githubusercontent.com/5083151/142535221-72afc65e-d85a-4160-9238-7035ec409042.png)
l)

[2021-11-19 12:39] AlexaderDNT commented on #777
@ZiZasaurus  I see, you have to add 22 000 points to the map to reproduce it

[2021-11-19 14:08] ZiZasaurus commented on #777
@AlexaderDNT are you adding these as point annotations or symbolLayers?

[2021-11-19 14:32] AlexaderDNT commented on #777
@ZiZasaurus  poin annotations

[2021-11-19 14:37] ZiZasaurus commented on #777
@AlexaderDNT for that many data points you would need to use symbol layers, as annotations are inefficient for adding more than 250 points to the map.

For more information about markers and annotations, please take a look at our documentation [here](https://docs.mapbox.com/ios/maps/guides/annotations/#annotations).

[2021-11-19 14:49] ZiZasaurus commented on #827
@Gelembjuk, while Mapbox does support the use of sqlite, we do not support the use of non-Mapbox offline regions. The only way to get offline regions would be via the OfflineManager API, which downloads them from our server.

[2021-11-19 15:18] ZiZasaurus commented on #810
@jcfrk101  the compilation time heavily depends on your overall configuration. Additionally, because you're using SPM, optimization level is determined by settings in your project, or possibly some defaults in SPM, not by settings in our Swift Package. The config you highlighted in your most recent comment is only relevant when we run unit tests and isn't used for anything else.

Are you certain M

[2021-11-19 18:48] ZiZasaurus commented on #835
@Amir-OffsureIt, thank you for your podfile screenshots. Mapbox-iOS-SDK is a different framework from MapboxMaps, therefore it cannot be updated. `setContext` was not made available until v6.0.0 (see https://docs.mapbox.com/archive/ios/maps/api/6.0.0/Classes/MGLOfflinePack.html#/c:objc(cs)MGLOfflinePack(im)setContext:completionHandler:) so your current version of 5.5.1 will not support it.

[2021-11-19 20:45] rligocki commented on #829
After few hours of struggles, I find out, that it is necessary to change this line of code when using version 10.0.1
`let options = RenderedQueryOptions(layerIds: [ self.pointAnnotationManager.id ], filter: nil)`
to this one
`let options = RenderedQueryOptions(layerIds: [ self.pointAnnotationManager.layerId ], filter: nil)`

[2021-11-19 21:08] DntPullALockett commented on #804
@vesh93  We do a manual integration, but we do use Mapwize, and I do not think they have an embedded version. I will double check this.

[2021-11-22 05:45] Amir-OffsureIt commented on #835
@ZiZasaurus thank you so much for the clarification. As per my requirement, I need both - offline maps and vector sources for tilesets. So what will be the best approach to keep both in the App?
Should I wait for the next update of MapboxMaps to get `v6.0.0` or is there any other SDK for vector tileset only?

[2021-11-22 16:08] Knapiii commented on #829
@samcrawford, I would actually change `UIPanGestureRecognizer` to `UILongPressGestureRecognizer`.
With `UILongPressGestureRecognizer`, you get the same features as `UIPanGestureRecognizer` but you can notify the user that they have grabbed the annotation. (Make it bigger or something).

MapView does not have `UILongPressGestureRecognizer`, which means that you don't interfere with MapView gestures

[2021-11-22 22:01] sosthoff opened #855 "Localisation replaces all instances of fallback languages of a layer"
## Environment

- Xcode version: 13.1
- iOS version: 15.0.2
- Devices affected: all
- Maps SDK Version: 10.1.0

## Observed behavior and steps to reproduce

Setting
[code]
results in all name_* of every layer to be overridden with name_de

## Expected behavior

Only the primary localized language should be overridden.

## Notes / preliminary analysis

Style+Localization::updateExpression applies t

[2021-11-22 22:19] sosthoff commented on #855
[Commit](https://github.com/mapbox/mapbox-maps-ios/commit/d916cfade73084f3dbe4d1c46a43e32e3e3ea166) for now

[2021-11-23 10:39] Toucouleur66 commented on #63
Any hope for an answer and a date for this ?

[2021-11-23 11:46] AlexaderDNT commented on #777
@ZiZasaurus  Thank you! This helped alot

[2021-11-23 12:20] AlexaderDNT commented on #777
Manage to change it to SymbolLayer, but this happend noe when i filter out some points.

[2021-11-23 12:54] macdrevx commented on #63
The first iteration of this feature is now in beta: https://github.com/mapbox/mapbox-maps-ios/releases/tag/v10.2.0-beta.1

Please give it a try and share your feedback.

There are already some API changes in the works that we plan to ship in the next 10.2 prerelease.

[2021-11-23 12:58] Toucouleur66 commented on #63
thanks so much!

[2021-11-23 18:24] endanke opened #858 "Slow incremental builds for MapboxMaps test target"
## Environment

- Xcode version: 13.0
- iOS version: 15.0
- Devices affected: Simulator, iPhone 11 Pro
- Maps SDK Version: v10.2.0-beta.1
- Computer: MacBook Pro (13-inch, M1, 2020)

## Observed behavior and steps to reproduce

Incremental builds of the MapboxMaps test target now takes around 80 seconds.
Previously this felt quicker, but I haven't verified yet, so assigning myself for further inve

[2021-11-23 19:18] #827 closed

[2021-11-23 19:25] macdrevx commented on #784
v10.2.0-beta.1 is now available and contains this fix. Please give it a try and let us know if you can confirm the fix.

[2021-11-23 19:48] #855 closed

[2021-11-24 08:21] endanke commented on #858
It appears with Xcode 12.5 the test builds are significantly faster.
- On Xcode 12.5: ~3 seconds
- On Xcode 13.0: +80 seconds

|cc: @macdrevx

[2021-11-24 10:51] sosthoff opened #860 "Puck not showing during initial launch with 10.2.0-beta.1"
## Environment

- Xcode version: 13.1
- iOS version: 15.0.2
- Devices affected: tested iPad & Simulator
- Maps SDK Version: 10.2.0-beta.1

## Observed behavior and steps to reproduce

When running the sample application https://docs.mapbox.com/ios/maps/examples/tracking-mode/ for the first time, the puck is not displayed.
Steps:
1. Run application for the first time on a device
2. Grant Location p

[2021-11-24 18:07] macdrevx commented on #860
This is happening because the style images are getting cleared in this particular situation.

[2021-11-25 07:29] #860 closed

[2021-11-25 07:30] georgbachmann commented on #784
@macdrevx on first test it's looking much better now! Didn't have a crash so far! Thanks!!!

[2021-11-25 07:38] georgbachmann opened #864 "Panning while zooming still feels a bit strange"
## Environment

- Xcode version: 13.1
- iOS version: 15.1
- Devices affected: All my devices
- Maps SDK Version: 10.1 but also 10.2-beta

## Observed behavior and steps to reproduce

When you zoom in to your map using a two finger pinch gesture and also while doing so move your two fingers up and down (i do that very often when zooming in on a specific part of the map) the horizontal-movement of t

[2021-11-27 16:58] NasH5169 opened #867 "[CustomGeometrySourceOptions] No tile bounds callback available like previous versions"
Hello,

Mapbox v10.1

There is no callback that provides the lat lng bounds of the tile. Only the x, y, z of the tile.

https://docs.mapbox.com/ios/maps/api/10.1.0/Classes/Style.html#/s:10MapboxMaps5StyleC23addCustomGeometrySource6withId7optionsySS_So09MBMCustomfG7OptionsCtKF

The previous versions had it: https://docs.mapbox.com/ios/maps/api/6.4.1/Protocols/MGLComputedShapeSourceDataSource.html

[2021-11-28 11:15] NasH5169 commented on #207
Hi all,

Any news on this topic?

Thanks!

[2021-11-28 19:44] AlaeddineOuerteni opened #868 "Can not create a custom annotation view"
With the new MapBox version we can not create custom annotation view as before.

[2021-11-29 02:17] kostiag opened #869 "Maps SDK for iOS v10 which CacheManager?"
[Documentation](https://docs.mapbox.com/ios/maps/guides/migrate-to-v10/ ) refers to Cache manager as a replacement to MGLOfflineStorage?
However, I can't find any other reference of what is needed? Building fails with "Cannot find 'CacheManager' in scope" any help would be appreciated. The only thing I found was [https://github.com/boostcode/CacheManager](https://github.com/boostcode/CacheManager)

[2021-11-29 05:50] Args opened #870 "Need `verticalAccuracy` and `altitude` attribute"
Why does class `Location` only have `horizontalAccuracy` attribute, and there is no `verticalAccuracy` attribute, I need `verticalAccuracy`, `altitude` ,`speed` and many other `CLLocation`'s attributes.

[2021-11-29 07:36] Adraesh opened #871 "Style.addCustomGeometrySource - Issue"
## Environment

- Xcode version: 13.1
- iOS version: 15.0.2
- Maps SDK Version: 10.1

Hello, It seems there is an issue with the with the addCustomGeometrySource() method.

This simple snippet crashed:

[code]

The log:
[code]

When I check the Style.swift file and the provided line where it failed we can see:

[code]

My guess is that the addCustomGeometrySource() method is trying to create a Sou

[2021-11-29 07:55] tobrun commented on #207
@macdrevx this landed upstream, is there any additional work left?

[2021-11-29 07:59] RocCaiy23 opened #872 "Is it possible to open the interface to set the background outside the globe?"
## New Feature

For example, the universe, stars, etc. This is to increase the sense of reality, thank you very much.

## Why
<- 1-2 sentence description of why you're requesting this feature. What problem does it solve? Why is it valuable? ->

[2021-11-29 16:40] macdrevx commented on #864
Verified. Thanks for reporting this.

[2021-11-29 16:45] macdrevx commented on #870
v10.2.0-beta.1 exposes the underlying `CLLocation` to allow access to all of these fields.

[2021-11-29 16:48] macdrevx commented on #207
Yes, we intend to refine some of the new utilities for Swift.

[2021-11-30 00:08] alexeysatsunkevich opened #877 "Add the ability to highlight group of clusters in which the annotation is highlighted."
## New Feature

I know you have an example of highlighting a pin when a user clicks on it.
But I would like to be able to highlight a group of clusters for all zoom levels in which pin is highlighted.

Below is an example with a light blue highlighting a cluster that has a highlighted pin.
![clustering_hightlighting](https://user-images.githubusercontent.com/89253689/143959704-8b30f4b8-f8b5-4e3f-a

[2021-11-30 02:35] Args commented on #870
Thank you. That's what I need.

[2021-11-30 02:35] #870 closed

[2021-11-30 02:41] ZiZasaurus commented on #868
@AlaeddineOuerteni can you provide some additional information regarding what you're trying to create? Are you trying to implement a callout with your annotation view or something different?

[2021-11-30 07:33] Args opened #878 "Get the coordinates of the map center point"
I can't get the precise coordinates of the center point of the map.

When I move the user coordinate to the center point by the following method,
[code]
Then obtain the center point coordinates through the following method,
`let coor = self.mapView.mapboxMap.coordinate(for: self.mapView.center)`
This coordinate is not consistent with the user coordinate.

Is there any other way to get the coordina

[2021-11-30 07:48] #878 closed

[2021-11-30 10:43] MaxAdamyan opened #879 "Ability to specify anchor for Zoom gestures"
## New Feature

We need to be able to specify anchor, from where the map will Zoom In or Out when using gestures.
E.g.  Specify map center as the Zoom Gestures anchor, to always keep the center on the same location.

## Why

We are developing a Ride Booking application (read Uber). So we need to keep the location the user specified in center when he/she zooms In or Out.

P.S. The same request appl

[2021-11-30 14:36] ZiZasaurus commented on #872
@RocCaiy23 this is not possible at the moment, however, we may look into this feature in the future.

[2021-11-30 14:49] macdrevx commented on #864
This was introduced in 7c2c073838a338504af81246c31e107a95c4e7ba which was first included in 10.2.0-beta.1.

I'm actually not able to repro in 10.1.x unless I zoom out so far that the map isn't allowed to pan north-south enough to follow the touch locations, but that's expected behavior.

[2021-11-30 16:12] knov commented on #879
Thanks for this request. We will incorporate this request with [this](https://github.com/mapbox/mapbox-maps-android/issues/771) Android request so no need for a second ticket.

[2021-11-30 18:18] ZiZasaurus commented on #777
@AlexaderDNT I am still unable to reproduce this behavior even with adding thousands of annotations. How/ when are these annotations being added?

[2021-11-30 18:22] ZiZasaurus commented on #835
@Amir-OffsureIt   Vector sources and offline maps are included in both versions of the Mapbox Maps SDK. For more information, please take a look at our API reference here for v10 [offline](https://docs.mapbox.com/ios/maps/api/10.1.0/Extensions/OfflineRegionManager.html) and [vector sources](https://docs.mapbox.com/ios/maps/api/10.1.0/Structs/VectorSource.html).

[2021-11-30 18:23] ZiZasaurus commented on #810
@jcfrk101 Closing this ticket out but please feel free to reopen if you have additional questions.

[2021-11-30 18:23] #810 closed

[2021-11-30 20:05] ZiZasaurus commented on #559
@Jkurbs Closing this out but please feel free to reopen if you have additional questions.

[2021-11-30 20:05] #559 closed

[2021-12-01 07:38] AlexaderDNT commented on #777
@ZiZasaurus  These annotations are being added on .mapLoaded and im using SymbolLayer and GeoJSONSource to add them on the map. This only happens when i add the filter, when i filter out properties["id"].

Here is my filter code
![image](https://user-images.githubusercontent.com/64775721/144191733-d68c89f8-68d1-4887-998d-81e277ce8d49.png)

[2021-12-01 07:39] Adraesh commented on #871
Hello,

Any feedback on this? Is it confirmed to be a bug?

[2021-12-01 15:13] #784 closed

[2021-12-01 17:29] kostiag commented on #869
Any update on this?

[2021-12-01 20:32] MaximAlien opened #886 "Location indicator is not visible after allowing location usage."
## Environment

- Xcode version: Xcode `13.1`
- iOS version: iOS `14.1`
- Devices affected: All
- Maps SDK Version: `10.2.0-beta.1`

## Observed behavior and steps to reproduce

Location indicator is not visible after allowing location usage during initial application launch. After all other subsequent application launches location indicator is shown correctly. For example:

https://user-images.gi

[2021-12-01 22:15] macdrevx commented on #886
Sounds like a duplicate of https://github.com/mapbox/mapbox-maps-ios/issues/860 which was fixed by https://github.com/mapbox/mapbox-maps-ios/pull/862

[2021-12-02 08:21] bjartebore commented on #841
This seems to work in the latest 10.0.2 release, closing

[2021-12-02 08:21] #841 closed

[2021-12-02 09:58] lishuo0710 opened #889 "cannot find MapProjection & GlobeMapProjection"
## Environment

- Xcode version:12
- iOS version: 14.5
- Devices affected:
- Maps SDK Version: 10.2.0-beta.1

install SDK by direct download (download url: https://api.mapbox.com/downloads/v2/mobile-maps-ios/releases/ios/10.2.0-beta.1/MapboxMaps.zip?access_token=<access-token>) , the Globe View Example cannot find MapProjection & GlobeMapProjection and etc.

[2021-12-02 11:42] qizh commented on #868
@ZiZasaurus, I'm not an issue author but I'm trying to migrate from v6 SDK to v10 SDK and I can't find a way to create a default callout for a point annotation. Looks like there's no such thing in the new SDK 🤔. Or am I missing something?

If there's no default callout, what is the way to create a custom one? Is there an example for it?
Any help would be appreciated.

[2021-12-02 13:08] AlexaderDNT commented on #777
And if you add 10 filter in the array it´s okey, but if you add 20 000, it becomes slow. Maybe i can write the filter code differently?

[2021-12-02 13:35] macdrevx commented on #889
This is a known issue. It has been fixed on the main branch, and will be shipped in the v10.2.0-rc.1 release.

[2021-12-02 13:37] macdrevx commented on #889
Fix is here: https://github.com/mapbox/mapbox-maps-ios/pull/854

[2021-12-02 14:41] macdrevx commented on #889
Closing this issue, but feel free to reopen if you find that the issue persists in v10.2.0-rc.1.

[2021-12-02 14:41] #889 closed

[2021-12-02 17:15] macdrevx commented on #775
I'm reopening this issue because we've discovered that the solution we implemented in https://github.com/mapbox/mapbox-maps-ios/pull/837 introduces a new issue described in https://github.com/mapbox/mapbox-maps-ios/issues/864.

For 10.2, developers will need to make their own tradeoff between these two issues using the new configuration option introduced in https://github.com/mapbox/mapbox-maps-io

[2021-12-02 17:27] macdrevx commented on #864
In https://github.com/mapbox/mapbox-maps-ios/pull/890, we're restoring the default behavior to match 10.1. This should resolve this issue. Please reopen if you find that is not the case.

[2021-12-02 17:27] #864 closed

[2021-12-02 18:27] ZiZasaurus commented on #869
@kostiag CacheManager no longer exists. Can you tell me a little more about your use case?

[2021-12-02 20:41] ZiZasaurus commented on #868
ViewAnnotations were made available in [v10.2.0-beta.1](https://github.com/mapbox/mapbox-maps-ios/releases/tag/v10.2.0-beta.1). Please take a look at our viewAnnotations examples [[1](https://github.com/mapbox/mapbox-maps-ios/blob/main/Apps/Examples/Examples/All%20Examples/ViewAnnotationMarkerExample.swift), [2](https://github.com/mapbox/mapbox-maps-ios/blob/main/Apps/Examples/Examples/All%20Examp

[2021-12-02 22:05] kostiag commented on #869
Wouldn't be prudent to update [documentation](https://docs.mapbox.com/ios/maps/guides/migrate-to-v10/)?
we are storing tiles offline using MGLOfflineStorage currently. Our applications need to work offline and pre-downloading of maps is a requirement.

[2021-12-03 02:39] MaximAlien commented on #886
Yes, works well in `v10.2.0-rc.1`, thanks. Closing this ticket.

[2021-12-03 02:39] #886 closed

[2021-12-03 03:18] qizh commented on #868
@ZiZasaurus, thank you. I've seen this functionality and it's great for making custom callouts. Though I was looking for something that is similar to your default callouts from v6.
![](https://docs.mapbox.com/ios/assets/maps-examples-default-callout-960-a841932db0a510ba3fcdc3b25b07a5a6.png)

So I don't need to manage all those things on my own:
- Move the camera so the callout fits the screen when

[2021-12-03 08:25] lishuo0710 opened #895 "Globe Example incorrect display on iPhone6s plus"
## Environment

- Xcode version:12
- iOS version:13.6.1
- Devices affected:iPhone6s plus
- Maps SDK Version: 10.2.0. rc1

Globe Example incorrect display as below
![20211203162359](https://user-images.githubusercontent.com/25873946/144569790-abf349c4-58ca-4e4c-9af2-c86a8a9089bd.jpg)
.

[2021-12-03 13:17] macdrevx commented on #895
cc: @astojilj @mpulkki-mapbox

[2021-12-03 16:19] macdrevx commented on #895
also @endanke in case this is an issue with our example

[2021-12-03 16:25] endanke commented on #895
@macdrevx I have a strong feeling that this is caused by the pixel ratio of the device. (I saw a similar issue previously when moved the surface to an external display with different density.)
I'll investigate this further after the long weekend and try to prepare a fix!

[2021-12-05 10:22] MaxAdamyan commented on #879
@knov
Thanks for the reply. As I can see the issue you referenced for Android got closed, as they already have the feature implemented (`FocalPoint` in Gesture's Options). But I cannot find anything like that in iOS SDK.
Will it be possible to add the feature to iOS SDK as well??

[2021-12-07 02:18] richardpineo opened #904 "LocalizationExample crashes on "Choose Language""
## Environment

- Xcode version: 13.1
- iOS version: 15.1
- Devices affected: all?
- Maps SDK Version: 10

## Observed behavior and steps to reproduce

Run the example LocalizationExample and tap the choose language button. The application crashes with an unhandled exception.

## Expected behavior

It should not crash

## Notes / preliminary analysis

You need to provide a source view or other loc

[2021-12-07 12:41] Izulle opened #905 "How to restrict camera to circle bounds?"
I am trying to migrate from 6.3 to 10.
I need to restrict camera moves inside circle with given center and radius.

In 6.3 I wrote:

    func mapView(_ mapView: MGLMapView, shouldChangeFrom oldCamera: MGLMapCamera, to newCamera: MGLMapCamera) -> Bool {
        guard let c = mapCenter else { // my property containing center coordinate
            return true
        }
        let l1 = CLLocation(la

[2021-12-07 13:33] endanke commented on #895
I did some further investigation and indeed the pixel ratio is the issue: currently we render the atmosphere behind the globe using the size and pixel ratio of the screen. (It's planned to be refactored later on to make it independent of those.)
In case the device is using a different screen scaling than the native one, then the atmosphere will have this alignment issue. I think if we use `UIScree

[2021-12-07 13:45] endanke commented on #895
Created a PR to change the default pixel ratio: https://github.com/mapbox/mapbox-maps-ios/pull/906
Also opened an issue to make the atmosphere shader independent from this value, which would prevent other issues in the future (in case a customer wants to explicitly use a different pixel ratio): https://github.com/mapbox/mapbox-3d-team/issues/71

[2021-12-07 15:08] #895 closed

[2021-12-07 15:24] endanke opened #907 "Keep content scale of MTKView in sync with pixelRatio"
Related to: https://github.com/mapbox/mapbox-maps-ios/issues/895
The MTKView we use as a surface for rendering currently always uses the native scale of the device, regardless of our configuration:
https://github.com/mapbox/mapbox-maps-ios/blob/cf8d26314ed0f7df7842a80c88fb8579a0cdaeae/Sources/MapboxMaps/Foundation/MapView.swift#L524
We should investigate if the supplied pixel ratio could be set on

[2021-12-07 16:07] macdrevx commented on #907
Hmm, actually that value is based on what's provided through map init options. So I think we're actually okay on this. Do you agree?

[2021-12-07 16:13] endanke commented on #907
Yes, I think we just have to review the rendering of the globe's background. But I thought I'll make sure we use the correct pixelRatio along the way. I'll close this issue and reopen it if we see some problems when we fix that shader.

[2021-12-07 16:15] #907 closed

[2021-12-07 17:56] 1ec5 commented on #777
If I understand correctly, your overall filter ends up looking like (id == 1 OR id == 2 OR id ==3 OR … OR id == 20000), which would be very inefficient. Consider using a `match` expression instead. If these values fall within a certain numeric range, use `<` and `>` expressions to make the filter even more efficient.

[2021-12-07 22:50] akirmse commented on #761
I disagree with marking this a feature rather than a bug, BTW.  I cannot use AnnotationInteractionDelegate in my app, because I also need to detect clicks on the map.

[2021-12-08 08:36] b992 opened #911 "PointAnnotation Title"
I can't find the title property of PointAnnotation. The official iOS SDK documentation mentions it. It says it's a _public var title: String?_  in the SDK, but I can't use it in my Xcode project. Is the current SDK lacks it? How can I add a title to an annotation then? Could someone add it back, or tell me where to find it? Thank you! :)

## Why
Because documentation mentions it, and I want to add

[2021-12-08 09:51] Adraesh commented on #871
Hello,

Any sign of life?

[2021-12-08 15:35] #835 closed

[2021-12-08 15:36] ZiZasaurus commented on #835
Closing this ticket but please feel free to reopen if you have additional questions.

[2021-12-08 15:49] ZiZasaurus commented on #911
@b992, the documentation that you linked is a bit out of date and the title property no longer exists with the current version ([v10.1.0](https://docs.mapbox.com/ios/maps/api/10.1.0/Structs/PointAnnotation.html#/s:10MapboxMaps15PointAnnotationV2idSSvp)) of the Maps SDK.

[2021-12-08 16:00] ZiZasaurus commented on #904
@richardpineo, I am unable to reproduce this behavior on v10 or our latest version v10.1.0. Can you please let me know if you are still seeing this on v10.1.0?

[2021-12-08 17:51] tornadojuice opened #912 "Enable pan flicking regardless of the camera's pitch"
## Enable pan flicking regardless of the camera's pitch

Pan flicking is disabled when the camera's pitch is >= `60`. Adjusting `panDecelerationFactor` at a pitch >= `60` has no effect. This produces a very unpleasant user experience for maps with high degrees of pitch.

## Why
Let apps decide if pan flicking should be enabled or disabled by allowing apps to adjust the `panDecelerationFactor` rega

[2021-12-08 18:20] macdrevx commented on #912
We've removed the 60 degree cutoff in v10.2.0-rc.1 and made some additional improvements to pan flicking behavior at higher pitches. Please try it out and let us know if you have any feedback.

[2021-12-08 18:20] #912 closed

[2021-12-10 08:27] MaciejPachciarekSMT opened #919 "Convert CGPoint to CLLocation"
## New Feature

I can't see a function to get CLLocation from the tapping point.
In old MapBox there was `convert` method
`- (CLLocationCoordinate2D)convertPoint:(CGPoint)point toCoordinateFromView:(nullable UIView *)view;.`

In Mapbox 10 we also have a method convert:
`open func convert(_ point: CGPoint, to view: UIView?) -> CGPoint`

However, its return just a given point. I don't know if it's a

[2021-12-10 14:22] AlexaderDNT commented on #777
@1ec5 Thanks, match worked and was faster

[2021-12-10 14:22] #777 closed

[2021-12-12 06:44] Salmaalsayed12 opened #929 "Map box"
## New Feature

<- Description of the feature being requested and any outcomes desired, an example use case, and any suggestions for solution ->

## Why
<- 1-2 sentence description of why you're requesting this feature. What problem does it solve? Why is it valuable? ->

[2021-12-13 06:59] ittna opened #930 "Offline tile packs"
I couldn't find information how new offline tile packs are priced? Is the limit of 750 tile packs included in the normal use?

btw. Contact sales web form on your website might be broken. I haven't received any replies from there.

[2021-12-13 15:25] ZiZasaurus commented on #871
Hi @adradesh, I am unable to reproduce this crash/error when running this snippet on either the simulator or a physical device. If you could please provide a sample project that reproduces this behavior this would assist us in our investigation.

[2021-12-13 15:31] #911 closed

[2021-12-13 15:44] tobrun commented on #905
Feature request is about delegate method that allows to make a decision about:
 - `shouldChangeFrom oldCamera: MGLMapCamera, to newCamera: MGLMapCamera`

[2021-12-13 15:49] felixkrautschuk commented on #358
Are there any news on this?

[2021-12-13 15:51] Tapestes commented on #919
@objc private func onMapClick(_ sender: UITapGestureRecognizer) {
        let touchPoint = sender.location(in: mapView)
        let coordinate = mapView.mapboxMap.coordinate(for: touchPoint)
}

[2021-12-13 16:48] #929 closed

[2021-12-13 17:46] NathanaelA commented on #358
@csaper -  Sorry, I just saw your message.    Unfortunately it was written for a specific client so I can't share the code.

Basically all I did was write several swift classes with the "objc" tag to expose it for the different pieces I needed.  Most the time it was fairly simple direct wrapping but occasionally I had to actually do data conversions from a swift type to a OBJC dictionary or other

[2021-12-13 19:35] ZiZasaurus commented on #919
@MaciejPachciarekSMT, the comment by @Tapestes would be the way to obtain the coordinates at a tapped point. Closing this ticket but please feel free to reopen if you have additional questions.

[2021-12-13 19:35] #919 closed

[2021-12-13 20:00] ZiZasaurus commented on #930
@ittna right now every [monthly active user](https://docs.mapbox.com/help/glossary/monthly-active-users/) gets 750 tile packs included in the normal use, however, please note that pricing is still being tweaked.

[2021-12-14 07:35] ittna commented on #930
Thanks, can I assume that possible tweaks only apply to new SDK versions and current SDK versions won't suddenly change?

[2021-12-14 11:34] MaciejPachciarekSMT opened #946 "Update geometry in sources programmatically"
## New Feature

In our app, we have the option to draw on the map. Users can draw a line and edit it. In pre v10 we used `MGLShapeSource` and then whenever the user change line position we updated geometry by `source.shape = MGLPolylineFeature`.

In v10 I can't see this type of source so I use GeoJSONSource. However when I try to update geometry by `source.data = .geometry(.lineString(LineString))

[2021-12-14 11:35] akovalov opened #947 "Custom tile server refresh"
There is a `VectorSource` in the app, that uses `https://[some_url_here]/{z}/{x}/{y}.pbf` as a `tiles` url.
The tile loads data correctly initially and also on map dragging or zooming correctly refreshes.

Is there a way to trigger tile refresh from code without manual map dragging or zooming? (the data is updated in real time so need to update periodically no matter if map is moving or not)

[2021-12-14 14:56] Adraesh commented on #871
Hello @ZiZasaurus could you provide me your test sample please?

Thanks.

[2021-12-14 15:16] ZiZasaurus commented on #946
@MaciejPachciarekSMT you can use [updateGeoJSONSource(withId:geoJSON:)]
(https://docs.mapbox.com/ios/maps/api/10.1.2/Classes/Style.html#/s:10MapboxMaps5StyleC19updateGeoJSONSource6withId7geoJSONySS_4Turf0E10JSONObjectOtKF) to programmatically update geometry sources. You can see this demonstrated in our Live Data example [here] (https://github.com/mapbox/mapbox-maps-ios/blob/36dcbfb00866372f565768

[2021-12-14 15:23] ZiZasaurus commented on #930
@ittna, that is correct. At the moment the pricing should remain the same for previous versions.

[2021-12-14 16:06] macdrevx commented on #775
Was closed inadvertently.

[2021-12-14 20:56] Tapestes opened #950 "Offline maps tile region boundaries"
## New Feature

I'd like to be able to highlight the geographic region accounted for by any offline TileRegion in the TileStore.   Using the method below, I can retrieve the center coordinate of the offline tile region, but I don't see any way to grab the northwest and southeast corners of the region boundary.

[code]

## Why
As far as i can tell, I can retrieve the center point of a region in the

[2021-12-15 06:36] MaciejPachciarekSMT commented on #946
Thanks for answer!

[2021-12-15 06:36] #946 closed

[2021-12-15 07:25] endanke opened #951 "Add example for usage of view annotations with associated point annotations"
Parity for: https://github.com/mapbox/mapbox-maps-android/pull/994

View annotations can be paired with other annotation types. We could add an example to showcase their usage using point annotations, as it is implemented in the Android SDK.

[2021-12-15 15:11] endanke commented on #951
I've promised to take this item in January, but now I had a 1-on-1 with Thiago and he asked me to focus on some high prio gl-native items instead. I've unassigned the ticket for the time being and in case I have a bit more bandwidth I'll try to pick it up later.
cc: @macdrevx @kiryldz

[2021-12-15 16:19] aclauss opened #954 "Crash under iOS 12 in mapView.mapboxMap.style.localizeLabels()"
## Environment

- Xcode version: 13.2
- iOS version: iOS 12.45.5
- Devices affected: iPhone, probably iPad
- Maps SDK Version: V10

## Observed behavior and steps to reproduce

After the map style has loaded I call the localize method to get localized map labels (I’ve loaded the „outdoor“ map style):
`self.mapView.mapboxMap.style.localizeLabels(into: Locale.current)`

This works fine under iOS 15

[2021-12-15 16:20] Adraesh commented on #871
Hello @ZiZasaurus

I finally found the issue, it's not directly related to the addCustomGeometrySource method itself but after having using this specific method if somehow you try use another method that calls the Style.allSourceIdentifiers(), basically any method that add/update another Source to the map (iex: updateGeoJSONSource()), it will crash with the same error.

Take the initial provided s

[2021-12-15 18:49] ZiZasaurus commented on #904
Closing this ticket but please feel free to reopen if you have any additional questions.

[2021-12-15 18:49] #904 closed

[2021-12-15 19:41] devioustree opened #956 "Expose ornament sizes"
## New Feature

To be able to perform fine-grained layouts it is useful to know the size of the things to be positioned. Exposing the current size of ornaments like `compass` and `logo` would be a natural complement to the current `margins` attribute.

[code]

[2021-12-15 19:56] macdrevx commented on #956
I think we have another ticket somewhere about enabling ornament-relative layout. It seems like the goal here is the same.

Adding a requirement to a public protocol would be a breaking change, so while this might work in v11, to solve this for v10, we'll need to think of something different.

[2021-12-15 20:02] devioustree commented on #956
The protocol may be public, but conforming to it outside of `MapboxMaps` doesn't seem useful? Are there expected reasons for consumers to conform to `OrnamentOptionsProtocol`?

[2021-12-15 20:07] devioustree commented on #956
Some of our use is to support positioning ornaments relative to each other, but that's not the entire functionality I desire. I'm also looking to position ornaments relative to other views and have them aligned by their centres.

[2021-12-15 20:24] ZiZasaurus commented on #950
@Tapestes, are you declaring the geometry in your `TileRegionLoadOptions` as a point or as another geometry type? If I create my region using a polygon (like in the sample code below) I am able to return a polygon for my tileRegionGeometry.

[code]

[2021-12-15 20:31] ZiZasaurus commented on #871
@adraesh, thank you for following up. I was able to reproduce the error you reported with the code from your latest comment.

[2021-12-15 21:40] Tapestes commented on #950
Thanks @ZiZasaurus. I'm declaring as a point.  It seems like its grabbing the largest possible area around the point. If that's the case, I'd still want to know how large an area it ended up grabbing.   If the size of the area  around the point is constant and you could supply that size, then I'm good as I could just infer the area or, as you suggest, grab a specified area.  Thanks for the help.

[2021-12-16 09:46] Adraesh commented on #871
Hi @ZiZasaurus great!

So bottom line when we use `addCustomGeometrySource()` it creates a source with the type "customvector" but then when `allSourceIdentifiers()` is called it's trying to create a `SourceType("customvector")` which is not working because the  enum SourceType does not have the case customvector:

[code]

It would be most probably either to add this customvector case either to us

[2021-12-16 13:33] akovalov commented on #947
We are now using `Cache-Control: max-age=60, private` in a tile from the tile server, where 60 is a 60 seconds, so tiles are reloading automatically after this (or can be a bit more) time. And it looks it suites our needs.

However, it would be good to know if there is any manual way to trigger tiles reloading. If no such, let's close this comment. Thank you.

[2021-12-16 19:17] devioustree opened #962 "Proposal: `Annotation.userInfo` should be non-optional"
The current `Annotation` protocol defines `userInfo` as [`[String: Any]?`](https://github.com/mapbox/mapbox-maps-ios/blob/7ff67c4ba02bc51069ae1ea3ba5f11962a64edbb/Sources/MapboxMaps/Annotations/AnnotationOrchestrator.swift#L13)

This can encourage some subtle bugs:

[code]

Making `userInfo` non-optional would not entirely remove the possibility of bugs, but it would reduce the likelihood and make

[2021-12-16 20:15] macdrevx commented on #956
I don't think so. Regardless, it actually shouldn't limit us since we could just introduce a new protocol that conforms to OrnamentOptionsProtocol that contains the additional field (if that ends up being the solution).

[2021-12-18 22:45] aclauss opened #965 "iOS SDK: retreiving coordinates while animations are running is highly unreliable"
## Environment

- Xcode version: 13.2
- iOS version: 15.2
- Devices affected: iPad/iPhone
- Maps SDK Version: 10

## Observed behavior and steps to reproduce

I’m trying to move a view in sync with a coordinate on the map when it is scrolled/zoomed. I do this within the „cameraChanged“ event handler. This kind of works, but a very strange issue causes some problems. A very simple code sample shows

[2021-12-18 23:39] aclauss commented on #965
Sorry, I’ve missed issue #775, which seems to the the same bug. So this report can be „ignored“

[2021-12-18 23:39] #965 closed

[2021-12-20 07:48] lukasz-szyszkowski opened #966 "Mac Swift Package Manager support"
There is a couple of errors about versions inconsistency when I'm trying to use SPM from the command line, e.g.: `swift test`
[code]
is it possible from your side to make these versions consistent?
This inconsistency makes SPM (without Xcode IDE) useless.

[2021-12-20 11:44] jvanakker opened #967 "Adding MapBox camera properties Field of View (and Depth of Field)"
For the MapBox's CameraOptions, it would be great to have an additional property for FOV (Field of View). Also, having the ability to set Depth of Field would be great, but this may impact rendering performance of course.

I think it may be relatively easy for MapKit to add these, because Apple already provides them. For instance, Apples SceneKit has these properties for SCNCamera as "fieldOfView"

[2021-12-20 11:58] ittna opened #968 "View annotation update removes feature association"
## Environment

- Xcode version: 13.2
- iOS version: 15.2
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

View annotation update removes feature association.

`
let view = UIView()
try mapView.viewAnnotations.add(view, options: ViewAnnotationOptions(geometry: Point(coordinate), width: 10, height: 10, associatedFeatureId: "view-0", visible: false))
try mapView.viewAnnotatio

[2021-12-20 22:07] RheaParks opened #969 "CameraOptions returned by MapView.camera(for:) is always 0"
## Environment

- Xcode version: 13.2
- iOS version: 15.2
- Devices affected: Simulator AND iPhone 13 Pro
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

Using the method `MapView.camera(for:)` provide new camera options but its zoom level is always *0*.

Here's my sample code (which is similar to the one [in the documentation](https://docs.mapbox.com/ios/maps/guides/migra

[2021-12-21 16:25] ZiZasaurus commented on #869
@kostiag, the [documentation](https://docs.mapbox.com/ios/maps/guides/migrate-to-v10/) has been updated. Closing this ticket out, but please feel free to reach back out if you have any additional questions.

[2021-12-21 16:25] #869 closed

[2021-12-22 07:55] ittna opened #972 "View annotations with feature association require SymbolLayer"
## Environment

- Xcode version: 13.2
- iOS version: 15.2
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

View annotations with feature association only becomes visible if map style contains SymbolLayer. Not sure if it was intended to only work with SymbolLayer but I didn't see this limitation documented anywhere.

## Expected behavior

View annotations with feature associ

[2021-12-22 21:10] macdrevx commented on #966
Since we only support iOS, you can't use `swift test` which is only for Mac/Linux. You have to use `xcodebuild`. See https://github.com/apple/swift-package-manager/blob/main/Documentation/Usage.md#depending-on-apple-modules

[2021-12-22 21:14] macdrevx commented on #858
Closing since this doesn't seem actionable. If we learn about a way to fix this, we can reopen.

[2021-12-22 21:14] #858 closed

[2021-12-22 22:11] alexeysatsunkevich commented on #877
@ZiZasaurus
Do you have any ideas about this ?

[2021-12-23 00:09] dmiluski commented on #523
Upgrading our CI Process to use Xcode 13.2+ seems to have addressed our CI Build Breaks when parallel builds are enabled.
https://github.com/mapbox/straightaway-ios/pull/1427

[2021-12-23 00:20] macdrevx commented on #523
Thanks Dane. We've had another internal confirmation of the fix as well. Closing this issue, but please let us know if you see this happen again in Xcode 13.2 or later.

[2021-12-23 00:20] #523 closed

[2021-12-23 06:14] lukasz-szyszkowski commented on #966
That's not good because `swift run` didn't work either. Therefore I can't use `swift run swiftlint` and other helper tools from the package

[2021-12-23 10:49] lasha-ring opened #973 "App Extensions Support"
## New Feature

Mapbox v10.2.0 doesn't support app extensions due to the usage of `UIApplication.shared`. I propose extending UIApplication with an extension safe accessor that's compiler friendly.

[code]

## Why
Until this is resolved, app extensions won't work with Mapbox.

[2021-12-23 17:35] macdrevx commented on #580
Throwing in this situations seems reasonable to me.

[2021-12-23 17:46] macdrevx commented on #606
I just tried reproducing this with Xcode 13, and couldn't make it fail. Closing this until we can repro.

[2021-12-23 17:46] #606 closed

[2021-12-23 21:03] macdrevx commented on #829
Closing in favor of https://github.com/mapbox/mapbox-maps-ios/issues/501

[2021-12-23 21:03] #829 closed

[2021-12-23 21:17] macdrevx commented on #514
https://github.com/mapbox/mapbox-maps-ios/pull/964 exposed a new API that allows client code to request that the map redraw. You may be able to use that to solve some of the same problems that would be addressed by continual metal view rendering.

[2021-12-23 21:27] macdrevx commented on #69
In v10, you can get all the layers via a combination of [`Style.allLayerIdentifiers`](https://docs.mapbox.com/ios/maps/api/10.2.0/Classes/Style.html#/s:10MapboxMaps5StyleC19allLayerIdentifiersSayAA0E4InfoVGvp) and [`Style.layer(withId:)`](https://docs.mapbox.com/ios/maps/api/10.2.0/Classes/Style.html#/s:10MapboxMaps5StyleC5layer6withIdAA5Layer_pSS_tKF)

[2021-12-23 21:28] macdrevx commented on #69
Closing this since it's pretty stale, but please feel free to reopen with more info if the solution I mentioned is insufficient for your use case.

[2021-12-23 21:28] #69 closed

[2021-12-23 21:56] macdrevx commented on #287
Closing in favor of https://github.com/mapbox/mapbox-maps-ios/issues/686 where there's a bit more discussion

[2021-12-23 21:56] #287 closed

[2021-12-23 22:27] macdrevx commented on #63
View annotations shipped with v10.2.0. Closing this ticket, but please open new ones with feedback about the new feature.

[2021-12-23 22:27] #63 closed

[2021-12-23 22:30] macdrevx commented on #464
View annotations API landed in v10.2.0.

[2021-12-24 13:44] PrisakarMaksim opened #977 "Symbol layer flickering"
## Environment

- Xcode version: 12.5
- iOS version: 14.0.1
- Devices affected: iPad mini 4
- Maps SDK Version: 10.2.0 (Example App)

## Observed behavior and steps to reproduce

1. add raster tiles source
2. add symbol layer or point annotation on the map above raster layer
3. start zoom in/out or scroll map

Icon flicker

## Expected behavior

Icon stay on the map all time while scrolling/zoomin

[2021-12-25 17:25] latargere opened #978 "Purple rectangle layer after a background"
## Environment

- Xcode version: 13.2
- iOS version: 15.2
- Devices affected: iPhone 13 pro
- Maps SDK Version: 10.2

## Observed behavior and steps to reproduce

After awhile in the background, when I put back the app in foreground. All layers are represented with purple rectangle.
I got the same behavior in the latest mapbox navigation

## Expected behavior

My annotations should be back

![287A

[2021-12-25 17:31] latargere opened #979 "Viewannotations are not in sync with the camera"
## Environment

- Xcode version: 13.2
- iOS version: 15.2
- Devices affected: iPhone 13 pro
- Maps SDK Version: 10.2

## Observed behavior and steps to reproduce

the latest mapbox sdk introduced the view annotation which is really great for our needs but this new annotation is not in sync with the camera and other layers when we move the map

## Expected behavior

Be in sync with the camera like

[2021-12-27 12:47] jumbopilot opened #981 "iOS Crash in SourceManager createSource() when loading geojson featurecollection"
## Environment

- Xcode version: 13.2 Final
- iOS version: 15.3
- Devices affected: iPhone
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce
Add a Fill layer from geojson featurecollection
No self-programmed do-catch error handling is triggered.

Xcode debug output:
---
libc++abi: terminating with uncaught exception of type mapbox::util::bad_variant_access
dyld4 config: DYLD_

[2021-12-27 14:32] jvanakker commented on #979
I can confirm the same problem.

[2021-12-29 06:06] LearnWithTung opened #982 "'Observable' is ambiguous for type lookup in this context"
## Environment

- Xcode version: 12.5.1
- iOS version: 15.2
- Devices affected:
- Maps SDK Version: v10.2.0
- MapboxNavigation: v2.2.0-beta.1
- RxSwift / RxCocoa: ~> 6.0.0
## Observed behavior and steps to reproduce
Compile error with log:
`'Observable' is ambiguous for type lookup in this context`

## Expected behavior
Compile successful

[2021-12-29 13:08] ittna opened #983 "Show reduced accuracy location as circle"
## New Feature

When user allows only reduced accuracy location, is it possible to show it as circle? Currently it seems to not show location puck at all with reduced accuracy permissions.

## Why

Implement similar behaviour as on Apple maps. Apple maps shows reduced accuracy location as circle.

[2021-12-29 16:59] mathipalm commented on #979
Can confirm as well, same problem for me

[2021-12-30 16:24] mpiannucci commented on #686
Out of the box on an intel macbook pro building an app for catalyst with macbox as a dependecy gives only the two following errors:

![Screen Shot 2021-12-30 at 11 24 41 AM](https://user-images.githubusercontent.com/1832671/147769856-33fd253c-e58a-4b18-87eb-afe439ba101f.png)

[2021-12-30 18:53] parrots commented on #742
Still an issue in 10.2, currently my # 2 crasher in production.

<img width="727" alt="Screen Shot 2021-12-30 at 11 52 01" src="https://user-images.githubusercontent.com/171163/147780235-1eb5a990-9a8e-4eed-9fa8-cb9c9ff2616d.png">

[2021-12-30 18:58] parrots opened #984 "Crash on app termination in mbgl::platform::Settings::get"
## Environment

- Xcode version: 13.2
- iOS version: iOS 14 and 15
- Devices affected: iPhone and iPad
- Maps SDK Version: 10.2

## Observed behavior

Crash when app is being terminated:

[code]

<img width="715" alt="Screen Shot 2021-12-30 at 11 57 31" src="https://user-images.githubusercontent.com/171163/147780547-56386ca6-39f4-4113-824d-0d811f2a5493.png">

[2021-12-31 05:00] mpiannucci opened #985 "Create ImageSource from a UIImage without having to write to disk"
## New Feature

Allow ImageSource to set a UIImage instead of a Url for the image. Not all images are stored on disk or on a remote server.

## Why

I am creating image layers on the fly, on device and there is no way to add them as a layer on the map. I attempted using a base64 string but that did not work. It’s much less efficient to have to round trip to a server or save the image to disk (they

[2022-01-03 13:51] tomascern opened #986 "Custom style tiles download fails"
## Environment

- Xcode version: 13.1
- iOS version: 15.1.1
- Devices affected: iPhone 12
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

Hello, I have this minimal code:

[code]
When trying to download tiles with some default Mapbox style, everything works. When I try to download tiles with my custom style, the download immediately stops with the following log:
`Tile regi

[2022-01-03 16:47] aclauss opened #987 "QuickZoomGestureHandler in Mapbox and Apple Maps: conflicting behaviour"
## New Feature

The QuickZoomGestureRecognizer allows to double-tap-pan up/down to zoom in or out on.
It would be great if there was an option to exchange the up/down gestures to zoom in/out.

## Why

These pan up/down gestures are exactly reversed to the gestures of the native Apple Maps App under iOS. Therefore this can cause some confusion for users who are used to the Appe Maps gestures. Users

[2022-01-04 12:12] Eke commented on #979
Same here

[2022-01-04 15:49] ZiZasaurus commented on #977
@PrisakarMaksim, thank you for reporting this behavior. I am able to reproduce it on v10.2.0 and am investigating.

[2022-01-04 16:15] ZiZasaurus commented on #978
@latargere, thank you for reporting this behavior. Is this occurring with symbol layers, point annotations or both? Additionally, do you know how much time it took for the purple rectangles to appear and is this happening on physical devices or on the simulator?

[2022-01-04 16:35] latargere commented on #978
Thanks for your questions. It was on a real device.
On this screen, the main square is the puck defined with images. The little rectangles are something generated by Mapbox and it should be the little street arrow showing the direction of a street.
I've got this issue on mapbox navigation with the course view

[2022-01-04 17:48] ZiZasaurus commented on #981
@jumbopilot I experience the same behavior when using the code snippet you've provided above, however, when I remove `myGeoJSONSource.cluster = true` or set it to false the code operates as expected and the fillLayer is rendered. Please note that `cluster` can only be used for point features, as noted [here](https://docs.mapbox.com/ios/maps/api/10.2.0/Structs/GeoJSONSource.html#/s:10MapboxMaps13Ge

[2022-01-04 17:49] bmt2018 commented on #986
I asked about this back in July 2021 and they said it's not currently supported and that's why they left the "legacy tile-based offline system" in the v10 SDK.

See https://github.com/mapbox/mapbox-maps-ios/issues/546 for more info.

[2022-01-04 17:56] ZiZasaurus commented on #982
@LearnWithTung, can you provide some more context as to how /when you received this error? Were you compiling your own project or one of our example projects?

[2022-01-04 18:13] ZiZasaurus commented on #985
@mpiannucci thank you for bringing this to our attention. We will consider your request for adding this feature in a future version of v10.

[2022-01-04 18:15] #673 closed

[2022-01-04 18:27] ts95 opened #988 "`source.children(of: cluster)` and `source.zoomLevel(forExpanding: cluster)` missing in v10"
We recently updated our MapBox dependency from v6 to v10, and as we were refactoring the code we noticed that it's seemingly no longer possible to implement expanding zoom for annotation clusters when tapping on a cluster. In v6 you could use `source.zoomLevel(forExpanding: cluster)` to get the `zoomLevel` where the cluster would dissolve/expand into multiple new annotations, and call the `setCent

[2022-01-04 18:32] macdrevx commented on #983
@ZiZasaurus this *should* already be happening. If it's not, please mark it as a bug.

[2022-01-04 18:52] macdrevx commented on #988
We'll be bringing methods like that back in a future release (PR here: https://github.com/mapbox/mapbox-maps-ios/pull/975). In the meantime, you can use the queryFeatureExtension method of MapboxMap (the PR I linked demonstrates how to use it in each case).

[2022-01-04 18:53] ZiZasaurus commented on #984
Ticketed upstream for GL-Native

[2022-01-04 19:32] ZiZasaurus commented on #983
@ittna thank you for reporting this behavior. It looks like the icon for reduced accuracy is added at 0.0, 0.0 regardless of the user's location and there is indeed no location puck.

![IMG_C5185D3E0255-1.jpeg](https://images.zenhubusercontent.com/5d9f907d89616e000103e95c/ddfd310f-e639-4a3c-99e0-818e5d95ad51)

[2022-01-04 21:04] #983 closed

[2022-01-05 01:35] richardpineo opened #990 "camera.fly with edge insets does not work as expected"
## Environment

- Xcode version: 13.2.1
- iOS version: all, but simulator iOS 15.2 exhibits it
- Devices affected: ipad
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

If you try to fly to a location or geometry with a top edge inset that is sufficiently larger than the bottom edge inset, then the animation will jerk at the end and the map will have a weird margin at the t

[2022-01-05 03:22] tungvustarglobal commented on #982
@ZiZasaurus I created my own project, install those frameworks via cocoapods. I got the error whenever I use `Observable` for example
[code]

[2022-01-05 03:24] tungvustarglobal commented on #982
Here's my podfile
[code]

[2022-01-05 04:09] LearnWithTung opened #991 "Missing features"
## New Feature
I am having trouble understanding Mapbox v10. The way I'm using it now it seems to be missing many functions like the regionDidChangeAnimated for example that was a part of the MGLMapViewDelegate prior to v10.
The way I'm interacting with the map now is through `mapView.mapboxMap.onEvery()` but the map event options here don't include equivalents to many of the old delegated functio

[2022-01-05 06:11] himu243 commented on #979
I can also confirm the same. Looks like a bug

[2022-01-05 08:38] ts95 commented on #755
I also immediately noticed this after updating to v10 and it's not optimal. I'll disable pinch rotation in the meantime.

[2022-01-05 15:25] knov commented on #986
Thanks for your request of this feature. We will track this request via #546 and support your continued use of the legacy APIs per [this comment](https://github.com/mapbox/mapbox-maps-ios/issues/546#issuecomment-901160523).

[2022-01-05 15:25] #986 closed

[2022-01-05 15:46] ZiZasaurus commented on #977
@PrisakarMaksim, we are working on resolving this behavior. In the meantime, if you set the raster layer opacity to 0.99 the flickering stops.

[2022-01-05 15:50] #797 closed

[2022-01-05 16:00] ZiZasaurus commented on #804
@DntPullALockett just wanted to follow up, are you still experiencing this crash?

[2022-01-05 16:15] DntPullALockett commented on #804
@ZiZasaurus  Yes we are, invert high numbers. But we are still unsure of the origins. We know that you have stated that this function doesn't exist. Also our other Map integrations Mapwize said their product isn't iOS 15 ready. We believe the issue to lay within their framework somewhere. I can close this as I am going to remove Mapwize/Mapwize and do an Apple Maps solution.

[2022-01-05 16:15] #804 closed

[2022-01-06 08:17] latargere commented on #978
Is there a way I can help you?

[2022-01-06 12:04] mihaho commented on #742
@ZiZasaurus is there any update on this issue?

[2022-01-06 13:06] PrisakarMaksim commented on #977
@ZiZasaurus, thanks a lot for your response! Approach you suggested works like a charm!
Hope, this bug will be fixed in a future release as our users are allowed to setup different raster map opacity themselves.

[2022-01-06 13:19] c941010623 opened #995 "How to make Puck2D move smoothly when changing position"
Hi Mapbox Team,

I use this
[Demo](https://docs.mapbox.com/ios/maps/examples/tracking-mode/)

I use this example.
When I drive out, I find that the movement of the blue hockey puck is jumping.
I hope the movement of the blue hockey puck is as smooth as that of Google Map.

How can I do this?
What settings do I need to deal with?

Can you help me, Thanks ~

[2022-01-07 05:40] #988 closed

[2022-01-07 07:49] kiryldz commented on #979
Thanks for the feedback on that new feature!

This behaviour is not a bug as view annotations are actual regular `UIView`s drawn on top of the map surface rendered by Metal - that causes small visual delay when moving the map. @macdrevx could you please provide more iOS technical background if needed and correct if I'm wrong 😄 Perhaps we could think of something to at least reduce it from our end.

[2022-01-07 08:11] jokerping opened #997 "Can viewAnnotations or annotations be moved by animations?"
In V10 viewAnnotations or annotations can be animated to move according to given coordinates just like Uber's vehicle icons

[2022-01-07 10:21] ts95 opened #998 "Pulsating halo effect for user location puck"
In MapBox v6 the default user location puck was red, it had a pulsating halo around it, and the red circle in it had a scale animation where it would grow and shrink in an oscillating manner.

The new one is a blue dot with no animations. I see that the `Puck2DConfiguration` object has a field called `showsAccuracyRing`, which I've set to `true`, ~~but it doesn't appear to do anything.~~ (nvm, the

[2022-01-07 10:35] ts95 commented on #998
I tried pitching the map at an angle in MapBox v6 and noticed that the user location puck appears to have a 3D effect, then I found this in v10 of the SDK: `Puck3DConfiguration`. Do you have a 3D model of the old puck?

[2022-01-07 11:14] akovalov commented on #930
@ZiZasaurus could you please tell if in the next versions it is planned to have pricing for offline tile packs exceeding 750? We have an app used in aviation where network connection could be not available or bad, or with a high cost for traffic. So it would be good to be able to have an offline area for like US territory of zoom levels 2-8 etc. Thank you.

PS We also tried to contact sales via a

[2022-01-07 14:45] dhimansham commented on #608
Any updates on this?
MapBox V10 is ready for SwiftUI ?
@knov @MartinMajewski @jmkiley @jumbopilot @zugaldia

[2022-01-07 15:23] ZiZasaurus commented on #978
@latargere, I am unable to reproduce this behavior with our examples. Would you be able to share a sample project that reproduces this behavior?

[2022-01-07 15:51] ZiZasaurus commented on #991
@LearnWithTung, can you share more about your use case for the delegate methods?

Currently, in order to filter view annotations, you would have to manually adjust the ViewAnnotationOptions.visible for the annotations that you want to show/hide.

[2022-01-07 16:12] LearnWithTung commented on #991
@ZiZasaurus
In my current implementation, we use `regionDidChangeAnimated` combine with `MGLCameraChangeReason` to specify if the region is changed by user.
We also use ` regionIsChanging` and some other delegate methods but cannot find equivalent methods in the new SDK

[2022-01-07 19:08] ZiZasaurus commented on #981
Closing this ticket but please feel free to reopen if you have additional questions.

[2022-01-07 19:08] #981 closed

[2022-01-07 19:45] ZiZasaurus commented on #997
@jokerping we don't currently offer any support for animating layers, sources, or annotation positions. To achieve this, you would need to manually update the position of the annotation at every frame using your own CADisplayLink.

What's the source of the location you want to show? the device's current location? If so, can you use a puck? If it's something else could you use a custom location pro

[2022-01-07 21:48] richardpineo commented on #360
We have the same need for our application - showing trajectories of flights. Are there any updates for implementing this feature or potential workarounds?

[2022-01-07 21:51] richardpineo commented on #414
We also have a need for this feature to render trajectories for flights over 3d terrain. Any updates to scheduling the feature or potential workarounds?

[2022-01-07 22:56] ZiZasaurus commented on #998
@ts95 If you're trying to change the color while using the puck API, it won't work because any changes you make will get overwritten on the next location update.
If you are using LocationIndicatorLayer directly there are a couple options. When you create the layer, you can use Style.addLayer(_:layerPosition:). To update just that property on an existing layer, you can either use updateLayer(withId

[2022-01-08 06:39] c941010623 commented on #995
is layer.locationTransition = StyleTransition(duration: 6, delay: 0) ?

[2022-01-08 13:02] ts95 opened #999 "style.setLayerProperty() function crashes the app"
## Environment

- Xcode version: 13.2.1
- iOS version: 15.1.1, 15.2
- Devices affected: iPhone 13 Pro (physical device & simulator)
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

When calling `try mapView.mapboxMap.style.setLayerProperty(for: layerId, property: property, value: value)` where `layerId` is the ID of a layer that has been added to a source that has been adde

[2022-01-08 13:10] ts95 commented on #998
@ZiZasaurus Ah yeah, that makes sense.

Good to know that this is an option, but in my case I'd prefer not to create a new custom puck if it can be avoided because then I'd have to forgo using the native puck altogether which gives me a bunch of things for free out of the box.

I tried using this, but it caused the app to crash. I've submitted a bug report here https://github.com/mapbox/mapbox-map

[2022-01-08 16:51] ts95 commented on #999
Unrelated to this bug but: would it be possible to change the function signature of `setLayerProperty(for:property:value:)` into something like `setLayerProperty<L: Layer>(for:keyPath:value:)` to make it more type safe?

It would work like this:
[code]

[2022-01-10 01:57] #995 closed

[2022-01-10 03:12] jokerping commented on #997
The source of the location is not the user's location but a set of defined coordinates and I want the mapxbox to display an icon and have it move according to the coordinates (which I can control and animate). I have tried using the location provider (mapView.location.overrideLocationProvider) but the **custom Provider** does not allow me to set the location coordinates myself. **LocationIndicator

[2022-01-10 06:09] Gelembjuk opened #1000 "How to use custom raster tiles source with Mapbox?"
Hello,
Is it possible to use 3-rd party map tiles with mapbox on iOS?
For example, can i point mapbox to https://{a|b|c}.tile.opentopomap.org/{z}/{x}/{y}.png so OpenTopMaps are displayed?

There is the trick to use some offline maps with Mapbox , where local webserver is started and tiles are stored in SQLite DB.
But that tutorial is created for older version of Mapbox.
https://gist.github.com/nam

[2022-01-10 07:58] Adraesh commented on #871
Hi @ZiZasaurus

First of all happy new year!

Is there any news regarding this topic? Thank you!

[2022-01-10 13:06] MaciejPachciarekSMT opened #1002 "White map after rotate screen"
## Environment

- Xcode version: 12.5.1
- iOS version: 14.4
- Devices affected: All
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

I open the map in portrait mode, loading all styles, layers, etc. On the end of loading (on `styleDataLoaded` event) I set the center of the camera to the map via `mapView.camera.ease` When it finish I also restrict the camera bounds as you su

[2022-01-10 14:56] tomascern commented on #986
In this case, we would also need to add method for setting metadata of the OfflineRegion and method for deleting a region from the storage.

[2022-01-10 14:58] tomascern opened #1004 "Add missing methods for legacy offline data download API"
Thanks for your request of this feature. We will track this request via #546 and support your continued use of the legacy APIs per [this comment](https://github.com/mapbox/mapbox-maps-ios/issues/546#issuecomment-901160523).

_Originally posted by @knov in https://github.com/mapbox/mapbox-maps-ios/issues/986#issuecomment-1005800597_

[2022-01-10 14:59] #1004 closed

[2022-01-10 15:04] tomascern opened #1005 "Add missing methods for legacy offline data download API"
Hello, we need to download our own self-hosted tiles for offline usage.  According to this comment: https://github.com/mapbox/mapbox-maps-ios/issues/986#issuecomment-1005800597 we should continue use legacy APIs (OfflineRegionManager) for now. In this case, we need to add some missing methods - setting metadata of the offline region (right now there is only method for getting metadata) and method

[2022-01-10 17:04] ZiZasaurus commented on #1002
@MaciejPachciarekSMT thank you for reporting this behavior. I am able to reproduce on v10.2.0.

[2022-01-10 18:08] latargere commented on #978
I'm struggling trying to provide something since I have not identified how to clearly trigger this bug.
Do you have more info how Mapbox core would switch to this state (purple for add layer, grey for street name) ? With a memory warning? Call on background thread? Buffer size exceeded ?

[2022-01-11 02:37] #1000 closed

[2022-01-11 02:37] ZiZasaurus commented on #1000
@gelembjuk, you can use third party map tiles with Mapbox SDK v10, please take a look at our example [here](https://github.com/mapbox/mapbox-maps-ios/blob/main/Apps/Examples/Examples/All%20Examples/RasterTileSourceExample.swift).

To use third party raster tiles offline, you would need to use the OfflineRegionManager. An example can be seen [here](https://github.com/mapbox/mapbox-maps-ios/blob/mai

[2022-01-11 02:52] ZiZasaurus commented on #991
@LearnWithTung, can you please provide a code snippet of your implementation prior to v10 so I can point you in the right direction?

[2022-01-11 04:39] tungvustarglobal commented on #991
@ZiZasaurus
We're using `MGLMapViewDelegate` and RxSwift to convert delegate methods to observables, here's a code snippet
[code]

  I also want to share you APIs that we're currently use to update visibility of layers on the map but can not find in the new framework (filter annotations and predicate)
[code]

[2022-01-11 15:35] ZiZasaurus commented on #978
@latargere happy to get these questions answered for you. In the meantime, would you be able to provide us with any related logs?

[2022-01-11 16:51] ZiZasaurus commented on #997
@jokerping, I've attached sample code below, as well as a screen recording of a working LocationIndicationLayer

[code]

https://images.zenhubusercontent.com/330733892/b875a96e-36ce-4138-bd5c-cf3913f259dc/simulator_screen_recording___iphone_11___2022_01_10_at_09_38_47.mp4

[2022-01-11 18:48] latargere commented on #978
I tried to get it with the debugger attached but right now, I couldn't. If it can help after having it (after coming from background), I didn't a second background/foreground and layers were fixed

[2022-01-11 19:57] ZiZasaurus commented on #978
@latargere do you have a code snippet of how you were originally adding the second background/foreground that caused the purple rectangle?

[2022-01-11 20:13] ZiZasaurus commented on #999
@ts95 thank you for reporting. It looks like the error wording may need to be adjusted, as the issue pertains to the `value` parameter, not `for`. If I use the following code snippet, the marker updates as expected.

[code]

You can also use [updateLayer(withId:type:update:)](https://docs.mapbox.com/ios/maps/api/10.2.0/Classes/Style.html#/s:10MapboxMaps5StyleC11updateLayer6withId4type0D0ySS_xmyxzK

[2022-01-12 01:07] Mahfouz0 opened #1007 "Am"
## Environment

- Xcode version:
- iOS version:
- Devices affected:
- Maps SDK Version:

## Observed behavior and steps to reproduce

## Expected behavior

## Notes / preliminary analysis

## Additional links and references

[2022-01-12 02:41] jokerping commented on #997
Thank you very much, the problem is solved

[2022-01-12 02:41] #997 closed

[2022-01-12 12:30] Ketan-Simform opened #1008 "WatchOS Support"
## WatchOS support

I need to use map with poly lines in WatchOS. I tried with rest APIs and Mapbox static SDK but due to large data it fails. I have already seen one application [WatchSmith](https://apps.apple.com/us/app/watchsmith/id1483088503). Is there any solutions or private repo there for similar implementation.

@mapbox

[2022-01-12 14:57] bmt2018 commented on #1005
Agreed.  I was just looking into how to set the metadata for a specific offline region using the legacy OfflineRegionManager and I don't see a way to do it.

[2022-01-12 15:25] #1007 closed

[2022-01-12 15:25] ZiZasaurus commented on #1007
Closing this ticket out, as it has no information. Please feel free to reopen once requested information (environment, observed behavior, expected behavior, etc.) have been added.

[2022-01-12 17:45] latargere commented on #979
Thanks for the answer.
Yes for this kind of easy layout we could create an image but for view that will need some animation, it will not possible to just snapshot the view. For example, if we want to nicely react to zoom level or other map events.
The same issue appears with the courseview from Mapbox Navigation when you interact with the map

[2022-01-12 20:23] evil159 commented on #828
I just had the same error, which I suspect was caused by me trying to build the example project without adding public and secret keys.

What helped me was to perform in Xcode:
* Reset package cache(`File->Packages->Reset Package Caches`)
* Resolve packages(`File->Packages->Resolve Package Versions`)

[2022-01-12 21:26] knov commented on #608
Thanks for the continued feedback on our SwiftUI support. We will continue to evaluate options to improve the usability of the SDK with SwiftUI and welcome your feedback on specific pain points and use cases.

[2022-01-12 23:41] RodrigoSAlves opened #1016 "Downloaded Tile Region does not have tiles for highest requested zoom level"
## Environment

- Xcode version: Version 13.2.1 (13C100)
- iOS version: 15.1.1
- Devices affected: iPhone 12 mini
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce
After downloading a StylePack and TileRegion for a given square (Polygon with 2.5km side) - using an adaptation of the [example provided for downloading tile regions](https://github.com/mapbox/mapbox-maps-ios/blob/

[2022-01-13 08:17] AlexaderDNT opened #1018 "Setting CameraBounds and zoom max out, reset camera bounds to normal, camera moves to the sea"
I am using makeAnimator to move the camera
1. setCameraBounds to square
2. setting transition.center.toValue = centerpoint, transition.zoom.toValue = 1
3. Reset camerabounds to normal

First try is perfect and as expected, second try goes to the sea

https://user-images.githubusercontent.com/64775721/149291319-ba16796c-b8c5-454f-a38a-1c4e46c4a1b4.mov

[2022-01-13 12:32] AlexaderDNT commented on #1018
Found out what the problem was, i was calling the animation multiple times at ones and it got this bug

[2022-01-13 12:32] #1018 closed

[2022-01-13 16:25] AlexaderDNT opened #1022 "Move the camera to bounds without setting the bound"
## New Feature

I wanna move to a area with points and zoom all out so you can se all the points.

[2022-01-13 16:26] AlexaderDNT commented on #1022
I want this https://docs.mapbox.com/mapbox-gl-js/example/fitbounds/

[2022-01-13 17:03] ZiZasaurus commented on #1022
@alexaderDNT, please take a look at our RestrictCoordinateBounds example [here](https://github.com/mapbox/mapbox-maps-ios/blob/167cc03f433655fa7f993be6083fbf6c114580b1/Apps/Examples/Examples/All%20Examples/RestrictCoordinateBoundsExample.swift).

[2022-01-13 17:52] ZiZasaurus commented on #1016
@RodrigoSAlves, when I change my center coordinate and geometry to match yours, I am unable to reproduce any issues with the map's display at lower zoom levels on v10.2.0.

I've attached a screenshot of the same geometry for both offline examples below:

OfflineManager Example screenshot:
![IMG_7277.PNG](https://images.zenhubusercontent.com/5d9f907d89616e000103e95c/7a1566f6-b333-4cee-aa71-32d250f5

[2022-01-13 17:59] RodrigoSAlves commented on #1016
@ZiZasaurus Thanks for taking a look.
Could you re-attempt to upload the screenshots?

Also, could you provide some more details on how you tried to reproduce? The problem only appears to occur when the device has no connection.

[2022-01-13 19:06] karaiskc opened #1023 "Missing Purpose String in Info.plist for NSLocationWhenInUseUsageDescription"
I am in the process of updating from version 6.3.0 to 10.2.0 and I see the following issue after uploading a new build to App Store Connect:

My app does not require user location or heading at all and I would like to avoid adding such a purpose string to Info.plist, since an accidental request from any of the app's linked third party libs now or in future could present the alert to the user. I ha

[2022-01-13 20:36] ZiZasaurus commented on #1016
Sure thing, I've added the screenshots below.

OfflineManager Example screenshot:
![IMG_7277.PNG](https://images.zenhubusercontent.com/5d9f907d89616e000103e95c/a2520b4f-a8fa-4ae4-a545-5bb04263b605)

OfflineRegionManager Example screenshot:
![IMG_7275.PNG](https://images.zenhubusercontent.com/5d9f907d89616e000103e95c/427f7ed7-1f6e-46a3-9941-d7738c674f9e)

In terms of reproducing, I used the origina

[2022-01-13 20:59] irlanco commented on #991
I agree that `regionDidChangeAnimated` is a very important delegate/feature that seems to be missing in v10. We use it to repopulate annotations when the viewport changes.

Do the devs have a suggestion to mimic this behavior? Basically just knowing when the user has moved the map.

[2022-01-13 21:35] ZiZasaurus commented on #972
@ittna can you let me know more about which source the feature id you're trying to reference is defined in? Additionally, what type of source is it (geoJSON source or something else)?

[2022-01-13 21:40] ZiZasaurus commented on #998
@ts95, at the moment there is no halo or pulsating radius out of the box in v10 and you would need to create a custom LocationIndicatorLayer. We will consider your request for adding this feature in a future version of v10.

[2022-01-13 23:25] ZiZasaurus commented on #877
@alexeysatsunkevich you can use a `distance` expression to change the color of the selected cluster like in the code snippet below:

[code]

https://images.zenhubusercontent.com/330733892/7f7f96cc-0968-424e-b938-009192398c13/simulator_screen_recording___iphone_11___2022_01_13_at_18_16_57.mp4

[2022-01-13 23:32] jake-low opened #1024 "Support VoiceOver"
## What

Add basic support for VoiceOver (iOS's built-in screen reader) to map elements, in order to reach parity with Mapbox iOS SDK v6.

## Why

VoiceOver allows people with limited vision to use iOS apps. It can read aloud text that's shown on the screen, and describe user interface controls like buttons and sliders when a user touches them.

Without VoiceOver support, app developers can't upgr

[2022-01-14 07:04] ittna commented on #972
I'm using `GeoJSONSource` as source.

[code]

You have to add `SymbolLayer` to style otherwise pin won't become visible. Also if you don't specify `associatedFeatureId` in `ViewAnnotationOptions` then pin becomes visible.

[2022-01-14 08:03] AlexaderDNT commented on #1022
thanks @ZiZasaurus

[2022-01-14 08:03] #1022 closed

[2022-01-14 14:54] macdrevx commented on #1023
Thanks for the feedback. I agree with you — if your app doesn't need location, the Mapbox Maps SDK shouldn't be forcing you to add that key.

The location component in v10 was designed to only request permission if `NSLocationWhenInUseUsageDescription ` is present in the Info.plist; however, that's clearly not a useful approach since Apple requires the key to be present if the request permission A

[2022-01-14 15:01] macdrevx commented on #979
Hi all, there's an option on `MapView` called `presentsWithTransaction` (corresponding to the property of the same name on the underlying Metal view) that may help with this. Could you try setting it to `true` to see whether that improves the situation?

https://docs.mapbox.com/ios/maps/api/10.2.0/Classes/MapView.html#/s:10MapboxMaps7MapViewC23presentsWithTransactionSbvp

[2022-01-14 19:49] ZiZasaurus commented on #1016
@RodrigoSAlves it looks like my screenshots didn't attach properly again. Please note that the max zoom extent for Tile granularity st the streets level is zoom 16. Additionally, when you pull a tilepack you get all of the predefined zoom levels so, for example, if you say you only want zoom 0 you get 0-5.

More information on tile granularity can be found [here](https://docs.mapbox.com/ios/maps/g

[2022-01-15 20:01] richardpineo commented on #1023
This is also an issue for our application. We do not need location and do not want to query the user about whether location can be used.

[2022-01-16 15:36] MaxAdamyan commented on #879
Hello @knov
Is there any updates on this Feature Request?
Thanks.

[2022-01-16 19:27] fousa commented on #946
Is this `updateGeoJSONSource` function still working? I can't seem to update my source and make it reflect on the map.

[2022-01-17 05:41] franciscode12 opened #1025 "Bornimiusic"
## Environment

- Xcode version:
- iOS version:
- Devices affected:
- Maps SDK Version:

## Observed behavior and steps to reproduce

## Expected behavior

## Notes / preliminary analysis

## Additional links and references

Francisco delmonte

[2022-01-17 10:48] MaciejPachciarekSMT commented on #946
HI @fousa
For me it's still working, look at my usage:

`style.updateGeoJSONSource(withId: Constants.souceId, geoJSON: .geometry(.lineString(line)))`

[2022-01-17 10:49] fousa commented on #946
I noticed I had to trigger it explicitly in a `DispatchQueu.main.async` block. Then it worked.

[2022-01-17 13:23] iosamar opened #1027 "PointAnnotation Coordinate Update"
## Environment

- Xcode version: - 13.1
- iOS version: - 13 and above
- Maps SDK Version: - 10.2.0

Hi Team,

I have an array of coordinates from which i want to update PointAnnotation on map with animation like OLA and Uber does.
but i checked MapView, PointAnnotation and  PointAnnotationManager classes and i didn't found any method to do so.
Although there is property in MapView class CameraAnim

[2022-01-17 18:04] akovalov opened #1029 "PinchGestureHandler (MBMCameraManager) crash"
## Environment

- Xcode version: 13.2
- iOS version: 15.2
- Devices affected: iPad
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

Just randomly interact with the map including pinch gesture.
Important note that the app uses touch swizzling like this

[code]

## Expected behavior

Do not crash on map interacting (in this case on sending swizzled touch event).

## Notes / p

[2022-01-18 00:17] nastasiupta opened #1030 "iOS on dark appearance, UIWindow on light appearance, MapView is taking in cosideration iOS appearance instead of traitCollection when loading image asset"
## Environment

- Xcode version: 13.2.1 (13C100)
- iOS version: 15.2
- Devices affected: Simulator & real devices
- Maps SDK Version:
    - MapboxCommon (21.0.1)
  - MapboxCoreMaps (10.2.0):
    - MapboxCommon (~> 21.0)
  - MapboxCoreNavigation (2.2.0-rc.1):
    - MapboxDirections-pre (~> 2.2.0-rc.1)
    - MapboxMobileEvents (~> 1.0)
    - MapboxNavigationNative (~> 83.0)
  - MapboxDirections-pre

[2022-01-18 07:00] ittna commented on #978
I think usually that purple color means that there was some problem in shader code. Not sure if that is the cause here though.

[2022-01-18 09:20] Adraesh commented on #871
Hello @ZiZasaurus

Can we have some update regarding this issue? When a fix will be released?

Thank you.

[2022-01-18 17:50] ZiZasaurus commented on #1025
Closing this ticket, as it has no required information. Please feel free to reopen and provide the requested environment, observed and expected behaviors.

[2022-01-18 17:50] #1025 closed

[2022-01-18 20:18] ZiZasaurus commented on #1008
@Ketan-Simform, when you say "due to large data it fails", can you let me know what is failing?

[2022-01-19 04:02] LearnWithTung opened #1033 "Expression name must be a string, but found number instead"
## Environment

- Xcode version: 13.2.1
- iOS version: 15.2
- Devices affected: Simulators, devices
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce
I'm having the setup bellow, but got a crash with error message:
`Expression name must be a string, but found number instead. If you wanted a literal array, use [\"literal\", [...]].`
[code]

## Expected behavior
The expression

[2022-01-19 06:15] LearnWithTung commented on #1033
I found out that we have to use
[code]

[2022-01-19 06:15] #1033 closed

[2022-01-19 10:46] LearnWithTung opened #1034 "How to convert cluster expression to `v10`"
## New Feature
I'm migrating the mapbox from `v6` to `v10` and running into a problem with expression

In `v6` I have

    let firstExpression = NSExpression(
      format: "sum:({$featureAccumulated, \(Constans.Attributes.clusterOverWalkingDistance)})")
    let secondExpression = NSExpression(
      forKeyPath: "\(Constans.Attributes.overWalkingDistance)")
    let clusterPropertiesDictionary =

[2022-01-19 14:41] ZiZasaurus commented on #998
@ts95, closing this ticket, but please feel free to reopen if you have additional questions. The team will look into the bug you reported [here](https://github.com/mapbox/mapbox-maps-ios/issues/999).

[2022-01-19 14:41] #998 closed

[2022-01-19 15:03] latargere commented on #978
Not sure neither how to trigger this since I cannot get the debugger in the same time. By setting again the same map style after receiving a "willEnterForegroundNotification", I could make the map work again when this bug occurs but I can still this weird behaviour for a fraction of second

[2022-01-19 15:04] latargere commented on #979
I tried but still the same problem

[2022-01-19 15:12] #1005 closed

[2022-01-19 15:12] ZiZasaurus commented on #1005
@tomascern we are working on exposing the ability to delete offline regions. Setting the metadata is not a supported feature at the moment, however, we will consider your request for adding this functionality in a future version of v10.

[2022-01-19 22:07] ZiZasaurus commented on #1027
@iosamar, is there a reason why you're not using a custom [locationIndicatorLayer](https://docs.mapbox.com/ios/maps/api/10.2.0/Structs/LocationIndicatorLayer.html) instead of a point annotation?

[2022-01-19 22:24] ZiZasaurus commented on #1034
@LearnWithTung as this is more of an implementation Issue than a Platform/Android specific issue, can you please create a support ticket at https://support.mapbox.com/hc/en-us/?

[2022-01-19 22:24] #1034 closed

[2022-01-19 22:55] dmiluski commented on #833
Following up:
Our release has ramped to 100% and we are no longer seeing this crash. Thanks for fixing. 👍

[2022-01-19 23:04] 1ec5 commented on #1029
Based on the stack trace, the crash occurs [in internal code](https://github.com/mapbox/mapbox-gl-native-internal/blob/f5a8bbfb64fa660e2ee7ab49d5727582f2388e38/internal/bindings/generated/objc/MBMCameraManager%2BPrivate.mm#L128-L130) because you’re swizzling something that converts an Objective-C MBMCameraOptions object to the corresponding C++ type and changes the camera based on these options. I

[2022-01-20 06:53] LearnWithTung commented on #991
@ZiZasaurus regarding view annotations, is there anyway to fetch all the rendered view based annotations in the map
I see that the `ViewAnnotationManager` only has `add` and `remove` with a specific view

[2022-01-20 08:08] LearnWithTung opened #1042 "Fit the camera to a given shape does not work as prior `v10`"
## Environment

- Xcode version: 13.2.1
- iOS version: 15.2
- Devices affected: Simulators and devices
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce
I'm having this setup in `v6`
[code]

According to this [documentation](https://docs.mapbox.com/ios/maps/guides/migrate-to-v10/#fit-the-camera-to-a-given-shape) I have this setup in `v10`
[code]

But the map is move to differ

[2022-01-20 08:12] LearnWithTung commented on #1042
That was mistake from my code, sorry

[2022-01-20 08:12] #1042 closed

[2022-01-20 08:32] akovalov commented on #1029
@1ec5 thank you for your reply. Your linked code is in private repo, so it's 404 error for me. Can you please make a screenshot of this code part?

I have an SDK that is used in other apps, including apps with Mapbox Maps SDK, and for me it's important to know when screen is touched anywhere. Without swizzling the developer will need to track touches on all UI elements by himself and notify SDK wh

[2022-01-20 08:45] ittna commented on #930
@ZiZasaurus at least now I see that tile pack downloads have counted as Vector Tiles API requests in our Mapbox account and it has also invoiced those from our account. So now it seems it is not included in normal use.

[2022-01-20 10:51] LearnWithTung opened #1043 "How to convert point to map's coordinate"
## Environment

- Xcode version: 13.2.1
- iOS version: 15.2
- Devices affected: simulator and devices
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce
I'm having this setup in `v6`
[code]

I'm trying to migrate it to `v10` like bellow
[code]

But they are return the different results.
## Expected behavior
Result should be the same in both setup

[2022-01-20 14:53] ZiZasaurus commented on #1016
@RodrigoSAlves closing this ticket but please feel free to reopen if you have additional questions.

[2022-01-20 14:53] #1016 closed

[2022-01-20 16:08] forafontov98 opened #1047 "There is white area on the top when constraint in process of changing"
- Xcode version: 13.2.1
- iOS version: 14..<15
- Devices affected: iPhone XR
- Maps SDK Version: 10.2.0

I want to change the height of the map as I swipe. In fact, I'm changing the bottom constraint, and how fast I move my finger determines how much white area appears in the top area of the map.

https://user-images.githubusercontent.com/26205755/150376467-de3ea9a8-f82c-4d80-add8-5ece10378360.mp4

[2022-01-20 16:55] macdrevx commented on #1047
Could you try setting [`MapView.presentsWithTransaction`](https://docs.mapbox.com/ios/maps/api/10.2.0/Classes/MapView.html#/s:10MapboxMaps7MapViewC23presentsWithTransactionSbvp) to true?

[2022-01-21 07:26] forafontov98 commented on #1047
@macdrevx without result(

[2022-01-21 07:57] Ketan-Simform commented on #1008
@ZiZasaurus I am facing an error when I have large amount of data while adding map poly lines. With below error:
Error Domain=MBStaticErrorDomain Code=-1 "server error" UserInfo={NSLocalizedFailureReason=server error}

and another issue is if I try to add more than 100 overlays it crashes with assert.

[2022-01-21 10:06] iosamar commented on #1027
@ZiZasaurus  Thanks for the reply.
can you provide me a link or some sample that how we can use locationIndicatorLayer instead of Point annotation so that we can update its coordinate.

[2022-01-21 15:26] ZiZasaurus commented on #999
@ts95 closing this ticket out, as we have updated the wording of the error you mentioned which will be available in our next release.

[2022-01-21 15:26] #999 closed

[2022-01-21 15:47] ZiZasaurus commented on #1008
@Ketan-Simform, thank you for this additional information. Please note that there is a restriction on the number of features in a GeoJSON overlay, as well as a restriction on the length of the string encoding of all the overlays combined:

A Path’s [string-encoded ](https://github.com/mapbox/MapboxStatic.swift/blob/a880e932c1d62562d260745a7b4200ab7e63cc74/MapboxStatic/Overlay.swift#L388-L396) leng

[2022-01-21 17:04] Ketan-Simform commented on #1008
Okay, Thank you for your response @ZiZasaurus.

So as per my requirement Mapbox Static won't work for me. So do you think there is any way I can add more than 100 features on overlay?
Using turf.js SDK or any other mapbox SDK which supports WatchOS.

[2022-01-21 18:57] ZiZasaurus commented on #1047
@forafontov98, I was only able to reproduce the issue reported once out of over 20 times. It appears that there may be some lag between when is drawn with updated frame and when the metal view renders with updated frame. If you are experiencing this consistently, could you provide us with some additional information as to how you're creating/ adding the bottom drawer?

[2022-01-21 19:00] #687 closed

[2022-01-21 19:34] Tapestes commented on #1027
Same situation as @iosamar: multiple locations coming from a database.  The ability to update the annotation point would be fantastic.  Especially because the method we're using currently - removing the annotation from the manager and adding a new one with the updated position - results in the annotation text flashing off/on once if the distance moved on screen is farther than a few pixels.

[2022-01-21 20:06] ZiZasaurus commented on #1008
You can continue to use MapboxStatic.swift, however, there is a limit to the length of the URL, which is easy to hit when adding GeoJSON to the image. You can greatly reduce the size of any LineString using the Path overlay instead of GeoJSON. If that isn’t enough, you can also use Turf to simplify the line.

[2022-01-23 10:25] jumbopilot opened #1052 "Mapbox Maps consumes up to 2 GB RAM until App gets terminated due to supervision limits"
## Environment

- Xcode version: Version 13.2.1 (13C100)
- iOS version: 15.3
- Devices affected: iPhone 13 (real hardware)
- Maps SDK Version: 10.2.0
- Map Style: own defined (MapStudio) style derived from std outdoors
- Additional layers: using local data from geojson (file size ~ 7MB composed of points and polygons displayed as symbol and polygons)

## Observed behaviour and steps to reproduce
R

[2022-01-23 12:50] nastasiupta opened #1053 "Map content issues after opened the app from background after a couple of hours"
## Environment

- Xcode version: -
- iOS version: 15.2.1
- Devices affected: 13 Pro Max
- Maps SDK Version: 2.2.0-rc1

## Observed behavior and steps to reproduce

So, I sent an app update in TestFlight and one of the team members moved the app in the background. After a couple of hours he opened, he opened the app, and the map looks as you see in the screenshot above. He had to kill the app and r

[2022-01-23 12:56] nastasiupta opened #1054 "Toolkit on map to display information at a specific location"
## New Feature
![Screenshot 2022-01-23 at 14 53 26](https://user-images.githubusercontent.com/13376064/150679396-d61d4fbd-2933-4405-82cd-610efd3f2ee9.png)
Display a Toolkit with a custom image and attributed string. Also custom corner radius, background color, without having to use custom annotation views.

## Why
I saw that the Javascript SDK has a Toolkit feature to display on map some informati

[2022-01-24 09:58] RodrigoSAlves commented on #1053
Hey @nastasiupta,

This also happened to two testers in our QA Team, with similar scenarios. They left the app in background in between workdays and when they opened the app again, they experienced this pink color covering many of the map's features.
They also mentioned that after some zooming in / out the tile imagery managed to fix itself, but some of the layers continued to be covered by that p

[2022-01-24 10:29] RodrigoSAlves opened #1056 "TileRegion does not download high resolution tiles"
## Environment

- Xcode version: 13.2.1
- iOS version: 15.1.1; 14.8
- Devices affected: iPhone 12 mini; iPhone 6s
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce
We have several key features in our app that rely on having great imagery in high level zooms (above 15) while offline.
After upgrading to v10, and starting to use the new OfflineManager and TileRegion API to downl

[2022-01-24 12:29] forafontov98 commented on #1047
@ZiZasaurus hi! On physical device. I have this child of MapView class:
`final class GeographyMapView: MapView {
	private let resourceOptions = ResourceOptions(accessToken: Constants.mapBixApiKey)
	private let styleURI = StyleURI(rawValue: Constants.mapBoxStyleUrl)
	private let indexKey = "index"

	private lazy var annotationsManager = annotations.makePointAnnotationManager()

	private func mapPin

[2022-01-24 15:41] ZiZasaurus commented on #1052
@jumbopilot, thank you for reporting this. Is this behavior occurring on a simulator or physical devices? Also, do you have a code snippet or sample app with your map implementation that reproduces this behavior?

[2022-01-24 16:06] ZiZasaurus commented on #985
@mpiannucci, would it be possible to use the [addImage(_:Id:sdf:stretchX:stretchY:content:)](https://docs.mapbox.com/ios/maps/api/10.2.0/Classes/Style.html#/s:10MapboxMaps5StyleC8addImage_2id3sdf8stretchX0H1Y7contentySo7UIImageC_SSSbSaySo17MBMImageStretchesCGANSo0K7ContentCSgtKF) API (which uses UIImage) to add your image layers to the map?

[2022-01-24 17:21] ZiZasaurus commented on #972
@ittna thank you for providing this snippet. I am able to reproduce this behavior in v10.2.0.

[2022-01-24 17:44] ZiZasaurus commented on #1027
If you would like to animate point annotations, one suggestion would be to try updating the location of your point annotations at every frame using their own CADisplayLink, however, this may not be the most performant option.

[2022-01-24 17:58] ZiZasaurus commented on #1047
@forafontov98 thank you for these code snippets. Would you also be able to provide the code for your snp.remakeConstraints method?

[2022-01-24 17:59] ZiZasaurus commented on #978
@latargere thank you for reporting. We will look into what may be causing this behavior.

[2022-01-24 18:02] ZiZasaurus commented on #1053
@nastasiaupta thank you for reporting. We will look into what may be causing this behavior.

[2022-01-24 18:49] ZiZasaurus commented on #930
@akovalov, @ittna, as this is more of a product support Issue, can you please create a support ticket at https://support.mapbox.com/hc/en-us/?

[2022-01-24 18:49] #930 closed

[2022-01-24 19:49] ZiZasaurus commented on #1056
@RodrigoSAlves for your use case, the legacy offline functionality--which remains available--will be a better choice than our newer tilepack-based system. Tile packs offer advantages in download speed, but are optimized for vector use cases. They are made available only to z16; and do not yet support @2x high-DPI raster tiles.

[2022-01-25 09:30] RodrigoSAlves commented on #1056
@ZiZasaurus Thank you for your help. We'll go with that solution then.
I think it would probably be best if this information was added to the [docs pertaining to the offline features](https://docs.mapbox.com/ios/maps/guides/offline/).

[2022-01-25 09:30] #1056 closed

[2022-01-25 10:31] akovalov commented on #1029
I've caught this crash in Xcode when launched app. What I did:
- Launched app from Xcode. App showed the Mapbox map zoomed to my location
- After a few seconds I've zoomed out map by pinch gesture few times fast to zoom out to whole world
- Crashed before zoomed out to whole world
Pinch gestures to zoom out were first gestures in the app, so looks like it happens primarily on first interaction wit

[2022-01-25 20:48] jumbopilot commented on #1052
I've updated the Device Under Test in issue description. I'll try to screw the issue down to a small code snippet.

[2022-01-26 11:02] RheaParks opened #1061 "Snapshotter.start(overlayHandler:completion:) completion blocks never get called back"
## Environment

- Xcode version: 13.2.1
- iOS version: 15.2.1
- Devices affected: Simulator, iPhone 6S Plus, iPhone 13 Pro
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

When using the Snapshotter, neither one of its completion blocks are called.
Here's some sample code:

[code]

Here, any completion blocks inside `makeSnapshot(size:)` are never called. There are no error

[2022-01-26 14:33] ZiZasaurus commented on #1008
@Ketan-Simform closing this issue but please feel free to reopen if you have additional questions.

[2022-01-26 14:33] #1008 closed

[2022-01-26 14:59] ZiZasaurus commented on #1030
@nastasiupta can you please let us know how you're creating your UIImages?

[2022-01-26 15:42] nastasiupta commented on #1030
@ZiZasaurus `annotation.image = .init(image: UIImage(named: "Waypoint-\(index + 1)")!, name: "Waypoint-\(index + 1)")`
Where Waypoint-1 for example is an asset from Assets.xcassets where I have separated images for "Any Apppearance" and "Dark"

[2022-01-26 17:16] ZiZasaurus commented on #1030
@nastasiupta thank you for this code snippet. Would you be able to try using https://developer.apple.com/documentation/uikit/uiimage/1624154-init and passing in the trait collection of your view/view controller?

[2022-01-26 17:28] nastasiupta commented on #1030
@ZiZasaurus  hmm it works. I didn't know about that.

[2022-01-26 17:40] ZiZasaurus commented on #1030
@nastasiupta Fantastic! I will close this ticket out but please feel free to reopen out if you have any additional questions.

[2022-01-26 17:40] #1030 closed

[2022-01-26 20:49] jumbopilot commented on #1052
It looks like the issue is caused by mgl::style::GeoJSONSource::Impl malloc'ing at high frequency 144 bytes when reading the geojson source attached:
[airspaces-xa.geojson.zip](https://github.com/mapbox/mapbox-maps-ios/files/7945416/airspaces-xa.geojson.zip)

simply loaded via:
`
DispatchQueue.global(qos: .background).async {
      guard let jsonUrl = Bundle.main.url(forResource: "airspaces-\(self

[2022-01-27 08:03] Cal-um commented on #514
@macdrevx Is this API intended to be used for animations? Would it be used called continuously with a display link when needing to animate a node?

[2022-01-27 12:26] endanke commented on #687
@lmelnykmylivn could you give it another try using our latest release? https://github.com/mapbox/mapbox-maps-ios/releases/tag/v10.3.0-rc.1

[2022-01-27 12:27] endanke commented on #834
@samcrawford could you give it another try using our latest release? https://github.com/mapbox/mapbox-maps-ios/releases/tag/v10.3.0-rc.1

[2022-01-27 14:22] jumbopilot commented on #1052
repeated mallocs:
   8 MetalTools -[MTLDebugRenderCommandEncoder drawIndexedPrimitives:indexCount:indexType:indexBuffer:indexBufferOffset:]
   9 MapboxCoreMaps mbgl::metal::Program<mbgl::LineProgram>::draw(mbgl::gfx::Context&, mbgl::gfx::RenderPass&, mbgl::gfx::DrawMode const&, mbgl::gfx::DepthMode const&, mbgl::gfx::StencilMode const&, mbgl::gfx::ColorMode const&, mbgl::gfx::CullFaceMode const&,

[2022-01-27 18:08] johnnewman commented on #979
Switching `presentsWithTransaction` between true and false doesn't seem to change the behavior for me either. View-based annotations still lag behind the style layer annotations as the camera moves.

Here's my setup: Xcode 13.2.1, iPhone 12 Pro, iOS 15.2.1, Mapbox Maps 10.2.0

[2022-01-27 18:14] macdrevx commented on #979
Thanks for checking. We'll have to dig in to this a bit more to see what can be done.

[2022-01-28 11:03] anya-sverdlova opened #1071 "Clustering custom objects"
Hi. This is more question than bug. I have an array of custom objects with coordinates and I'd like to cluster them on map but I couldn't find a way to do it without using JSON. As I can understand there were such possibility in previous version. Is it possible to create source for layer without using JSON in v10?

[2022-01-28 12:22] alexeysatsunkevich opened #1072 "querySourceFeatures returns wrong type for 'cluster_id'"
## Environment

- Xcode version: 13.2.1
- iOS version: latest
- Devices affected: IPhone 12, IOS Similator
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

I use the **querySourceFeatures** call from mapbox SDK to get the _cluster_id_ value that I need to highlight the cluster on the map. But there is an issue with type conversion value for _cluster_id_ in MapboxCoreMaps. T

[2022-01-28 16:33] alexeysatsunkevich commented on #1072
Also I noticed that **queryFeatureExtension** call where feature.identifier=1 always returns an error.

[2022-01-28 17:08] ZiZasaurus commented on #1071
@anya-sverdlova can you provide me with some additional information on your use case and what type of objects you're trying to cluster?

[2022-01-28 18:02] ZiZasaurus commented on #1047
If it's useful, I've included my implementation, which does not reproduce this behavior, below.
[BottomSheetTest.txt](https://github.com/mapbox/mapbox-maps-ios/files/7960827/BottomSheetTest.txt)

[2022-01-28 22:10] ZiZasaurus commented on #1072
@alexeysatsunkevich thank you for reporting this issue. I am able to reproduce this on v10.2.0 with our SymbolClusteringExample and will investigate the root cause.

 ![Screen Shot 2022-01-28 at 4.48.36 PM.png](https://images.zenhubusercontent.com/5d9f907d89616e000103e95c/677926d0-705f-4fe0-9471-33ae1d42c84e)

[2022-01-28 22:35] 1ec5 opened #1073 "Compiler errors in Xcode 12.4 — Struct 'MercatorMapProjection' is '@_spi' and cannot be referenced from a default argument value"
When integrating MapboxMaps v10.3.0-beta.1 into another project using SPM in Xcode 12.4, I get the following build errors due to #787:

[code]

These errors were previously reported in https://github.com/mapbox/mapbox-maps-ios/pull/787#discussion_r735387265 regarding binary distribution, but I’m seeing it in mapbox/mapbox-navigation-ios#3705 based on source distribution. mapbox/mapbox-maps-ios-int

[2022-01-30 23:42] akirmse opened #1074 "Crash in PinchGestureHandler"
## Environment

- Xcode version: 13.2
- iOS version: 15.2.1
- Devices affected: iPhone XR
- Maps SDK Version: 10.1.0

I got the following crash reported through Crashlytics from a user device:

Fatal Exception: NSRangeException
-[UIPinchGestureRecognizer locationOfTouch:inView:]: index (1) beyond bounds (1).

4
MapboxMaps
PinchGestureHandler.swift - Line 147
PinchGestureHandler.handleGesture(_:) +

[2022-01-31 00:35] macdrevx commented on #1074
We believe this is fixed in 10.2

[2022-01-31 00:37] macdrevx commented on #1074
Duplicate of https://github.com/mapbox/mapbox-maps-ios/issues/833

[2022-01-31 15:15] #1074 closed

[2022-01-31 15:25] #1071 closed

[2022-01-31 15:25] ZiZasaurus commented on #1071
@anya-sverdlova a source can be any of the types listed in our documentation [here](https://docs.mapbox.com/ios/maps/api/10.2.0/Enums/SourceType.html#/s:10MapboxMaps10SourceTypeO6vectoryA2CmF), but at the moment we only support geojson source clustering.

[2022-01-31 15:38] georgbachmann opened #1076 "Add ability to set a threshold for rotation while zooming, and improve nording the map"
## New Feature

My "problem" is that I can't zoom my map without having at least a little bit of rotation. That in my opinion makes the zooming-experience not that great. I could of course disable rotation, but I don't want that...

The old version of Mapbox had the ability to set ability to set `MGLRotationThresholdWhileZooming`. Developers where able to set it as a UserDefault and it was a value

[2022-01-31 15:54] ZiZasaurus commented on #1027
Closing this ticket but please feel free to reopen if you have additional questions.

[2022-01-31 15:54] #1027 closed

[2022-01-31 17:26] macdrevx commented on #514
Yes, you'd need to invoke it any time something happens in your model that requires a new drawing pass.

[2022-02-01 12:26] PrisakarMaksim opened #1079 "Crash: Failed to create SourceType from "customvector""
## Environment

- Xcode version: 13.2.1
- iOS version: 15.2
- Devices affected: Simulator
- Maps SDK Version: 10.1.0

## Observed behavior and steps to reproduce

1. Add GeoJsonSource to style
2. Add custom tiles source  via `addCustomGeometrySource` to style
3. Call `updateGeoJSONSource` for the first source

Result: app crashed with `Failed to create SourceType from customvector`

## Notes / pre

[2022-02-01 14:03] ZiZasaurus commented on #1076
@geogbachmann, closing as a duplicate of https://github.com/mapbox/mapbox-maps-ios/issues/755.

[2022-02-01 14:03] #1076 closed

[2022-02-01 14:10] ZiZasaurus commented on #871
@Adradesh, thank you for reporting this. I was able to reproduce and will be looking into it.

[2022-02-01 14:12] ZiZasaurus commented on #1079
Closing as a duplicate of https://github.com/mapbox/mapbox-maps-ios/issues/871

[2022-02-01 14:12] #1079 closed

[2022-02-01 14:17] ZiZasaurus commented on #1047
Closing this out but please feel free to reopen if you have additional questions.

[2022-02-01 14:17] #1047 closed

[2022-02-01 14:24] georgbachmann commented on #755
Just got told that my #1076 is a duplicate of that one here! Sorry... did see that one!

A huge +1 from me. I also noticed it right away and it just does not feel as good as the previous versions.
Also, the default Apple-Maps app does something similar. Snapping back to 0° when close enough and also having a little threshold.
I'd LOVE to see a manually configurable threshold, but having at least s

[2022-02-01 16:12] devioustree opened #1082 "Tapping compass no longer resets orientation to due North in 10.3.0-rc.1"
## Environment

- Xcode version: 13.2.1
- iOS version: 15.3
- Devices affected: All
- Maps SDK Version: 10.3.0-rc.1

## Observed behavior and steps to reproduce

If you rotate the map, and have the compass visible, tapping the compass does nothing.

## Expected behavior

Tapping the compass should rotate the map back around to 0°.

[2022-02-01 16:58] macdrevx commented on #1082
Thanks for the report. Regressed in #1058.

[2022-02-01 17:02] forafontov98 commented on #1047
@ZiZasaurus Good evening! I'm sorry for the late reply. Unfortunately still looking for a solution. In your example, you don't change the constraints of the view on which the mapView depends, but you change its frame. This is the key difference with my example. I'm changing the constraints of my bottomsheet, and the moment they change, a white area appears at the top. There is another notable feat

[2022-02-01 17:05] forafontov98 commented on #1047
@ZiZasaurus please, look at this 2 my view files:
[GeographyView+States.txt](https://github.com/mapbox/mapbox-maps-ios/files/7980483/GeographyView%2BStates.txt)
[GeographyView.txt](https://github.com/mapbox/mapbox-maps-ios/files/7980484/GeographyView.txt)

in GeographyView+States I change my constraints while gesture is working. And in GeographyView I set all properties of view

[2022-02-01 19:35] 1ec5 commented on #1029
Can you log the details of `dragOptions`? I wonder if one of the camera parameters is invalid, causing an exception to be thrown internally.

[2022-02-02 05:15] ZiZasaurus commented on #1052
@jumbopilot thank you for following up. Please make sure you're reusing your PointAnnotationManager (see our Updating Point Annotation position example [here](https://github.com/mapbox/mapbox-maps-ios/blob/main/Apps/Examples/Examples/All%20Examples/UpdatePointAnnotationPositionExample.swift)), rather than recreating new ones when updating your markers. If you have an annotation manager you no long

[2022-02-02 05:18] ZiZasaurus commented on #1047
@forafontov98 thank you for providing these files. Can you provide us with a sample app that reproduces this behavior? There are references in your files, such as BaseView, that we are unfamiliar with.

[2022-02-02 09:44] akovalov commented on #1029
@1ec5 unfortunately, can't reproduce at the moment and if I am not wrong previously Xcode showed that vars were unavailable in recorded stack frame. However, I see other crash stack traces on a crash reported platform of a similar issue. Hope these will help, specifically `Exception+Private.h:78`

[code]

[code]

[2022-02-02 12:29] #1082 closed

[2022-02-02 18:39] jumbopilot commented on #1052
@ZiZasaurus Thanks for confirmation of memory persistency of AnnotationManager created by e.g. makePolylineAnnotationManager(id:layerPosition:). I'm fine with the API itself.

As this is a design decision which is not transparent to SDK users, I'd suggest to document such property in the [Class Reference](https://docs.mapbox.com/ios/maps/api/10.2.0/Classes/AnnotationOrchestrator.html#/s:10MapboxMa

[2022-02-03 14:26] dhimansham opened #1084 "Undefined symbols for architecture arm64 fastlane Error"
## Environment

- Xcode version: 13.2.1
- iOS version: 11.6
- Devices affected: Create Build through Fastlane
- Maps SDK Version: 10.2

Hello team, I'm trying to upload build through GitHub action and fastlane. I'm stuck in the MapBox framework. I'm using Github LFS to upload the Mapbox framework. But in the last I'm getting error given below please check.

Warning:- ld: ignoring file /Users/runne

[2022-02-03 14:51] ittna opened #1085 "Location puck accuracy ring cannot be disabled when using temporary full accuracy"
## Environment

- Xcode version: 13.2.1
- iOS version: 15.3
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

When location puck is set to not show accuracy ring. It won't show it when user has allowed full accuracy location. But if user allowed only reduced location and app asks temporary access to full accuracy location it shows accuracy ring.

[code]

## Expected behavior

[2022-02-03 15:10] dhimansham commented on #1084
@zugaldia @springmeyer @mikelmaron @mourner Could you please check the attached question

[2022-02-03 18:27] ZiZasaurus commented on #1085
@ittna thank you for reporting this. I am able to reproduce and will investigate the root cause.

[2022-02-03 19:42] ZiZasaurus commented on #1052
@jumbopilot the API docs have been updated and should reflect these changes with our next release.

[2022-02-03 19:42] #1052 closed

[2022-02-04 11:53] niklassaers opened #1088 "Feature request: Set touch area of Circle Annotation"
## New Feature
Set touch area of Circle Annotation

## Why
By default, the circles are nice and small. But touching them is hard. Following the HIG, a 44x44 touch target would be good for a finger. Can we increase touch target without increasing the circle?

## Current workarounds
1. Use ViewAnnotations instead (is this performant for 310-340 views?)
or
2. set circleStrokeColor to .clear and have

[2022-02-04 21:03] macdrevx commented on #293
https://developer.apple.com/documentation/quartzcore/optimizing_promotion_refresh_rates_for_iphone_13_pro_and_ipad_pro has some good explanation of how to use targetTimestamp

[2022-02-06 19:28] macdrevx commented on #293
https://developer.apple.com/videos/play/wwdc2021/10147/ is also helpful.

One key takeaway is that switching to targetTimestamp isn't enough — we likely also need to use something like [MTLCommandBuffer.present(_:atTime:)](https://developer.apple.com/documentation/metal/mtlcommandbuffer/1442989-present) so that our content is drawn at the expected time when our display link is using a lower frame

[2022-02-06 19:28] macdrevx commented on #293
Possibly relevant: https://developer.apple.com/documentation/metal/drawable_objects/creating_a_custom_metal_view

[2022-02-07 16:02] macdrevx commented on #156
This was fixed by https://github.com/mapbox/mapbox-maps-ios/pull/980 and https://github.com/mapbox/mapbox-maps-ios/pull/1064 and is available as of 10.3.0-rc.1

[2022-02-07 16:02] #156 closed

[2022-02-07 17:21] ZiZasaurus commented on #1088
@niklassaers thank you for reaching out. We'll consider this feature request for a future update.

[2022-02-08 03:45] Hitarthbhatt commented on #1008
Hey @ZiZasaurus, can't we use mapbox iOS map in watchOS instead of static images because I had seen an watchOS app which uses fully functional mapbox map just like iOS.
If you want to I can also share the link of the application for a proof.

[2022-02-08 04:56] tommy-b-10 opened #1096 "Set geometry altitude"
## New Feature
Set the height/altitude of a geometry item such as PointAnnotation, polyline etc.

## Why
To display altitude to users of certain locations/features. Flight path over city, how tall a building will be when constructed etc.
It should compliment the 3D terrain feature well.

[2022-02-08 07:43] LearnWithTung opened #1097 "Custom style URL makes layers blurred"
## Environment

- Xcode version: 13.2.1
- iOS version: 15.0
- Devices affected: simulators and devices
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce
I'm using the same custom map style URL for both v6 and v10
But the shapes look blurred and broken but it works fine on v6
You can see image bellow from v10:
![IMG_4299](https://user-images.githubusercontent.com/61558556/1529

[2022-02-08 12:36] RodrigoSAlves opened #1099 "Add method to set tile count limit when working with OfflineRegionManager"
## New Feature
Developers should be able to set the **tile count limit** when using the legacy **OfflineRegionManager** class to download **OfflineRegions**.
There used to be a way to set this limit pior on versions preceding version 10.0.0, and android already has a method for this:
https://docs.mapbox.com/android/maps/api/10.0.0/mapbox-maps-android/com.mapbox.maps/-offline-region-manager(android

[2022-02-08 13:32] Keltar1977 opened #1100 "Add new GestureManagerDelegate method to track gesture progress"
## New Feature

We encountered problem that we cannot adjust or track gesture while it is in progress as we cannot track it. We suggest to add new method `func gestureManager(_ gestureManager: GestureManager, didChange gestureType: GestureType)`. It will allow to track gesture progress and update other views or map, if we want specific behaviour like zoom only to centre.

## Why
In mapbox 6 there

[2022-02-08 14:02] merindorium opened #1101 "Add ability to disable Douglas-Peucker simplification algorithm in GeoJSONSource"
## New Feature

Add ability to disable Douglas-Peucker simplification algorithm in `GeoJSONSource`.

## Why

We are trying to draw high precision (< 50cm) geospatial geometry (e.g. lines, arcs, splines) but Douglas-Peucker algorithm simplifies it to lines.

<img width="326" alt="Screenshot 2022-02-08 at 16 34 03" src="https://user-images.githubusercontent.com/18231392/152997676-505ae49c-4b05-4595-

[2022-02-08 15:23] ZiZasaurus commented on #1008
@Hitarthbhatt can you please share the app you're referring to?

[2022-02-08 17:13] ZiZasaurus commented on #1097
@LearnWithTung, can you please provide the style URL, access to the style, and the coordinates where you notice the blurriness so that I can reproduce this behavior? Have you tested with other styles?

[2022-02-08 17:24] ZiZasaurus commented on #1101
@merindorium thank you for reporting this. To bette assist you, can you please provide a sample geojson, as well as a screenshot of how you expect the geometry to appear?

[2022-02-08 22:58] PaulC-ManyHats commented on #761
I verified that this is indeed a bug between having both UITapGestureRecognizer AND AnnotationInteractionDelegate on the same map.

To reproduce this, open the "SelectAnnotationExample" class and add a UITapGestureRecognizer to the mapView (in viewDidLoad).

`    override func viewDidLoad() {
        super.viewDidLoad()

       ....
        let tapGesture = UITapGestureRecognizer(target: self, act

[2022-02-09 01:10] jake-low opened #1102 "`style.addLayer()` fails when specifying a `textFont` in `FormatOptions`"
## Environment

- Xcode version: 13.2.1
- iOS version: 15.2.1
- Devices affected: iPhone 13
- Maps SDK Version: 10.3.0-rc.1

## Observed behavior and steps to reproduce

This code works; the layer is visible on the map as expected.

[code]

However, if we add a `textFont` to one of the format options, `addLayer` will throw an error.

[code]

The error thrown is:
[code]

## Expected behavior

Since

[2022-02-09 03:58] LearnWithTung commented on #1097
Hi @ZiZasaurus
The URL is here: mapbox://styles/valeria508/ck37qapgh0ge81coz3f23gnuc
I've created a new style and it works fine. Does that mean the problem relies on my URL ? But how does a map style can effect the quality of rendered layers, addition the URL works fine on v6.

[2022-02-09 05:23] Sonosar commented on #879
We are moving from google maps to mapbox, and this is the only feature that is holding us back, focalPoint is essential for our app

[2022-02-09 11:17] #978 closed

[2022-02-09 12:16] merindorium commented on #1101
Hi @ZiZasaurus, thanks for the quick response!

GeoJSON - [geometry.txt](https://github.com/mapbox/mapbox-maps-ios/files/8032297/geometry.txt)

It's created using `LineString(coordinates).bezier()` function.

<details>
<summary> Setup details</summary>

#### LineString control points:

[code]

#### GeoJSONSource settings
[code]

#### LineLayer settings
[code]
</details>

The result of this setup i

[2022-02-09 17:16] ZiZasaurus commented on #1029
@akovalov thank you for the stack trace. The best way for us to investigate this issue would be if you can either provide a minimal test case that reliably reproduces this issue or log all values that are used to construct dragOptions.

[2022-02-09 21:07] AF-cgi commented on #834
@endanke I have the same issue. But with https://github.com/mapbox/mapbox-maps-ios/releases/tag/v10.3.0-rc.1 it seems to be fixed. thanks.

[2022-02-09 22:37] ZiZasaurus commented on #1097
@LearnWithTung are those shapes coming from the style? I'm not seeing them when I use your styleURL.

[2022-02-09 22:52] ZiZasaurus commented on #1084
@dhimansham are you able to reproduce the issue when everything is local to your development machine, as opposed to on CI?

[2022-02-10 06:21] shamsunderCS commented on #1084
@ZiZasaurus Yes, when I'm trying to upload build through direct fist lane, the build succeeded without any error but when I'm trying to upload through GitHub action then got error.

But I got the solution. it's my biggest mistake I was don't used Github LFS fetch in the YML file. When try with LFS data then the build succeeded without any error.

Here is the Latest YML file:-

![Screenshot 2022-02

[2022-02-10 06:48] dhimansham commented on #1084
@ZiZasaurus Yes, when I'm trying to upload build through direct fist lane, the build succeeded without any error but when I'm trying to upload through GitHub action then got error.

I got the solution. it's my biggest mistake I was not used Github LFS fetch in the YML file. When I'm fetch LFS data first then uploading the build succeeded without any error.

Here is the Latest YML file:-

![Screens

[2022-02-10 06:49] tungvustarglobal commented on #1097
No it's not, the shapes are from API. I've extracted an example here
https://drive.google.com/file/d/1hPPqxl3K97ZuVXUAhuMx02sjmd40faBQ/view?usp=sharing

[2022-02-10 06:50] LearnWithTung commented on #1097
No it's not, the shapes are from API. I've extracted an example here
https://drive.google.com/file/d/1hPPqxl3K97ZuVXUAhuMx02sjmd40faBQ/view?usp=sharing

[2022-02-10 09:04] MaciejPachciarekSMT opened #1108 "Blink layer after change visibility"
## Environment

- Xcode version: 13.0
- iOS version: 14.4
- Devices affected: All
- Maps SDK Version: 10.2.0

## Observed behavior and steps to reproduce

We created SymbolLayer and we pass featureCollection as a data. We also have toggle buttons where user can change visibility of this layer. Whenever the user change toggle we change properties of this layer, however it looks like layer is refres

[2022-02-10 09:07] LearnWithTung commented on #1097
Here's my code
[code]

[2022-02-10 13:18] Eke opened #1109 "Animated 3D models"
Hello.

Is there a way to have animated `puck3D`? Or the only way is custom implementation?

Thank you for great job.

[2022-02-10 17:04] ZiZasaurus commented on #1108
@MaciejPachciarekSMT I am unable to reproduce this behavior. I have attached my screen recording below:

https://images.zenhubusercontent.com/330733892/232a41c9-4133-4d87-9385-6ec88d797893/simulator_screen_recording___iphone_11___2022_02_10_at_11_57_37.mp4

To better assist you, can you provide your view controller or a sample app that reproduces the behavior you're reporting?

[2022-02-11 14:54] RheaParks commented on #969
It looks like the problem was fixed in 10.3.0! 😀

[2022-02-14 03:22] LearnWithTung commented on #1097
Have you tried ?

[2022-02-14 07:29] andreas-ullrich opened #1115 "[Question]: Polygon border fade-out / smooth border"
Dear Mapbox team,

if i use fil-in pattern in ios sdk with a geojson file it creates a straight border or better so say sharp edges.
Is there a possibility to fade out the border or to give the appearance of more smooth border.
See my example:

<img width="302" alt="153747624-e9d53485-4cae-46ae-8b56-1724fd873d88" src="https://user-images.githubusercontent.com/68023686/153818604-5f4d2dfd-e45a-463a-

[2022-02-14 07:29] Ketan-Simform commented on #1008
Hey @ZiZasaurus We also tried using overlays instead of GeoJSON still I am hitting the size limit. I have seen WatchSmith (https://apps.apple.com/us/app/watchsmith/id1483088503) you can check that out. We also tried line simplification but that costs us with data accuracy so is there any way I can get it done like the WatchSmith application.

Thank you.

[2022-02-14 12:40] MaciejPachciarekSMT commented on #1108
Hi @ZiZasaurus

Finally I found potential problem. When I have Layer with properties
` layer.iconAllowOverlap = .constant(true)`
sometimes icon blink. When I set it to false it works correctly. Can you check it once again and confirm it?

[2022-02-14 14:49] ZiZasaurus commented on #1108
@MaciejPachciarekSMT, thank you, I am able to confirm this behavior when  `layer.iconAllowOverlap = .constant(true)` and will investigate the root cause.

[2022-02-14 16:17] ZiZasaurus commented on #1115
@andreas-ullrich at the moment this feature is not supported, however, we will consider allowing rounded polygon corners for a future update.

[2022-02-14 16:35] edihasaj opened #1117 "How to it is supposed to call a function from SwiftUI view to UIViewController without the delegates?"
## Environment

- Xcode version: 13.2.1
- iOS version: 15.2
- Devices affected: 1
- Maps SDK Version: 10.2.0

Let's suppose we have a UIViewController location and we bridge it with UIViewControllerRepresentable and in the View side we have SwiftUI View. How can I update user location camera to it's current / latest location?

Here is my UIViewController
[code]

And my UIViewControllerRepresentabl

[2022-02-14 17:34] ZiZasaurus commented on #1108
@MaciejPachciarekSMT, I get the desired result if I use `layer.iconIgnoresPlacement = .constant(true)`.  For the moment can you try to use this instead of `iconAllowsOverlap`?

[2022-02-14 18:24] #1115 closed

[2022-02-14 21:27] akirmse commented on #605
Is there any news on this?  I still see the problem in 10.3.0.  It's not a great look to have all of the markers on the map disappear as the camera is rotated (because they're calculated to be outside the field of view).

[2022-02-14 23:16] ZiZasaurus commented on #1097
@LearnWithTung, I am unable to reproduce with the data you provided as it does not appear to be a valid json. If I add my own data, however, it appears with no blurriness.

[2022-02-15 02:56] LearnWithTung commented on #1097
[code]
That's weird. I'm using the data I've sent you. Please review the code above.

[2022-02-15 10:02] Eke opened #1119 "MapboxMap not deallocated"
## Environment

- Xcode version: 13.2
- iOS version: 15.3
- Devices affected: iPhone XS real device
- Maps SDK Version:  v10.3.0

## Observed behavior and steps to reproduce

`MapboxMap` is retained in memory if you try to dismiss / replace UIViewController while map has some ongoing animations.

## Expected behavior

`MapboxMap` is not retained in memory and it's `deinit` method is called.

## No

[2022-02-15 12:05] MaciejPachciarekSMT commented on #1108
@ZiZasaurus, it works, thanks for workaround

[2022-02-15 18:40] ZiZasaurus commented on #1097
@LearnWithTung ah thank you, I've got it now, and am able to see slight blurriness. In your original style, can you update your supported JS, iOS and Android versions to match the supported SDK version of the default style: Javascript: 2.6.0, iOS: 10.0.0, Android: 10.0.0. Once you do this, can you wait about 10 minutes and then try to display your map style with the geometries added and see if the

[2022-02-15 19:13] ZiZasaurus commented on #1109
@eke, thank you for reaching out. At the moment this is not a supported feature of puck3D , however, you could try to accomplish this using a custom implementation and CADisplayLink.

[2022-02-15 19:15] ZiZasaurus commented on #1117
@edihasaj as this is more of an implementation Issue than a Platform/iOS specific issue, can you please create a support ticket at https://support.mapbox.com/hc/en-us/?

[2022-02-15 19:15] #1117 closed

[2022-02-15 20:35] edihasaj commented on #1117
Ok, I made a ticket. Thank you for ur support

[2022-02-16 05:54] Eke commented on #1109
@ZiZasaurus Hello, thank you for response. Are there any examples of that approach in the wild?

[2022-02-16 15:58] merindorium commented on #1101
Hi @ZiZasaurus, is there any updates regarding this topic or maybe a workaround?

[2022-02-16 18:12] macdrevx commented on #972
@ittna Can you say about more about the end result you're trying to achieve? You mention `CircleLayer` — do those play a role in your implementation?

[2022-02-17 13:05] AlexaderDNT opened #1134 "Failed to load source source-test: invalid minzoom"
When trying to add VectorSource into style i get this error "Failed to load source source-test: invalid minzoom". And i have set the minzoom to 5.

This work on web.

[2022-02-17 14:04] tavakoli-ali opened #1135 "How can I select a PointAnnotation Manually"
Hi
I'm trying to migrate our project from v 6.3 to v 10.3 but I can't find any function like this in new version.
https://docs.mapbox.com/ios/maps/api/6.4.1/Classes/MGLMapView.html#/c:objc(cs)MGLMapView(im)selectAnnotation:animated:
I want to select a PointAnnotation manually in code.

can you help me about it?

[2022-02-17 19:05] ZiZasaurus commented on #1135
@tavakoli-ali have you seen our Select Annotation Example [here](https://github.com/mapbox/mapbox-maps-ios/blob/main/Apps/Examples/Examples/All%20Examples/SelectAnnotationExample.swift)?

In the future, as this is more of an implementation Issue than a Platform/iOS specific issue, please create a support ticket at https://support.mapbox.com/hc/en-us/.

[2022-02-17 19:05] #1135 closed

[2022-02-18 08:33] ittna commented on #972
Previous mapbox version we used MGLAnnotationViews to show map pins and it animated from circle to pin when selected. But on lower zoom levels we were showing pins as smaller dots with circle layer. When we migrated to new Mapbox SDK it was simplest to convert MGLAnnotationViews to view annotations in new SDK and all the animations are working same as before. As a workaround I'm now adding invisib

[2022-02-18 14:38] macdrevx commented on #972
Thanks @ittna. Another question: `associatedFeatureId` is only needed to enable collision-based hiding of the view annotations (e.g. if the underlying features would overlap in the symbol layer, one of them would be hidden (depending on the symbol layer's settings) and then the corresponding view annotations would also be hidden). Is that the behavior you're trying to achieve by using `associatedF

[2022-02-18 19:36] macdrevx commented on #1100
anchorPoint method for gestures is being added in #1122

to observe camera changes during a gesture, you can add an onEvery(.cameraChanged) listener when the gesture begins and cancel it when the gesture ends.

Something like this…

[code]

[2022-02-21 07:18] ittna commented on #972
No, my use case is just to associate annotation views with features as the property name suggests. I guess I could maintain the mapping separately myself but this property is poorly documented if it only works for mapbox internal use to implement collision-based hiding. I wasted probably two days finding out this limitation.

[2022-02-21 09:24] rgmyyw opened #1138 "LocationPermissionsDelegate"
## New Feature

<- Description of the feature being requested and any outcomes desired, an example use case, and any suggestions for solution ->

## Why
<- 1-2 sentence description of why you're requesting this feature. What problem does it solve? Why is it valuable? ->

`LocationPermissionsDelegate` does not comply with Anyobject, please add!

[code]

[code]

[2022-02-21 17:06] macdrevx commented on #972
@ittna thanks for the feedback. Based on what you've mentioned, could you try setting `associatedFeatureId` to nil? To control placement of view annotations, set `[ViewAnnotationOptions.geometry](https://docs.mapbox.com/ios/maps/api/10.3.0/Structs/ViewAnnotationOptions.html#/s:10MapboxMaps21ViewAnnotationOptionsV8geometry4Turf8GeometryOSgvp)` to a Turf.Point that corresponds to where you would lik

[2022-02-21 18:30] ZiZasaurus commented on #1138
@rgmyyw thank you for your suggestion. Could you please provide us with some additional information as to why `LocationPermissionsDelegate` doesn't work for you in its current state?

[2022-02-21 18:31] ZiZasaurus commented on #1097
@LearnWithTung closing this ticket. Please feel free to reopen if you have additional questions or your issue was not resolved.

[2022-02-21 18:31] #1097 closed

[2022-02-21 18:42] ZiZasaurus commented on #742
@mihaho sorry for the delay. Can you test on our latest version and let me know if you are still experiencing frequent crashing?

[2022-02-21 18:50] parrots commented on #742
@ZiZasaurus pushed 10.3 into production before the weekend and we haven't seen any crashes related to this since then.

[2022-02-21 20:18] ZiZasaurus commented on #1109
@Eke we don't currently have any examples to point you to but we will consider this feature for a future release.

[2022-02-21 21:15] astojilj commented on #1109
@Eke ,
Could you please share some more details about what kind of animation you're interested in - rotating the car wheels along route or something else? Thanks.

[2022-02-22 07:37] Eke commented on #1109
@astojilj Yeah, that would be enough. I'm trying to make person 3D model walk on the map, something similar to Pokemon Go character moving his legs while moving.

[2022-02-22 11:11] ittna commented on #972
As stated before it does work if you leave `associatedFeatureId` empty, but then I have maintain my own mapping which annotation view corresponds to which feature.

[2022-02-22 13:22] macdrevx commented on #972
Thanks again for the feedback. We'll take this into consideration as we work on future iterations of this feature.

cc: @kiryldz @zmiao

[2022-02-22 13:43] MahdiRB opened #1142 "How to get all the markers from MapView and zoom camera to them in v10.x?"
There was a function in version 6 of Mapbox which we could get annotations on the map and zoom the camera to them, just like this: https://github.com/mapbox/mapbox-gl-native-ios/issues/118#issuecomment-578383864

I have not find any ability like this in v10 and above.

[2022-02-22 15:18] ZiZasaurus commented on #1142
@MahdiRB you can use [queryRenderedFeatures(in:options:completion:) ](https://docs.mapbox.com/ios/maps/api/10.3.0/Classes/MapboxMap.html#/s:10MapboxMaps0A3MapC21queryRenderedFeatures2in7options10completionySo6CGRectV_So23MBMRenderedQueryOptionsCSgys6ResultOySaySo17MBMQueriedFeatureCGs5Error_pGctF) to get the annotations on your map and / or [camera(for: camera:rect:)](https://docs.mapbox.com/ios/m

[2022-02-22 15:18] #1142 closed

[2022-02-22 15:24] ZiZasaurus commented on #1134
Thank you for providing this sample. I will investigate and see what is causing this behavior. Do you receive this message with other source urls or just this one?

[2022-02-22 16:07] AlexaderDNT commented on #1134
Only tried that one

This is the code for web, where MAP_CDN_TILES_SOURCE = https://cdn.dnt.org/prod/ut-no/map/tiles/v4/metadata.json
![image](https://user-images.githubusercontent.com/64775721/155171709-3302fb85-df96-49e0-a422-6bf2c1ef1490.png)

[2022-02-22 17:50] #775 closed

[2022-02-22 18:12] parrots commented on #984
<img width="730" alt="Screen Shot 2022-02-22 at 11 12 08" src="https://user-images.githubusercontent.com/171163/155193422-1ece0de5-bdaf-427f-bd70-9e1927245a2a.png">

I am seeing this greatly reduced, if not fixed entirely, since pushing 10.3 out into production last week.

[2022-02-22 18:29] #871 closed

[2022-02-23 05:52] Eke opened #1146 "Annotation views animation"
## New Feature

It would be really nice to have ability of animating annotation view size and location changes.

## Why

We display some content using annotation views which can partially change over time causing that view to become bigger or smaller.

Currently size change works but without animation

[code]

[2022-02-23 06:33] Eke opened #1147 "Puck and annotation view"
## Environment

- Xcode version: 13.2
- iOS version: 15.3
- Devices affected: iPhone XS real device
- Maps SDK Version:  v10.3.0

## Observed behavior and steps to reproduce

Can't 100% say that's a bug, but 2D Puck get's hidden under annotation view. Just add annotation view to the same location as puck has.

## Expected behavior

Puck must stay visible as I think it's more important thing than a

[2022-02-23 11:33] rgmyyw commented on #1138
The OC main project is mixed with swift. Swift calls mapboxs,  cannot be found  `LocationPermissionsDelegate`

![截屏2022-02-23 下午7 27 26](https://user-images.githubusercontent.com/20027844/155310926-7e9c39b8-5890-4eb2-9629-53ba199024c8.png)

![截屏2022-02-23 下午7 32 48](https://user-images.githubusercontent.com/20027844/155311574-b7c38150-abe7-4555-9111-8473b3f0fbb6.png)

[2022-02-23 11:36] rgmyyw commented on #1138
The project is very old. The main project bridges swift and generates `-Swift.h` file . It is normal for me to call other interfaces, only the protocol cannot work

[2022-02-23 14:43] ZiZasaurus commented on #1147
@Eke, can you please add the point annotation to the map before the location puck is added? When I do this I do not experience that behavior.

![Simulator Screen Shot - iPhone 11 - 2022-02-23 at 09.42.39.png](https://images.zenhubusercontent.com/5d9f907d89616e000103e95c/7157812a-7320-481e-a0d6-013f1f3bfae5)

[2022-02-23 14:46] Eke commented on #1147
@ZiZasaurus I can try it, but that's not an option for us, unfortunately. We are using custom annotation views which are placed on the map dynamically while user is moving around.

[2022-02-23 16:47] #742 closed, assigned to ZiZasaurus

[2022-02-23 16:51] #877 closed

[2022-02-23 17:31] metaine opened #1151 "SymbolLayer.predicate is missing"
## New Feature

Mapbox GL layers has predicate property of NSPredicate type allowing to filter output of source data.
I see no substitute for this in new version.

## Why

New property for Layer (iconVisibility for instance) taking Expression as input would be handy, to support data filtering before rendering it to the map. Or maybe make it clear in docs/examples how to migrate without it.

[2022-02-23 19:39] ZiZasaurus commented on #1151
@metaine, we do possess a filter property for layers [here](https://docs.mapbox.com/ios/maps/api/10.3.0/Structs/SymbolLayer.html#/s:10MapboxMaps5LayerP6filterAA10ExpressionVSgvp) which can be seen in action in our [Multiple Geometries example](https://github.com/mapbox/mapbox-maps-ios/blob/de3800d042e0c095321fefac4cbc6c03d40b75c1/Apps/Examples/Examples/All%20Examples/MultipleGeometriesExample.swif

[2022-02-23 20:15] metaine commented on #1151
Thanks. I ovelooked this one.

[2022-02-23 20:15] #1151 closed

[2022-02-24 17:32] ZiZasaurus commented on #1138
@rgmyyw thank you for providing these screenshots. To better assist you, can you please provide us more of your WeTalk-Swift.h file so we can see where it imports MapboxMaps? Additionally, how are you integrating Mapbox Maps (cocoapods, carthage, etc)?

I've attached a sample project that demonstrates the incorporation of the `LocationProviderDelegate` without it having to conform to AnyObject, ho

[2022-02-24 17:47] ZiZasaurus commented on #984
This has been resolved in 10.3.

[2022-02-24 17:47] #984 closed

[2022-02-24 18:00] #879 closed

[2022-02-27 14:13] AVatch opened #1156 "SwiftUI Cannot find 'MapEvents' in scope"
## Environment

- Xcode version: 13.2.1 (13C100)
- iOS version: 15.x
- Devices affected:
- Maps SDK Version: 10.3.0

## Observed behavior and steps to reproduce

Using the provided [SwiftUI example](https://github.com/mapbox/mapbox-maps-ios/blob/main/Apps/Examples/Examples/All%20Examples/SwiftUIExample.swift) Xcode throws an error that MapEvents can't be found in scope

## Expected behavior

This

[2022-02-28 15:14] A8Starkov commented on #1147
Grooming meeting note: Not sure if bug or feature. Moving to planning backlog for further triage.

[2022-02-28 15:19] ZiZasaurus commented on #1147
@endanke just wanted to clarify, when you refer to annotation view are you referring to [ViewAnnotations](https://docs.mapbox.com/ios/maps/api/10.3.0/Classes/ViewAnnotationManager.html) or [Point](https://docs.mapbox.com/ios/maps/api/10.3.0/Classes/PointAnnotationManager.html)/[Circle](https://docs.mapbox.com/ios/maps/api/10.3.0/Classes/CircleAnnotationManager.html)/[Polyline](https://docs.mapbox.

[2022-02-28 16:15] ZiZasaurus commented on #1156
@AVatch are you running the example by itself or are you running it inside the Examples app? I'm not experiencing any errors running the example?

[2022-03-01 09:55] Rheaparks opened #1159 "PointAnnotation.image fails silently if name is nil or empty"
## Environment

- Xcode version: 13.2.1
- iOS version: 15.2
- Devices affected: All
- Maps SDK Version: 10.3.0

## Observed behavior and steps to reproduce

Setting a point annotation image via the convenience `image` property fails silently if the provided name is nil or empty.

## Expected behavior

This should be either documented or at least logged. In the current state, the pin is successfull

[2022-03-01 18:01] AVatch commented on #1156
Hey @ZiZasaurus I’m running it in a stand-alone project. I’ll try to share a repo when I get home today.

[2022-03-01 19:44] AVatch commented on #1156
Ok, check this out, just a vanilla SwiftUI project and me copying over the sample data (and adding mapbox as a dependency)

The funny thing is that it compiles, but the errors still pop up.

https://github.com/AVatch/mapbox-swiftui-test

<img width="848" alt="Screen Shot 2022-03-01 at 2 42 54 PM" src="https://user-images.githubusercontent.com/1807958/156237539-7384535f-49bc-4c2a-a07e-1d01efb0f6ca.

[2022-03-01 21:23] ZiZasaurus commented on #1156
@AVatch the project you provided was empty, however this may be related to your Xcode version, as I ran the example in both Xcode 13.0 and Xcode 13.2.1 and I only received errors in Xcode 13.2.1.

[2022-03-02 00:29] evil159 opened #1164 "Attribution parser doesn't show source attributions"
## Environment

- Xcode version:
- iOS version:
- Devices affected: All
- Maps SDK Version: v10

## Observed behavior and steps to reproduce

When attribution is added using source (for eg. TileJson). It should show on the attribution modal. this is to track the issue raised here https://github.com/mapbox/mapbox-maps-internal/issues/1262

## Expected behavior

Attribution related to source should

[2022-03-02 15:50] AVatch commented on #1156
Sorry for that, but yeah you're correct, I'm running `Version 13.2.1 (13C100)`

[2022-03-02 17:19] ZiZasaurus commented on #1156
@AVatch, thank you for confirming your version. Can you please provide an updated project that reproduces the behavior you reported?

[2022-03-02 19:38] AVatch commented on #1156
@ZiZasaurus pushed to the repo https://github.com/AVatch/mapbox-swiftui-test

[2022-03-02 22:30] ibmeister opened #1170 "Custom pitch animation broken after commit 4dfa7482a6c0626ffbbaa3452a5b50858131f7c2"
## Environment

- Xcode version:
- iOS version: 14.5
- Devices affected: iPhone
- Maps SDK Version: v10.3.0

## Observed behavior and steps to reproduce
@macdrevx FYI:

Custom camera animator does not animate pitch anymore. It instantly switches between states no matter the configuration (duration, delay etc). However, other animations like zoom, center, and bearing seem to be unaffected.
I have b

[2022-03-03 01:44] macdrevx commented on #1170
What details can you offer about the custom animator you're using? Can you provide…

- Initial camera state before starting the animation
- Animator config

[2022-03-03 01:48] ibmeister commented on #1170
I'm alternating between this state with these configs:

[code]

    and this state:

[code]

    But I've tested multiple states and it still occurs. Are you unable to reproduce it?

[2022-03-03 02:20] macdrevx commented on #1170
Are you using one of the makeAnimator APIs or ease(to:...)?

[2022-03-03 03:13] macdrevx commented on #1170
Here's a demo based on the code you provided. I ran this with the latest commit on the main branch and was unable to reproduce the issue you described. Could you try it out? If you're able to modify it so that it demonstrates the issue, please share it back so we can debug further.

[code]

[2022-03-03 16:21] #1138 closed

[2022-03-03 18:16] ZiZasaurus commented on #1156
@AVatch thank you for providing the updated project. I was able to reproduce the errors and used the following steps to resolve them:

1. Make sure your Command Line Tools are set to the version of Xcode you're currently using. (Xcode > Preferences > Locations)
2. Restart Xcode
3. Clean your build folder
4. Reset your package caches

Please let me know if these steps help resolve the errors you're

[2022-03-04 08:31] tomascern commented on #1099
Any update on this?

[2022-03-04 17:26] AVatch commented on #1156
Hey @ZiZasaurus Thank you for investigating and sharing these steps.

I no longer am getting the errors in Xcode after reseting the build folder / cache.

For my own curiosity is this an artifact of the Xcode package manager and how it imports the package? Just trying to figure out how to spot this in the future.

[2022-03-05 18:44] #1156 closed

[2022-03-06 04:48] tungvustarglobal opened #1174 "Add map layers asynchronously"
## Environment

- Xcode version: 13.2.1
- iOS version: 15.2
- Devices affected: devices and simulator
- Maps SDK Version: 10.3.0

## Observed behavior and steps to reproduce
In our application we have hundreds on layers (lines, polygons,...) to render at a time. When user change the view port, we'll fetch new data, once we have that data we remove the old layers and renders the new one.
But since

[2022-03-07 09:43] tomascern opened #1175 "OfflineRegionManager method mergeOfflineDatabase ends with failure."
## Environment

- Xcode version: Version 13.2.1
- iOS version: iOS 15.3.1
- Devices affected: All
- Maps SDK Version: MapboxMaps (10.3.0)

## Observed behavior and steps to reproduce

When using `mergeOfflineDatabase` method, it always ends with the following error: `MapboxMaps.TypeConversionError.unexpectedType` even with a valid database created with the same Mapbox version. Interesting is, that

[2022-03-07 14:58] macdrevx commented on #1053
@nastasiupta @RodrigoSAlves we made a change in 10.4.0-beta.1 that may resolve this issue. Please try it out and let us know if you are still able to reproduce this bug.

[2022-03-07 17:00] miptildar opened #1176 "Running Examples from this repository"
## Environment

- Xcode version: 13.2.1
- iOS version: 15.2
- Devices affected:
- Maps SDK Version: 10.3.0

Running project in MacBook M1 Pro

## Observed behavior and steps to reproduce
I dowloaded this repository and opened `Apps/Examples/` folder as a project in XCode. Installed Mapbox 10.3.0 using Swift Package manager.
Project gets built successfully and I can launch Example app in iOS Simula

[2022-03-07 17:58] macdrevx commented on #1119
Some progress: I can reproduce this only with the deceleration animation after a pan gesture. This happens due to the following cycle:

`CameraAnimationsManager --> GestureDecelerationCameraAnimator --> locationChangeHandler --> PanGestureHandler --> CameraAnimationsManager`

A similar cycle exists if you swap in `completion` for `locationChangeHandler`.

[2022-03-07 18:03] macdrevx commented on #1119
Similar cycles seem possible with `DoubleTouchToZoomOutGestureHandler`, `DoubleTapToZoomInGestureHandler`

[2022-03-07 18:54] ZiZasaurus commented on #1174
@tungvustarglobal can you please provide us with a scenario reproducing the lag you're experiencing on the main thread?

[2022-03-07 19:57] macdrevx commented on #1119
Seems like the general pattern is…

`CameraAnimationsManager --(internalAnimator/runningCameraAnimators)--> CameraAnimator --(some closure)--> ... --> CameraAnimationsManager`

where the ... could be CameraAnimationsManager directly or some other series of strong references that leads to it like `MapView --> CameraAnimationsManager` or `GestureHandler --> CameraAnimationsManager`.

As long as the

[2022-03-07 22:42] miptildar commented on #1176
@macdrevx , yes I did everything according to the documentation.
Secret access token was specified in `.netrc` file (home dir), public access token in `Info.plist` file.
I opened `Apps/Apps.xcworkspace` and set `Example` as a scheme.

I am getting the following log messages and the same black screen:
[code]

[2022-03-08 05:28] Eke commented on #1119
@macdrevx I can confirm that it was happening only with the deceleration animation after a pan gesture in my case.

[2022-03-08 05:29] Eke commented on #1147
@ZiZasaurus sorry for late answer. I am referring to [ViewAnnotations](https://docs.mapbox.com/ios/maps/api/10.3.0/Classes/ViewAnnotationManager.html)

[2022-03-08 14:13] tomascern opened #1177 "EXC_BAD_ACCESS within terrain_renderer"
## Environment

- Xcode version: 13.2.1
- iOS version: 15.3.1
- Devices affected: All
- Maps SDK Version: 10.3.0

## Observed behavior and steps to reproduce

After setting terrain on in offline mode, it shows up but eventually after some map panning and zooming the app crashes with the EXC_BAD_ACCESS. I am using OfflineRegionManager for offline data. See attached stacktrace.

[code]

## Expected

[2022-03-08 15:57] Subhashini2610 opened #1178 "Polyline drawn does not connect all waypoints"
## Environment

- Xcode version: 13.2.1
- iOS version: 15.3.1
- Devices affected: iPhone 12, iPhone 7
- Maps SDK Version: Mapbox Maps 10.1.2, Directions 2.3.0

## Observed behavior and steps to reproduce

I am having trouble drawing a polyline consisting of waypoints received from my custom server. The polyline received from Directions.calculateRoutes only joins the first two waypoints. I have a t

[2022-03-08 16:32] sbma44 opened #1179 "correct text regarding offline limit"
The example app includes outdated language suggesting offline data is limited to 250MB. This is incorrect; by default the offline system is denominated in tile packs, and limited to 750.

should be

- https://github.com/mapbox/mapbox-maps-ios/blob/e1df7d3ec6e94cd1c80613d42f39159067bb4339/Sources/MapboxMaps/Offline/OfflineManager%2BMapboxMaps.swift
- https://github.com/mapbox/mapbox-maps-ios/blob/1

[2022-03-08 19:43] miptildar commented on #1176
@macdrevx any ideas how to fix it?

[2022-03-08 21:26] ZiZasaurus commented on #1178
Closing this as a duplicate of https://github.com/mapbox/mapbox-directions-swift/issues/661

[2022-03-08 21:26] #1178 closed

[2022-03-08 21:43] miptildar commented on #1176
@ZiZasaurus sure

<img width="722" alt="Screenshot 2022-03-09 at 00 37 04" src="https://user-images.githubusercontent.com/13314149/157329946-c677a861-fbef-4ad9-8c6c-6210d9288b69.png">
<img width="1452" alt="Screenshot 2022-03-09 at 00 35 52" src="https://user-images.githubusercontent.com/13314149/157329961-142328dc-19b4-4e39-aebe-44e8e9016856.png">

[2022-03-08 22:19] #1164 closed

[2022-03-09 13:51] tungvustarglobal commented on #1174
When I'm panning around the map while data is loading, once data loaded, I got about 500 layers (including point PointLayer (with image), Polyline, Polygon,...)  for example, the map get lag for a half of second before layers are rendered on the map.

[2022-03-09 18:34] ZiZasaurus commented on #1176
@miptildar Can you follow the first step [here](https://docs.mapbox.com/help/troubleshooting/private-access-token-android-and-ios/#ios) and create a `~/.mapbox` file with just your public token, delete the app off the device/simulator, clean your project and then try to run the examples app again?

[2022-03-09 18:38] #1179 closed

[2022-03-09 19:19] miptildar commented on #1176
@ZiZasaurus thanks, now it is more interesting. I am getting the following logs

[code]

HTTP 401 instead of "unsupported URL"

[2022-03-09 19:24] ZiZasaurus commented on #1176
@miptildar is your map loading or are you still receiving a black screen?

[2022-03-09 19:30] miptildar commented on #1176
@ZiZasaurus I am still receiving a black screen. No, I haven't changed anything in Examples project source code, so I suppose I am referencing a default one

[2022-03-09 19:34] ZiZasaurus commented on #1176
@miptildar did you delete the app off of whatever device you're testing on, clean the build folder in Xcode and then rerun? I'm not experiencing this issue.

[2022-03-09 19:44] miptildar commented on #1176
@ZiZasaurus yes, I did exactly in that order. Still receiving HTTP 401 and these logs:

[code]

[2022-03-09 20:00] ZiZasaurus commented on #1176
@miptildar can you provide a screenshot of your `~/.mapbox` file with the token redacted as well as a screenshot of where the file is housed in your home directory?

[2022-03-09 20:12] reubn commented on #755
Blocking for me

[2022-03-09 20:36] miptildar commented on #1176
@ZiZasaurus sorry for bothering you, yes, you were right - Mapbox public access token had few missing symbols in the end. But at least now I know that adding `~/.mapbox` file can be a solution of `unsupported URL` problem.

Thank you!

[2022-03-09 21:09] ZiZasaurus commented on #1176
@miptildar fantastic news. You're most welcome. We will make sure to update the documentation to reflect the correct way to import the access token. I will close this ticket for now but please feel free to reopen if you have additional questions.

[2022-03-09 21:09] #1176 closed

[2022-03-09 21:11] richardpineo commented on #990
Any update on this? It also occurs if you provide padding on the left-edge of the view and it's really jarring. We'd like to be able to set the padding for the camera and have it update smoothly.

[2022-03-10 07:03] #788 closed

[2022-03-10 07:04] endanke commented on #788
Closing the issue as we're not planning to change this API at the moment.

[2022-03-10 15:48] akirmse commented on #788
If you're not going to fix the API, maybe remove it?  There's no sense
having a call that returns random incorrect results.  Or at least document
that it cannot be called if pitch != 0, and have it throw an exception in
that case.

On Wed, Mar 9, 2022 at 11:04 PM Daniel Eke ***@***.***> wrote:

[2022-03-10 16:46] endanke commented on #788
I agree a documentation change would be needed at least. What's guaranteed is that the API will return a correct value if the requested coordinate is visible on the screen.

[2022-03-10 22:28] johnnewman opened #1191 "CircleLayer animations consume the CPU"
## Environment

- Xcode version: 13.2.1
- iOS version: 15.3.1
- Devices affected: All
- Maps SDK Version: 10.3.0

Thank you for making such a wonderful SDK!

## Observed behavior and steps to reproduce

I'm implementing a style-driven pulse animation using a CircleLayer. The pulse is a colored circle border that grows from its center coordinate while simultaneously fading out. My goal is to avoid

[2022-03-11 12:47] reubn commented on #998
Would like to see this added

[2022-03-11 15:47] ZiZasaurus commented on #1177
@tomascern, improvements to offline 3D terrain will be addressed in v10.4 of the Maps SDK.

[2022-03-15 01:35] ZiZasaurus commented on #1174
@tungvustarglobal, are you referring to [annotations](https://docs.mapbox.com/ios/maps/guides/annotations/annotations/)?  If so, this method is Inefficient for adding more than 250 markers to the map. Instead, we recommend using [StyleLayers](https://docs.mapbox.com/android/maps/guides/annotations/style-layers/).

[2022-03-15 01:44] tungvustarglobal commented on #1174
No, I'm rendering Style Layers. Please take a look at this instance.
![Simulator Screen Shot - iPhone 11 Pro Max 2 - 2022-03-14 at 12 02 13](https://user-images.githubusercontent.com/92707740/158289331-9fe6924b-bf3a-4a62-8412-20274e613688.png)

[2022-03-15 09:57] kaku-io commented on #1191
https://gist.github.com/johnnewman/266f921682ce799aed24765e04a10a04

[2022-03-15 11:02] landyrev opened #1194 "AnyTouchGestureRecognizer.canBePrevented prevents single tap gestures in Flutter environment"
## Environment

- Xcode version: 13.3
- iOS version: 15.4
- Devices affected: any iPhone
- Maps SDK Version: 10.3.0
- Flutter SDK version: 2.8.1

## Observed behavior and steps to reproduce
We use Mapbox SDK as a native module (integrated [this way](https://docs.flutter.dev/development/platform-integration/platform-views#on-the-platform-side-1))

After upgrading from 10.2.0 to 10.3.0 we got our si

[2022-03-16 10:50] hec72 opened #1196 "Snapshotter Causes App Freeze With 100% CPU Load"
Our project makes heavy use of the Snapshotter class in MapboxMaps v 10.4.0.rc-1.
Unfortunately, this causes sporadic App freezes with 100% CPU load.
Looking at the current call stack always leads back to
[code]
It seems that using NSMutableAttributedString to convert HTML attribution strings to AttributedStrings causes problems.

This happens even with the Attribution option disabled for the Snap

[2022-03-16 14:16] ZiZasaurus commented on #1196
@hec72 can you provide us with the style and camera you are using?

[2022-03-16 17:07] #1177 closed

[2022-03-16 17:07] ZiZasaurus commented on #1177
Closing this ticket, but please feel free to reopen if you have additional questions.

[2022-03-16 20:39] ZiZasaurus commented on #977
Closing this ticket as the reported bug has been ticketed upstream. Please feel free to reopen this ticket if you have additional questions.

[2022-03-16 20:39] #977 closed

[2022-03-17 03:59] LearnWithTung commented on #1174
We're having three types of layers - point, lines, and polygon. We're fetching entities from server and with each entity contains coordinates, from that coordinates we create these three layers (we calculate centroid for point layer) then add to a source and display to the map.
And yeah, most of response contains roughly 500 entities

[2022-03-17 04:00] tungvustarglobal commented on #1174
We're having three types of layers - point, lines, and polygon. We're fetching entities from server and with each entity contains coordinates, from that coordinates we create these three layers (we calculate centroid for point layer) then add to a source and display to the map.
And yeah, most of response contains roughly 500 entities

[2022-03-17 09:31] hec72 commented on #1196
Thanks for the quick response!

This is the Style we are using (I altered the name for privacy reasons).
I am not sure about the Camera.

[mapbox-style.json.zip](https://github.com/mapbox/mapbox-maps-ios/files/8283433/mapbox-style.json.zip)

[2022-03-17 15:38] ZiZasaurus commented on #1196
@hec72 thank you for this information. I noticed that you mentioned this issue occurs sporadically. How often would you say this happens? Additionally, do you experience this freezing when using one of our default styles?

[2022-03-21 10:21] tavakoli-ali opened #1203 "Feature Collection Layers work properly according to their sources"
## Environment

- Xcode version: 13.2.1
- iOS version: 15.2
- Devices affected: All Devices
- Maps SDK Version: 10.4.0.rc-1

We used in our Project Feature Collection for showing Marker on map. it has different model of Marker. Sometimes it doesn't work properly according to the source layer.
here we have 3 Marker on Map.
according to the source should be number 2-3 both !color = red !and with "op

[2022-03-21 10:39] nryrk opened #1204 "lineLayers disappear while zooming"
our project shows some custom lineLayers on map. These should be visible on the highest layer except over the puck. Even when the user zooms in and out and while new layers will be loaded on the map.
To create this lineLayers we have the following code snippet.

[code]

Unfortunately, the lines are cut off when zooming and it seems as if they are covered by other layers.
I brought 4 screenshots fo

[2022-03-21 12:35] #1175 closed

[2022-03-21 13:04] pushkardeshmukh1992 opened #1205 "Setting active icon state to Annotations on selection on Mapbox iOS SDK"
I am trying to achieve following use case in our iOS app using Mapbox SDK.

Use case: Annotations are drawn on the map. Once annotations are drawn, on annotation selection, annotation should have an active state (active annotation needs to be highlighted by changing the annotation image) So far, we couldn’t find any relevant example to achieve this. We got this kinda behaviour working by a dirty w

[2022-03-22 08:58] hec72 commented on #1196
Ok, so I did a little more testing.
1. The freeze will occur in approx. 80% of my daily use cases. Sometimes it takes a little longer for it to happen, but currently it seems that eventually it will happen.
2. The String that is being parsed always seems to the the one I pasted below.
3. When using the default Style `.streets` as MapView style, the freezes does not occur.

`
(lldb) po sourceAttrib

[2022-03-22 09:22] landyrev commented on #1194
minimal reproducible test case: https://github.com/landyrev/mapbox_flutter

[2022-03-22 14:58] ZiZasaurus commented on #1191
@johnnewman thank you for reporting this, we will investigate the root cause of this CPU consumption.

[2022-03-22 15:41] ZiZasaurus commented on #1196
@hec72 thank you for this information. So I can better assist you, can you please provide a minimal test case (including the style you are referencing) that reproduces this behavior, as I am unable to reproduce it in my environment.

[2022-03-23 01:07] NickBrinsmade opened #1206 "Setting showsUserLocation = false is canceled by UserTrackingMode = .followWithHeading"
## Environment

- Xcode version: 12.5.1
- iOS version: 14.2
- Devices affected: All
- Maps SDK Version: 6.4.0

## Observed behavior and steps to reproduce

In my makeUIView() function in my UIViewRepresentable map, I'd like to make the user location invisible but at the same time have userTrackingMode be .followWithHeading.  Unfortunately, it doesn't seem like these can be set at the same time. Is

[2022-03-23 08:34] tavakoli-ali commented on #1203
any response about it?

[2022-03-23 16:14] ZiZasaurus commented on #1205
@pushkardeshmukh1992, as this is more of a product support Issue,  our support team will be happy to get you the answers you need.

[2022-03-23 16:14] #1205 closed

[2022-03-24 13:34] #1119 closed

[2022-03-25 09:51] lmelnykmylivn commented on #687
Hi @endanke, sorry for late response, couldn't check before v10.3.0 wend to release. The issue looks like fixed. Thanks!

[2022-03-25 10:40] azarovalex opened #1209 "External vector tiles not working🤔"
## Environment

- Xcode version: 13.x
- iOS version: all
- Devices affected: all
- Maps SDK Version: 10.x

## Observed behavior and steps to reproduce

External vector tiles sample is not working since the [URL hardcoded in the example](https://github.com/mapbox/mapbox-maps-ios/blob/main/Apps/Examples/Examples/All%20Examples/ExternalVectorSourceExample.swift#L33) is not available anymore.
The prob

[2022-03-25 13:59] azarovalex commented on #1209
Fixed by setting the correct `sourceLayer` for the LineLayer, so it wasn't a bug😅

[2022-03-25 13:59] #1209 closed

[2022-03-25 18:39] macdrevx commented on #1194
Thanks for the test case @landyrev. Using it, I'm able to reproduce the issue you describe.

AnyTouchGestureRecognizer is used to disable camera animations while there are touches on the map so that you can "grab" the map to stop it if it's animating. The change between 10.2 and 10.3 that seems to result in this behavior is that it doesn't transition into the `began` state until after a short dela

[2022-03-25 18:47] macdrevx commented on #1194
One other note — the workaround you identified (returning true from `canBePrevented`) breaks other map behaviors (e.g. if there's an animation, and you start panning, the animation continues in parallel, which doesn't look right). `canBePrevented` itself was unchanged from 10.2 to 10.3. My guess is that returning true just means that the AnyTouchGestureRecognizer is being ignored.

[2022-03-26 15:03] azarovalex opened #1211 "`|` symbol in URL is not supported"
## Environment

- Xcode version: all
- iOS version: all
- Devices affected: all
- Maps SDK Version: 10.x

## Observed behavior and steps to reproduce

When trying to build `ExternalVectorSourceExample` with the URL from the public [GL JS sample](https://docs.mapbox.com/mapbox-gl-js/example/third-party/) it will fail to download tiles, because the tiles URL contains `|` symbols. The error in logs i

[2022-03-27 10:49] landyrev commented on #1194
Hi @macdrevx! https://github.com/mapbox/mapbox-maps-ios/pull/1210 did the trick great catch, thank you!

[2022-03-27 15:12] rhondadevore opened #1212 "Issue in iOS version 10.4.0 but fine in 10.3.0"
## Environment

- Xcode version: 13.2
- iOS version: 15.2
- Devices affected: iPhone 8
- Maps SDK Version: 10.4.0

## Observed behavior and steps to reproduce

Setup: Simple map contained in a collectionView cell. Single circle annotation added to the map.
`
var circleAnnotation = CircleAnnotation(point: Point(LocationCoordinate2D(latitude: lat, longitude: lon)))
circleAnnotation.circleRadius = 50

[2022-03-27 15:40] macdrevx commented on #1212
Does this happen on simulator, or only on device? Are you able to share a full crash report? What installation method are you using?

[2022-03-27 16:48] rhondadevore commented on #1212
I've updated the title of this because as I've been testing further, it looks like it isn't fully crashing, but hitting that assertion failure and I cannot continue to run in the debugger.

My map isn't on screen when the viewController loads and this seems to happen consistently if I scroll fast down to the map.

I've tested on the following simulators/devices
iPhone 8 Simulator running iOS 15.2