[2022-10-24 12:46] ZiZasaurus commented on #1663
@wangruofeng thank you for reaching out. The team is working on this and will provide any updates in the ticket when it is available.

[2022-10-24 13:41] ZiZasaurus commented on #1002
@michalronin thank you for following up. Can you please provide a screen recording or sample project reproducing this behavior? I am currently unable to reproduce the behavior as outlined by the user above on v10.9.0. Please see my screen recording below:

https://user-images.githubusercontent.com/44972592/197539628-05f8df8e-1f42-4c6a-9f2f-cb49f934bbbb.MP4

[2022-10-24 13:43] ZiZasaurus commented on #1662
@naftalibeder thank you for reaching out. To better assist you, can you please provide us with your use case, as well as what specific layer elements you would want to display with this feature?

[2022-10-24 14:21] ZiZasaurus commented on #1655
@rouviere can you please create a new secret token (including the `Download:Read` scope), replace the token in your .netrc file with this token and try to install the package again? Please make sure that only the token is in the password field and that your (with no additional brackets).

[2022-10-24 14:23] #1574 closed

[2022-10-24 14:26] ZiZasaurus commented on #1569
@johnnewman this behavior has been resolved in v10.9.

[2022-10-24 14:34] ZiZasaurus commented on #1526
Closing this issue but please feel free to reopen if you experience additional issues with this behavior.

[2022-10-24 14:46] #1502 closed

[2022-10-24 14:47] ZiZasaurus commented on #1516
@akirmse, just wanted to follow back up with you on this ticket. Currently, the workaround I provided is the best way to accomplish your use case, as there are no immediate plans to allow setting polygon stroke width.

[2022-10-24 14:47] #1516 closed

[2022-10-24 15:57] akirmse commented on #1516
That's too bad that Mapbox can't match Google.  This is trivial to do in the Google SDK.

[2022-10-24 16:37] naftalibeder commented on #1662
@ZiZasaurus thanks for the response!

The use case is to display iconography that appears to rotate with the map - for instance, displaying an arrow pointing along a road.

The default behavior of a layer (e.g. a `SymbolLayer`) is to maintain its rotation in screen coordinate space, regardless of the map coordinate space rotation:

![image](https://user-images.githubusercontent.com/2423291/1975786

[2022-10-24 21:13] rouviere commented on #1655
I created a new token and the download still fails. Wish I had better news.

[2022-10-24 22:54] ZiZasaurus commented on #1191
@johnnewman, thank you for following up. Are you able to verify this behavior in the newest version of our SDK?

[2022-10-24 23:05] ZiZasaurus commented on #1428
@ir-fuel closing this ticket but please feel free to reopen if you have additional questions/ issues.

[2022-10-24 23:05] #1428 closed

[2022-10-25 10:36] cubexc commented on #1503
Hi. I'm having the same issue on SDK v10.

Polygons shape changes when zooming in/out. I tried shifting the coordinates as someone suggested in a related issue but it's still doing it.

Any updates on this?

[2022-10-25 17:04] #1475 closed

[2022-10-25 17:26] pjleonard37 commented on #1475
Hi @pschan9092 & @markemer --

Thanks for raising this feature request. I've just merged a PR into `main` which adds the ability to cluster on PointAnnotationManager, which should be included in an upcoming release. If you are able to try out the new options we'd appreciate any feedback you have.

I've also added an example here demoing implementation: https://github.com/mapbox/mapbox-maps-ios/blo

[2022-10-26 04:37] teddichiiwa commented on #788
Change `abs(determinant)` from 0.0001 to 0.00000001 will snap to the correct offset in max zoom level 👍

[2022-10-26 10:54] maios commented on #1655
@rouviere Could you try to Reset Package Cache?

[2022-10-26 11:39] NiwakaDev commented on #1662
@naftalibeder

Would the following sample code be helpful?
https://github.com/mapbox/mapbox-maps-ios/blob/v10.8.1/Apps/Examples/Examples/All%20Examples/AnimateLayerExample.swift

https://github.com/mapbox/mapbox-maps-ios/blob/v10.8.1/Apps/Examples/Examples/All%20Examples/AnimateLayerExample.swift#L112 :
[code]

https://github.com/mapbox/mapbox-maps-ios/blob/v10.8.1/Apps/Examples/Examples/All%20Exa

[2022-10-27 17:01] antoinelamy opened #1669 "Add `BUILD_LIBRARY_FOR_DISTRIBUTION` flag to dependency managers versions"
## New Feature
Because the CocoaPods and SwiftPM versions of the framework are provided by source and the project that build it does not add set `BUILD_LIBRARY_FOR_DISTRIBUTION` to `YES`, some symbols are stripped from the binary and the swift toolkit compatibility layer is missing. Integrating the framework from CocoaPods or SwiftPM produce a framework that does not behave like the precompiled xc

[2022-10-27 21:43] naftalibeder commented on #1662
`iconRotationAlignment` was exactly what I was looking for! Thanks!

[2022-10-27 21:43] #1662 closed

[2022-10-28 16:59] naftalibeder opened #1673 "Setting `compass.image` to `nil` does not update UI to default compass image"
## Environment

- Xcode version: 14.1
- iOS version: 16.1
- Devices affected: Simulator
- Maps SDK Version: 10.9.0

## Observed behavior and steps to reproduce

1. Load the map with the compass enabled:

<img width="61" alt="image" src="https://user-images.githubusercontent.com/2423291/198691429-004ab700-d1c6-410c-a518-c6d7cea2facf.png">

2. Set the compass image to a local asset:

[code]

<img wi

[2022-10-29 19:59] ZiZasaurus commented on #1508
@akirmse thanks you for following up. Our team is working on resolving this issue for you. If there's any additional information you'd like to provide regarding this issue, I'd be happy to pass it along!

[2022-10-29 22:27] devcanas commented on #1655
Having the same issue here, this is what I get back from the package fetching failing requests:

<img width="989" alt="imagem" src="https://user-images.githubusercontent.com/20864454/198854416-36013cc1-282f-4299-9274-f92fe9d67339.png">

Have tried everything else in this page already. Any clues why the token in not being added to the request at all?

@ZiZasaurus you mentioned we should move the .n

[2022-10-31 07:42] astojilj commented on #1654
@mfazekas

Could you please set maxZoom to 14, like in the Maps SDK example? https://github.com/mapbox/mapbox-maps-ios/blob/6b0e3730146930160607051f9b64294a34c9522e/Apps/Examples/Examples/All%20Examples/TerrainExample.swift#L39

Need your help in identifying the issue:

1. the lost connection. Does this happen when connection is on (when not running offline mode)?

2. panning slows down as camera

[2022-10-31 09:21] mfazekas commented on #1654
@astojilj sorry for late answer,

I did add `demSource.maxzoom = 14.0 ` but still saw the issue.

No I don't see lost connection, just when testing with wifi off.

Yes I think this is the issue we're facing here. Yes when stuck I can zoom out then panning works again.

[2022-10-31 10:30] djryanash commented on #1655
I was also having this problem. Being new to iOS development (and development in general), I made a silly mistake:

I added my Secret Token to the MBXAccessToken Properties in the Info.plist file, instead of the Public Access Token.

Sorted it out now. :)

[2022-10-31 10:37] devcanas commented on #1655
I was also able to sort it by installing Xcode 14.0.1, apparently Xcode 14.1 RC is not working

[2022-10-31 13:09] #1669 closed

[2022-10-31 18:50] ZiZasaurus commented on #1673
@naftalibeder I followed the steps you provided above to reproduce and am unable to reproduce this behavior. I've included my screenshots below:

| With Custom Compass | After setting to nil|
|-------|--------|
|![Simulator Screen Shot - iPhone 12 - 2022-10-31 at 09 25 23](https://user-images.githubusercontent.com/44972592/199086370-a0954ff6-66bf-4854-a8d6-060171786802.png) |![Simulator Screen Sho

[2022-11-01 10:10] AlexaderDNT opened #1677 "Crash"
## Environment

- Xcode version:
- iOS version: 16.0.2
- Devices affected: IPhone 13 Pro Max
- Maps SDK Version: 10.8.1

I dont know what this is.

![image](https://user-images.githubusercontent.com/64775721/199210106-0a143c60-f853-46c5-9964-3c44b762a9be.png)

[2022-11-01 12:50] ZiZasaurus commented on #1655
@devcanas, yes the .netrc file should be housed in the home folder of the computer.

[2022-11-01 13:03] AlexaderDNT commented on #1677
Im not sure, this is in production. Have no more info than firebase.

But i have this crash. When i zoom all out, it crash.

https://user-images.githubusercontent.com/64775721/199238801-aba4cf1f-5335-4077-bcab-ccc84b4b66f3.MOV

[2022-11-01 15:03] AlexaderDNT commented on #1677
The crash goes away If i remove two SymbolLayer from the map. Is it any restriction for how many SymbolLayer you can add?

[2022-11-02 01:54] ibmeister opened #1679 "Camera animation laggy on initial zoom in on first app install"
## Environment

- Xcode version: 14.1
- iOS version: 16
- Devices affected: iPhone 14 Pro
- Maps SDK Version: 10.9

## Observed behavior and steps to reproduce
Upon initial install of an app, the camera zoom-in animation is very laggy (presumably because it's loading and caching tiles), but not laggy on subsequent launches. This creates a negative first impression for new users, and it would be gr

[2022-11-02 09:36] AlexaderDNT commented on #1677
This happens on older phones like iphone 11 and not iphone 14. So i think it is a memory issue. It happens on zoom level 1 to 3. Any fix for problems like this? @ZiZasaurus

[2022-11-03 19:35] ZiZasaurus commented on #1640
Are you still experiencing this issue on the most recent version of our SDK? If so, depending on the amount of features you're adding to your maps, you can take a look at the [Mapbox Tiling Service](https://docs.mapbox.com/mapbox-tiling-service/guides/) (MTS), a tool for creating vector tilesets. With MTS, you use sets of configuration options ([tileset recipes](https://docs.mapbox.com/help/glossa

[2022-11-03 19:35] #1640 closed

[2022-11-03 19:57] ZiZasaurus commented on #1677
@AlexaderDNT, do you have a minimal sample app that you can provide that reproduces this crash?

[2022-11-03 20:03] pradeeplobo86 commented on #1437
Hi, I observe the same runtime as @Adraesh.

<img width="1573" alt="image" src="https://user-images.githubusercontent.com/99631125/199822839-c8d5a280-4193-45f9-929e-dfc57b222988.png">

[2022-11-04 07:21] AlexaderDNT commented on #1677
No, but i fixed it. I created more layers with 2000 as a source limit on every layer.

[2022-11-04 19:23] ZiZasaurus commented on #1430
@jimmy0804 just wanted to follow up and see if you were still seeing this issue. :)

[2022-11-04 21:43] ZiZasaurus commented on #1615
@mysport12 my apologies for the delay. I am able to see terrain and download these tiles successfully using the legacy offline region manager.
![Simulator Screen Shot - iPhone 12 - 2022-11-04 at 17 39 58](https://user-images.githubusercontent.com/44972592/200079372-b19bd862-73b2-4fb4-a4f2-a590397f5386.png)

[2022-11-05 15:45] anatoliykant opened #1692 "Unable to download project via Cocoapods/SPM"
## Environment

- Xcode version: 12.6
- iOS version: 16.0
- Devices affected: MacBook Pro M1 Max
- Maps SDK Version: 10.9.0 / 10.8.1

## Observed behavior and steps to reproduce

When trying to install the **Mapbox SDK framework** on an **iOS app**, I get an **error** that **MapboxCommon cannot be installed**.

Examples
1. when using cocoapods:

[code]

2. When using SPM:
![SPM error](https://i.im

[2022-11-05 16:05] anatoliykant commented on #1692
After adding the .netrc file to the root of the macbook, adding the secret key and **rebooting** the macbook, I was able to install the Mapbox SDK

[2022-11-05 16:05] anatoliykant commented on #1692
After adding the .netrc file to the root of the macbook, adding the secret key and **rebooting** the macbook, I was able to install the Mapbox SDK

[2022-11-05 16:05] #1692 closed

[2022-11-07 08:28] lpeancovschi opened #1693 "MapboxMap doesn't return elevation information for visible area"
## Environment

- Xcode version: 14.0 (14A309)
- iOS version: 16.0
- Devices affected: iPhone 14 Pro (probably all of them)
- Maps SDK Version: 10.9.0

## Observed behavior and steps to reproduce

1. Load the map and zoom in at a small scale (less than 8) - now you can see that the map reflects correct altitudes on surfaces
2. Try to load elevation data via `MapView`:
[code]
`currentLocation` - is

[2022-11-07 14:09] ZiZasaurus commented on #1693
@lpeancovschi thank you for reaching out. When/ how are you trying to obtain the elevation on the map? Perhaps the map has not yet loaded when you're trying to obtain the elevation? I am able to get the elevation to return using the following code:

[code]

[2022-11-07 20:32] lpeancovschi commented on #1693
Thanks for your reply @ZiZasaurus,

I still can't extract the elevation data. I created a new project to try it out, here's the code:

[code]

The elevation still returns `nil` every time I try to access it... Can you please share your map initialization code?

Thank you

[2022-11-07 23:19] JenishKananiLime opened #1697 "Annotation touch events not triggering in v10.10"
## Environment

- Xcode version:
- iOS version:
- Devices affected:
- Maps SDK Version:

## Observed behavior and steps to reproduce

## Expected behavior

## Notes / preliminary analysis

## Additional links and references

[2022-11-08 08:38] nijs9 opened #1698 "Using custom tiles in Offline manager"
I'm trying to implement the Offline manager in our iOS app (latest version of Mapbox SDK - https://docs.mapbox.com/ios/maps/guides/offline/). This works fine as long as I use tiles hosted in my mapbox account. When I use my own raster tiles (hosted on my server), nothing happens when I try to download the offline maps.

Can you no longer download your own hosted maps for offline use in v10? Or is

[2022-11-08 13:48] ZiZasaurus commented on #1697
@JenishKananiLime can you please provide additional information regarding what with the touch events is broken? We introduced the ability to use long press to drag annotations in v10.10. Is the issue with long press recognition or tapping?

[2022-11-08 13:52] jojost1 commented on #1024
Any updates on this? Wondering if this is something that we can expect to return to Mapbox or not.

[2022-11-08 14:31] ZiZasaurus commented on #1628
@ibmeister could you please provide a screen recording of the jerky behavior? Additionally, what version are you experiencing this behavior on?

[2022-11-08 18:04] JenishKananiLime commented on #1697
Hi @ZiZasaurus the gesture event callbacks aren't being triggered

func gestureManager(_ gestureManager: GestureManager, didBegin gestureType: GestureType) {}

  func gestureManager(_ gestureManager: GestureManager, didEnd gestureType: GestureType, willAnimate: Bool) {
    if !willAnimate {
      handleGesture(gestureType: gestureType)
      lastGesture = gestureType
      lastMapCenter = mapView?

[2022-11-08 18:24] JenishKananiLime commented on #1697
@ZiZasaurus doesn't even get fired in the Mapbox library its self, there isn't any code changes we do we just update the library to v10.10 and tap stopps working completely

[2022-11-08 18:39] johnnewman commented on #1569
Thank you @ZiZasaurus!

[2022-11-08 20:12] jumbopilot commented on #1337
Hi guys, I do experience pretty same resource consumption issue with V10.6.0 (also since I've migrated from V6) on iOS 15/16.

In my case, I do programmatically display and dismiss one and the same Mapview a second time in a separate view that overlays the basic one.

Mapbox seems to be making **excessive memory allocations** every time a map view is presented, but **not releasing them when the vi

[2022-11-09 03:50] MICHELLGRONER88 opened #1701 "I'm not sure"
## Environment

- Xcode version:
- iOS version:
- Devices affected:
- Maps SDK Version:

## Observed behavior and steps to reproduce

## Expected behavior

## Notes / preliminary analysis

## Additional links and references

[2022-11-09 09:27] mihahoz opened #1704 "High battery usage while in the background"
## Environment

- Xcode version: 14.1 (14B47b)
- iOS version: 16.1
- Devices affected: All
- Maps SDK Version: v10.9.0

## Observed behavior and steps to reproduce

When a user gives us the "Always" location permission and we use our own [custom location provider](https://docs.mapbox.com/ios/maps/guides/user-location/#custom-location-providers), as described in the developer docs, the app consumes

[2022-11-09 11:51] lpeancovschi commented on #1693
Kind ping @ZiZasaurus,

Would you be able to share your map configuration or suggest if any other config is required?

Thank you 🙏

[2022-11-09 13:56] #1701 closed

[2022-11-09 14:53] ZiZasaurus commented on #1693
@lpeancovschi it doesn't seem as though you are have a raster DEM source added to the map, which is where that elevation data would be coming from. If you add that layer, like in [this example](https://github.com/mapbox/mapbox-maps-ios/blob/main/Apps/Examples/Examples/All%20Examples/TerrainExample.swift) and attempt to find the elevation at a point you should receive elevation data.

[2022-11-09 16:09] ZiZasaurus commented on #1648
@teradyl thank you for reaching out. If the cameraChanged code works for you but is just called too often, you can [debounce it](https://blog.tarkalabs.com/all-about-debounce-4-ways-to-achieve-debounce-in-swift-e8f8ce22f544), or publish elements only after a specified time interval elapses between events.

[2022-11-09 18:18] lpeancovschi commented on #1693
That worked, thank you @ZiZasaurus!

[2022-11-09 18:18] #1693 closed

[2022-11-10 11:04] simozon commented on #1430
Hello @ZiZasaurus, we have seen this issue again recently (Mapbox 10.7.0) and we're currently investigating. Come back to you after having more info on how to reproduce it.

[2022-11-10 11:18] ghraibeh commented on #1580
I'm facing the same issue. We have downgraded to 10.6.0 and everything is working fine now

[2022-11-10 11:48] evil159 commented on #1580
@ghraibeh This issue is fixed in [v10.10.0-beta.1](https://github.com/mapbox/mapbox-maps-ios/releases/tag/v10.10.0-beta.1).

[2022-11-11 14:27] ZiZasaurus commented on #1697
@JenishKananiLime thank you for reporting. A fix will be included in the next release.

[2022-11-11 14:35] ZiZasaurus commented on #1698
@nijs9, Please use the OfflineRegionManager if you would like to use third party tiles. We have an example of its use [here](https://github.com/mapbox/mapbox-maps-ios/blob/main/Apps/Examples/Examples/All%20Examples/OfflineRegionManagerExample.swift).

[2022-11-11 14:35] #1698 closed

[2022-11-11 14:56] ZiZasaurus commented on #1624
Thank you for reaching out to support. You can use the following snippet below to accomplish your use case.

[code]

[2022-11-11 14:56] #1624 closed

[2022-11-11 16:11] ZiZasaurus commented on #1484
Closing ticket but please feel free to reopen if you're still experiencing this issue.

[2022-11-11 16:11] #1484 closed

[2022-11-11 16:37] sarath40158 commented on #1436
@mfazekas @macdrevx  @maxmiranda
Any Update on this issue ?

[2022-11-11 17:09] maxmiranda commented on #1436
Might not be most satisfactory answer but for me it literally just stopped ahppening out of the blue after a certain point. Maybe it takes time for Mapbox to get used to rendering all your features, i have no idea?

[2022-11-11 17:40] ZiZasaurus commented on #1557
@JenishKananiLime to confirm, you are trying to pinch while keeping the finger you were using to pan on the screen? You aren't removing your finger before attempting the pinch gesture?

[2022-11-11 17:41] #1581 closed

[2022-11-11 17:41] #1599 closed

[2022-11-12 01:31] wmurmann commented on #1569
This is still happening for me on v10.9.1

[2022-11-13 17:23] JanTG1 opened #1721 "Fatal Crash with DefaultLocationManagerDelegate when sending fast requests"
## Environment

- Xcode version: 14.1
- iOS version: 16.0.2
- Devices affected: all I could test on, simulator and real devices.
- Maps SDK Version: 10.6

## Observed behavior and steps to reproduce

Have a map view and add a long press recognizer to it, which calculates a route from the current location to that specific point.
Launch the app and try to long press quickly, or alternatively long-pr

[2022-11-14 10:26] sarath40158 commented on #1436
@maxmiranda

- You can simple test this trying to load linePattern with  LineLayer see code below
Issue :
  On initial load at current zoom, Doesn't render any linePattern of LineLayer
  Once if we zoom In or Zoom Out it loads the linePattern image

https://user-images.githubusercontent.com/94572332/201636794-1b20da6b-b7f9-474e-8395-ea267618b862.mov

[code]

[2022-11-14 19:17] ZiZasaurus commented on #1721
@JanTG1 are you waiting until the map view or style have loaded before requesting the location/ calculating the route?

[2022-11-14 19:18] #1697 closed

[2022-11-14 19:30] ZiZasaurus commented on #1655
@rouviere were you able to get this resolved?

[2022-11-14 20:51] andersoncanteiro commented on #1637
@ZiZasaurus
Hi, hope you are doing well.

We still have this crash. Here it is our pod:
[code]

- Xcode version: 14.0.1
- iOS version: iPadOS 16.1.1
- Devices affected: iPad mini (5th generation)
- Maps SDK Version: 10.9.0-rc.1

[code]

[2022-11-15 11:27] JanTG1 commented on #1721
@ZiZasaurus I am not checking that in my code as far as I understand, but I do center the map on the user's current location in viewDidAppear with a 0.1s delay, which seems to always work no problem. Meaning I should have the user's location at the time of the crash. I don't try to request the location via long press before the map has been centered on the user.

[2022-11-15 12:29] fawzirifai opened #1728 "LocationIndicatorLayer does not get back by calling queryRenderedFeatures"
## Environment

- Xcode version: 14.1
- iOS version: 16.1.1
- Devices affected: All devices
- Maps SDK Version: 10.10-beta.1

## Observed behavior and steps to reproduce

I want to handle tap gestures for a custom LocationIndicatorLayer layer, but when I call queryRenderedFeatures I do not get the feature.

[2022-11-15 15:43] ZiZasaurus commented on #1704
@mihahoz thank you for reporting. I have brought this to the larger team for investigation and once we have updates we will post them here.

[2022-11-15 16:34] #1314 closed

[2022-11-15 16:41] ZiZasaurus commented on #1721
@JanTG1, I'm not sure what `DefaultLocationManagerDelegate.locationManager(_:didChangeAutorization)` is, as our API is [locationManagerDidChangeAuthorization(_:)](https://docs.mapbox.com/ios/maps/api/10.6.0/Classes/AppleLocationProvider.html#/c:@CM@MapboxMaps@objc(cs)AppleLocationProvider(im)locationManagerDidChangeAuthorization:). Can you please use this API, along with our most recent version of

[2022-11-15 17:20] ZiZasaurus commented on #1615
@mysport12 can you share the styleurl with me? Additionally, are you referencing a style that already has terrain turned on or uses the raster dem source or are you adding this layer at runtime?

[2022-11-15 17:51] mysport12 commented on #1615
@ZiZasaurus I shared the style url earlier in the conversation. As mentioned, turning on 3D terrain or adding the raster-dem source in Studio causes the issue. Adding the raster-dem source client side at runtime is fine. But adding it at runtime does not allow us to download it for offline use since it is not part of the style.

[2022-11-15 17:54] ZiZasaurus commented on #1615
Which seems odd, because I'm able to enable 3D terrain in the Studio style and then reference it in the offline example with no issues. Can you please try this on the newest version of our SDK, v10.9.1?

[2022-11-16 10:24] sarath40158 commented on #1436
Any one facing same issue I has temporary fix

File : RCTMGLStyle.m
replace : ==> linePattern Prop

From :
[code]
To :

[code]

If any one facing pattern issue with images running on `main thread` and `RCTMGLUtils fetchImage ` had some issue in rendering the image on load

[2022-11-16 18:33] ZiZasaurus commented on #1503
Thank you for reporting this. I have brought this to the larger team for investigation and will follow up here once I have updates.

[2022-11-16 18:37] ZiZasaurus commented on #1448
@Asheshp23, thank you for reporting this. Are you able to use UIViews instead for your ViewAnnotations?

[2022-11-16 18:43] ZiZasaurus commented on #1423
@mobihunterz to accomplish your use case, you can either switch to point annotations or use the view annotation update method specified [here](https://docs.mapbox.com/ios/maps/api/10.9.1/Classes/ViewAnnotationManager.html#/s:10MapboxMaps21ViewAnnotationManagerC6update_7optionsySo6UIViewC_AA0cD7OptionsVtKF).

[2022-11-16 19:05] ZiZasaurus commented on #1615
One additional question for you -- are you seeing this behavior in the examples app or in your app? If it's in your app, can you please test this out in our Examples app instead? Your app is built using React Native, correct?

[2022-11-17 00:13] ZiZasaurus commented on #1728
@fawzirifai thank you for reaching out. The behavior you're experiencing is normal, as the location indicator is not a tile feature.

[2022-11-17 08:48] AlexaderDNT commented on #1677
When i update to 10.9.1  @ZiZasaurus
Fatal Exception: Bindgen internal error

Fatal Exception: Bindgen internal error
0  CoreFoundation                 0x9e88 __exceptionPreprocess
1  libobjc.A.dylib                0x178d8 objc_exception_throw
2  CoreFoundation                 0xf9c58 __CFDictionaryCreateGeneric
3  MapboxCoreMaps                 0x385c4 (Missing UUID eb6c9e5648933676b5d6945535786a

[2022-11-18 14:03] ibmeister commented on #1628
Hi @ZiZasaurus,

I created a more specific/reproducible issue for this. Please take a look. Should happen if you run the sample code on first install https://github.com/mapbox/mapbox-maps-ios/issues/1679

[2022-11-18 14:04] ibmeister commented on #1679
Just bumping this

[2022-11-18 16:47] johnnewman commented on #1191
Hi @ZiZasaurus, I've tried style layer pulses on SDK 10.9.1 using both approaches from the description. Unfortunately, both still consume around 40% of the CPU on an iPhone 12 Pro running iOS 16.0. View-based CoreAnimation APIs are still consuming around 3% of the CPU. Below are some Xcode debugger screenshots.

Style layer transition properties ([gist](https://gist.github.com/johnnewman/266f92168

[2022-11-18 17:51] johnnewman commented on #1569
@ZiZasaurus this issue is still occurring for me in v10.9.1 as well. Can you reopen this ticket?

Below is a screen recording using the [gist](https://gist.github.com/johnnewman/84f86a23a33cab864570fa542632930b) from the description.
- The view-based annotation first appears in the top left corner when the app starts. [bug]
- When I pan to the view's coordinate, it moves from the corner to its exp

[2022-11-18 17:56] ZiZasaurus commented on #1503
While the team is working on this, a workaround would be to make sure that your polygon's last point is the same as its first point (creating a closed polygon), which will prevent this behavior.

[2022-11-18 19:45] andersoncanteiro commented on #1637
Still happens mapbox 10.9.1

[2022-11-19 13:35] #1427 closed

[2022-11-19 13:44] ZiZasaurus commented on #1679
@ibmeister I'm unable to reproduce the jerky behavior on first install using v10.10.rc.1. Can you please test with this version and let me know if you're still experiencing this? I've included a screen recording below:

https://user-images.githubusercontent.com/44972592/202853660-893d1b9d-abe8-44d7-94f7-f5ed027218be.MP4

[2022-11-19 13:47] ZiZasaurus commented on #1628
@ibmeister, closing this ticket as a duplicate of #1679 to track responses in one ticket.

[2022-11-19 13:47] #1628 closed

[2022-11-19 13:54] #1423 closed

[2022-11-19 14:03] ZiZasaurus commented on #1002
Closing this ticket, but please feel free to reopen if you continue to experience this behavior.

[2022-11-19 14:03] #1002 closed

[2022-11-19 19:08] Gnative commented on #1508
I can report for me that i'm no longer seeing this issue on iPhone 7 with more current versions of the Maps SDK.

[2022-11-19 19:32] ZiZasaurus commented on #1508
Fantastic, @Gnative thank you for following up! @akirmse, @RodrigoSAlves can you please try on the newest version of the Maps SDK to verify this issue is resolved?

[2022-11-21 10:28] mic12130 opened #1744 "Pinch gesture not recognized on trackpad"
## Environment

- Xcode version: 14.1
- iOS version: 16.1
- Devices affected: All devices with a trackpad connected
- Maps SDK Version: 10.9.1

## Observed behavior and steps to reproduce

When performing a pinch gesture on a connected trackpad, there is no change on the map view, instead of the expected behavior of zooming in/out (this is what MapKit looks like).

This may affect many scenarios i

[2022-11-21 15:28] johnnewman opened #1746 "Removing PointAnnotations from a PointAnnotationManager causes style layer images to disappear"
## Environment

- Xcode version: 14.0.1
- iOS version: 16.0
- Devices affected: All
- Maps SDK Version: 10.10.0-rc.1, 10.9.1, and 10.9.0 (the bug is not present on 10.8.1 and earlier)

## Observed behavior and steps to reproduce

In my app, I draw PointAnnotations in multiple style layers using multiple PointAnnotationManagers. In SDK 10.9.0 and above, removing PointAnnotations from one PointAnnot

[2022-11-21 21:48] hojatdelfan opened #1748 "The problem of lag and performance in displaying the ViewAnnotations with moving the map"
## Environment

- Xcode version: 14.1
- iOS versions: 15.6, 16.1
- Devices affected: iPhone 6s Plus, iPhone SE 2020 , Simulator iPhone 14
- Maps SDK Version: 10.9.1

## Observed behavior and steps to reproduce
The mapbox V10.X introduced the view annotation which is really great for our needs.
To add some custom markers, it is necessary to use the ViewAnnotations, But according to the video below,

[2022-11-21 22:53] ibmeister commented on #1679
@ZiZasaurus tested it on the latest rc branch and there's still some lag, but it seems to be considerably less laggy. do you happen to know the PR that improved it?

https://user-images.githubusercontent.com/11130748/203174141-a94ac92b-03dd-4e75-b427-059b6fb020b6.MP4

[2022-11-22 01:50] akirmse commented on #1508
I just tried 10.9.1 and it seems to work.

On Sat, Nov 19, 2022 at 11:32 AM ZiZi ***@***.***> wrote:

[2022-11-22 13:56] ZiZasaurus commented on #1508
Fantastic, yes it was resolved in 10.9.0. I will close this ticket out, but please feel free to reopen if the issue resurfaces.

[2022-11-22 14:49] johnnewman commented on #1746
This bug appears to have been introduced with this PR https://github.com/mapbox/mapbox-maps-ios/pull/1583, where PointAnnotationManagers remove style images that its annotations are no longer using. One fix could be to ensure that PointAnnotationManagers take into account images shared across multiple managers.

[2022-11-22 15:57] johnnewman commented on #1569
After trying again on v10.10.0-rc.1, this bug appears to be fixed!

[2022-11-22 16:46] harikhalsa commented on #1748
@hojideli can you test out using the method [presentsWithTransaction](https://docs.mapbox.com/ios/maps/api/10.6.1/Classes/MapView.html#/s:10MapboxMaps7MapViewC23presentsWithTransactionSbvp)? You'll want to set it to true: `mapView.presentsWithTransaction = true`.

[2022-11-22 20:39] mfazekas opened #1751 "Adding linePattern image after render doesn't shows on initial zoom level"
## Environment

- Xcode version: 14.1
- iOS version: Simulator iOS 16.1
- Devices affected: Simulator iOS 16.1/iPhone 14 Pro
- Maps SDK Version: 10.10.0-rc.1, 10.9.0

## Observed behavior and steps to reproduce

Adding image of linePatter after the line already rendered, doesn't apply the pattern on the current zoom level, just on smaller and larger zooms.

[code]

https://user-images.githubuserco

[2022-11-23 11:53] AlexaderDNT opened #1752 "New crash when closing and open the app"
## Environment

- Xcode version: 14.1
- iOS version: 16.1.1
- Devices affected:
- Maps SDK Version: 10.9.1

![Screenshot 2022-11-23 at 12 34 08](https://user-images.githubusercontent.com/64775721/203536993-b8d8b8ec-878a-4cfa-9bc8-a1d89893f1b5.png)
![Screenshot 2022-11-23 at 12 51 38](https://user-images.githubusercontent.com/64775721/203540215-2708f71c-775e-4965-806a-5d622fb03e63.png)

[2022-11-23 13:19] KiwiKilian commented on #1751
Possibly a similar or same problem as https://github.com/mapbox/mapbox-maps-ios/issues/1436.

[2022-11-23 17:16] futurecan514 opened #1754 "Line Layer Issue with IOS 16.1"
## Environment

- Xcode version: 14.1
- iOS version: 16.1
- Devices affected: iPhone 14 Pro Max / iPhone 13 Pro Max
- Maps SDK Version: 10.8.1

## Observed behavior and steps to reproduce
Following snippet is the one used to draw line layer for ride coordinates on the map, it works on iOS version 15.x and 16.0 but doesn't work on 16.1:
[code]

![photo_2022-11-23_12-04-19](https://user-images.githu

[2022-11-24 09:30] hojideli commented on #592
@ZiZasaurus
Using [GestureManagerDelegate](https://docs.mapbox.com/ios/maps/api/10.0.0/Protocols/GestureManagerDelegate.html) may be suitable for operations that are related to the hand itself, but if other operations affect map events, then gestures alone are not sufficient.
for example:
When we want to move the map camera to a desired location, we use the following functions
[code]
Now, after th

[2022-11-24 13:35] alexshalamov commented on #1637
@andersoncanteiro Would you be able to provide an example project that reproduces the issue?

[2022-11-25 10:12] hojideli commented on #1748
@harikhalsa
Setting this field to the map improved a little lag and performance, but it is still not smooth.
Overall, it has improved compared to the previous version.

[2022-11-26 16:09] HuzarO opened #1756 "App Crash on calling Camera.setCamera method."
## Environment

- Xcode version: 14.1
- iOS version: 16.1
- Devices affected: iPhone 12 and perhaps any other.
- Maps SDK Version: 10.0.0-beta.59

## Observed behavior and steps to reproduce

I'm using `react-native-skia` library, inside `useTouchHandler` on `onActive` which is called on every touch event inside `Canvas`. The reason for that is, I want replicate map movement on touch from Mapbox t

[2022-11-26 16:27] #1756 closed

[2022-11-27 11:27] fawzirifai opened #1757 "Crash"
## Environment

- Xcode version: 14.1
- iOS version: iOS 16.0
- Devices affected: iPhone 8 Plus
- Maps SDK Version: 10.6.0

The application has crashed only once.
<img width="1440" alt="Screenshot 2022-11-27 at 2 24 37 PM" src="https://user-images.githubusercontent.com/109214745/204132712-604b840d-0835-480e-a17a-ea90726dcd7d.png">

[2022-11-28 15:26] ZiZasaurus commented on #1751
Thank you for reporting. This has been brought to the larger team for investigation. As soon as there are any updates, I will post them here.

[2022-11-28 18:28] ZiZasaurus commented on #1757
@fawzirifai, thank you for reporting. As this has only happened once, can you please attempt to reproduce on the latest version of our SDK, v10.9.1 and let us know if it occurs again?

[2022-11-28 23:38] jameshurst opened #1760 "Snapshotter init deadlocks waiting for TelemetryService destructor"
## Environment

- Xcode version: 14.1
- iOS version: 16.1
- Devices affected: all
- Maps SDK Version: a138e84bd04e82a509661ddc3e134cd071f48e89

## Observed behavior and steps to reproduce

When initializing a Snapshotter the main thread gets locked up waiting for the TelemetryService destructor.

This issue still occurs when using mapbox-events-ios v1.0.10.

<img width="685" alt="Screen Shot 2022-

[2022-11-29 07:32] Lyle-Grandworks opened #1761 "Migration Issue (MGLUserLocationAnnotationView)"
## Environment

- Xcode version: 14
- iOS version: 16.1.1
- Devices affected:
- Maps SDK Version: v10.9.0

## Expected behaviour

MGLUserLocationAnnotationView used to display the Annotation (Pointer Image at User Location)
Called via:
[code]

## Notes / preliminary analysis
Is there any substitute for this? or alternate way of implementation
"import Mapbox" in files has been replaced by "import M

[2022-11-29 07:32] Lyle-Grandworks opened #1762 "Migration Issue (DrawRoute())"
## Environment

- Xcode version: 14
- iOS version: 16.1.1
- Devices affected:
- Maps SDK Version: v10.9.0

## Observed behavior and steps to reproduce
Upgrading Mapbox-iOS-SDK v6.3.0 to MapboxMaps v10.9.0
Unable to find migration code from Mapbox-iOS-SDK v6.3.0 to MapboxMaps v10.9.0
DrawRoute() function Syntax change as MGL Library has been dropped in MapboxMaps v10.9.0.

## Additional links and r

[2022-11-29 07:33] Lyle-Grandworks opened #1763 "Migration Issue (showWaypoints)"
## Environment

- Xcode version: 14
- iOS version: 16.1.1
- Devices affected:
- Maps SDK Version: v10.9.0

## Observed behaviour and steps to reproduce
Currently unable to find the Syntax change for showWaypoints in the process of Upgrading Mapbox-iOS-SDK v6.3.0 to MapboxMaps v10.9.0
Unable to find migration code from Mapbox-iOS-SDK v6.3.0 to MapboxMaps v10.9.0

## Expected behaviour
To show waypo

[2022-11-29 07:33] Lyle-Grandworks opened #1764 "Migration Issue (removeOverlays )"
## Environment

- Xcode version: 14
- iOS version: 16.1.1
- Devices affected:
- Maps SDK Version: v10.9.0

## Observed behaviour and steps to reproduce
Currently unable to find the Syntax change for removeOverlays in the process of Upgrading Mapbox-iOS-SDK v6.3.0 to MapboxMaps v10.9.0

## Expected behaviour
Remove MapView Overlays

## Notes / preliminary analysis
Is there any substitute for this?

[2022-11-29 13:47] andersoncanteiro commented on #1637
@alexshalamov to be honest, I am not able to reproduce by my self, it is only happening on production and it is random, not reproducible all time.
We are using custom geometry source as source type.

[2022-11-29 17:58] ZiZasaurus commented on #1760
@jameshurst thank you for reporting. The team is investigating and as soon as I have an update, I will provide it here.

[2022-11-29 21:05] andersoncanteiro commented on #1637
Here it is another Mapbox thread from the same crash

[code]

[2022-11-30 02:03] ZiZasaurus commented on #1754
@futurecan514, I'm not experiencing this behavior on 16.1 (please see screenshot below). Can you please attempt to reproduce this with the newest version of our SDK, v10.9.1?

![IMG_0864](https://user-images.githubusercontent.com/44972592/204689561-cd62a62d-9b02-4784-bbb1-59aa2cefdd98.PNG)

[2022-11-30 02:06] ZiZasaurus commented on #1746
@johnnewman thank you for reporting. I have brought this to the team for investigation and as soon as there is an update I will post it here.

[2022-11-30 02:16] ZiZasaurus commented on #1761
@Lyle-Grandworks, please see our location marker examples below:
- [BasicLocationPulsingExample.swift](https://github.com/mapbox/mapbox-maps-ios/blob/main/Apps/Examples/Examples/All%20Examples/BasicLocationPulsingExample.swift)
- [Custom2DPuckExample.swift](https://github.com/mapbox/mapbox-maps-ios/blob/main/Apps/Examples/Examples/All%20Examples/Custom2DPuckExample.swift)
- [Custom3DPuckExample.sw

[2022-11-30 02:21] ZiZasaurus commented on #1763
Please take a look at our Advanced Navigation example [here](https://docs.mapbox.com/ios/navigation/examples/advanced/), which demonstrates how to add and display waypoints along your route.

Additionally, you can find the migration guide for the Navigation SDK [here](https://docs.mapbox.com/ios/navigation/guides/migrate-to-v2/).

[2022-11-30 03:51] NiwakaDev commented on #1673
<h2>Environment</h2>
<ul>
<li>Xcode version: 14.1</li>
<li>iOS version: 16.1</li>
<li>Devices affected: Simulator</li>
<li>Maps SDK Version: 10.9.1</li>
</ul>

<h2>Reproducible code</h2>

The following code can reproduce the problem

[code]

[2022-11-30 03:52] NiwakaDev commented on #1673
I am addressing to solve this issue now.

[2022-11-30 07:26] Lyle-Grandworks commented on #1763
Thank you so much for the quick and helpful response @ZiZasaurus.
I'm now using: @IBOutlet weak var mapView: NavigationMapView!
Upon doing this and following the implementation, I have faced a new error.

I'm currently unable to set the MapStyle with a URL via "MapInitOptions".
Is there another implementation for this?or is there any documentation or example I could follow up on.
Much appreciated.

[2022-11-30 07:35] evil159 commented on #1437
This warning is addressed by in [v10.9.0](https://github.com/mapbox/mapbox-maps-ios/releases/tag/v10.9.0).

[2022-11-30 07:35] #1437 closed

[2022-11-30 14:18] ZiZasaurus commented on #1655
Closing this ticket. If you continue to experience issues with installing the dependencies, please create a support ticket at https://support.mapbox.com/hc/en-us/ and our support team will be happy to get you the answers you need.

[2022-11-30 14:18] #1655 closed

[2022-11-30 15:13] ZiZasaurus commented on #1752
@AlexaderDNT can you please provide some additional information so we can investigate this issue:

- What is happening in the app when this crash occurs?
- Can you provide us with a screenshot of your stack trace?
- Can you provide us with a sample app that reproduces this behavior?

[2022-11-30 19:25] ZiZasaurus commented on #1762
`MGLPolylineFeature` has been replaced by LineString, `MGLShapeSource` has been replaced by [GeojsonSource](https://docs.mapbox.com/ios/maps/api/10.9.1/Structs/GeoJSONSource.html) and `MGLLineStyleLayer` has been replaced by [LineLayer](https://docs.mapbox.com/ios/maps/api/10.9.1/Structs/LineLayer.html).

For more information on migrating from v6 to v10, you can find the migration guide for the Ma